<div ba-panel ba-panel-class="with-scroll">
  <div>
    <div class="row">
      <div class="col-xs-2">
        <search-common label="SEARCH_EVERYTHING" table-state="cods.tableState" refresh="cods.refresh()" columns="['orderCode','timeOfPayment','partnerBillOfLading','kaitoBillOfLading','nameOfCod','actualReceivedMoney','masterSearchName']"></search-common>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="cods.tableState" refresh="cods.refresh()" column="nameOfCod" data="cods.partners" label="NAME_OF_COD">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="cods.tableState" refresh="cods.refresh()" ng-model="cods.fromDate" column="timeOfPayment" label="TU_NGAY"
          type="greater" default="cods.default.search.startDate"></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="cods.tableState" refresh="cods.refresh()" column="timeOfPayment" label="DEN_NGAY" type="lesser" 
        default="cods.default.search.endDate"></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="cods.tableState" refresh="cods.refresh()" column="transactionStatus" data="[{value:'',label:'Tất Cả'},{value:'S1',label:'S1'},{value:'S2',label:'S2'},{value:'S3',label:'S3'},{value:'S4',label:'S4'},{value:'S8',label:'S8'}]"
          label="STATUS" >
        </search-checkbox>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="cods.tableState" refresh="cods.refresh()" column="orderCode" data="cods.myTransaction"
          label="MY_TRANSACTION" default="cods.default.search.orderCode">
        </search-checkbox>
      </div>

      <div class="col-xs-2 text-right pull-right">
        <div class="form-group">
          <span translate>ROWS_ON_PAGE</span>
          <label>
            <select class="form-control" ng-model="cods.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
            </select>
          </label>
        </div>
      </div>
      <div class="col-xs-10 text-right pull-righ btnPadding">
        <button type="button" ng-click="cods.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',cods.correctMultiData , 0)" class="btn btn-primary btn-with-icon" permission="Cods.UpdateCorrectMultiData">
          <i class="fa fa-check"></i>
          <span translate>UNCORRECT_DATA</span>
        </button>
        <!-- role = 3 : Quản trị tập trung được quyền ấn nút đúng dữ liệu  ng-if="cods.role == 3"-->
        <button type="button" ng-click="cods.confirmDialog('',cods.correctMultiData , 1)" class="btn btn-primary btn-with-icon" permission="Cods.UpdateCorrectMultiData">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button"  ng-click="cods.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',cods.confirm , 0)" class="btn btn-primary btn-with-icon" permission="Cods.UpdateConfirmMultiCodOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>UNCONFIRM_MAPPING</span>
        </button>
        <button type="button" ng-click="cods.confirmDialog('',cods.confirm , 1)" class="btn btn-primary btn-with-icon" permission="Cods.UpdateConfirmMultiCodOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <!-- <button type="button" ng-click="cods.createGroupCode()" class="btn btn-primary btn-with-icon" permission="Cods.UpdateCreateGroupCodeCodOfTransManage">
          <i class="fa fa-cube"></i>
          <span translate>CREATE_GROUP_CODE</span>
        </button> -->
        <!-- <button type="button" class="btn btn-default btn-with-icon" permission="Cods.GetAll" ng-click="cods.refresh()" ladda="cods.isLoading"></button> -->
        <button type="button" class="btn btn-default btn-with-icon pull-left" permission="Cods.GetAll" ng-click="cods.refresh()"
          ladda="cods.isLoading" data-spinner-color="#000" data-size="xs">
          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
    </div>
    <br>
    <table class="table table-striped table-bordered ng-isolate-scope" st-pipe="cods.init" st-table="cods.tableData">
      <thead>
        <tr class="sortable ">
          <!-- <th style="width:2%" class="text-center" row-select-all="cods.tableData" selected="cods.selection" ng-click="cods.selectAll(cods.tableData)">
          </th> -->
          <th style="width:2%">
            <label class="custom-checkbox text-center">
              <input type="checkbox" ng-checked="cods.isSelectAll" ng-click="cods.selectAll(cods.tableData)" ng-model="checkbox">
              <span>
              </span>
            </label>
          </th>

          <th st-sort="timeOfPayment" translate>DATE</th>
          <th st-sort="partnerBillOfLading" translate>PARTNER_BILL_OF_LADING</th>
          <th st-sort="kaitoBillOfLading" translate>KAITO_BILL_OF_LADING</th>
          <th st-sort="orderCode" translate>ORDER_CODE</th>
          <th st-sort="masterSearchName" translate>THONG_TIN_HOC_VIEN</th>
          <th st-sort="nameOfCod" translate>NAME_OF_COD</th>
          <th st-sort="groupCode" translate>GROUP_CODE</th>
          <th st-sort="transactionStatus" translate>TRANSACTION_STATUS</th>
          <!-- <th translate>FAST_ID</th> -->
          <th st-sort="actualReceivedMoney" translate>AMOUNT_MONEY</th>
          <!-- <th st-sort="groupCode" translate>GROUP_CODE</th> -->
          <th style="width:4%"></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <!-- <input st-search="timeOfPayment" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"/> -->
          </th>
          <th>
            <input st-search="partnerBillOfLading" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'PARTNER_BILL_OF_LADING' }"/>
          </th>
          <th >
            <input st-search="kaitoBillOfLading" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'KAITO_BILL_OF_LADING' }"/>
          </th>
          <th>
            <input st-search="orderCode" class="input-sm form-control search-input" type="search"
            translate-attr="{ placeholder: 'ORDER_CODE' }"/>
          </th>
          <th >
            <input st-search="masterSearchName" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'THONG_TIN_HOC_VIEN' }"/>
          </th>
          <th>
            <input st-search="nameOfCod" class="input-sm form-control search-input" type="search"
            translate-attr="{ placeholder: 'NAME_OF_COD' }"/>
          </th>
          <th>
              <input st-search="groupCode" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'GROUP_CODE' }"/>
            </th>
          <th>
            <input st-search="transactionStatus" class="input-sm form-control search-input" type="search"
            translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"/>
          </th>
          <!-- <th>
              <input st-search="fastId" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'FAST_ID' }"/>
          </th> -->
          <th>
            <input st-search="actualReceivedMoney" class="input-sm form-control search-input" type="search"
            translate-attr="{ placeholder: 'AMOUNT_MONEY' }"/>
          </th>
          <th></th>
        </tr>

      </thead>
      <tbody ng-show="!cods.isLoading">
        <tr ng-repeat="item in cods.tableData track by $index" ng-class="{info : item.checked}">
          <!-- <td row-select="item" ng-click="cods.toggleSelection(item.id)"></td> -->
          <td>
            <div class="checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" ng-checked="cods.selection.indexOf(item.id) > -1" ng-click="cods.toggleSelection(item.id)">
                <span>
                </span>
              </label>
            </div>
          </td>
          <td>{{item.timeOfPayment | appDate}}</td>
          <td>{{item.partnerBillOfLading}}</td>
          <td>{{item.kaitoBillOfLading}}</td>
          <td ng-if="item.orderCode">{{item.orderCode.toUpperCase()}}</td>
          <td>{{item.masterSearchName}}</td>
          <td ng-if="!item.orderCode" translate>NOT_INFORMATION</td>
          <td>{{item.nameOfCod}}</td>
          <td>{{item.groupCode ? item.groupCode.toUpperCase() : ""}}</td>
          <td ng-if="item.transactionStatus == null" translate>NOT_INFORMATION</td>
          <td ng-if="item.transactionStatus != null" translate>{{item.transactionStatus}}</td>
          <!-- <td ng-if="item.fastId == null" translate>NOT_INFORMATION</td>
          <td ng-if="item.fastId != null" translate>{{item.fastId}}</td> -->
          <td class="text-right">{{item.actualReceivedMoney || 0 |number:0}} đ</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="Cods.GetById" ui-sref="transactionManagement.codDetail({codId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="cods.isLoading">
        <tr>
          <td colspan="11" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-center">
            <div st-pagination="" st-items-by-page="cods.tablePageSize" st-displayed-pages="5"></div>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumMoney |number:0}} đ</i>
            </b>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>