<div ba-panel ba-panel-class="">
  <div class="">
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <input date-range-picker class="form-control date-picker" type="text" ng-model="crossCheckCod.datePicker.date" options="crossCheckCod.datePicker.options"
          />
        </div>
      </div>
      <div class="col-xs-4">
        <button type="file" class="btn btn-primary btn-with-icon" ng-if="crossCheckCod.isShowImport" ngf-pattern=".xls,.xlsx" accept=".xls,.xlsx"
          ngf-select="crossCheckCod.import($file, $invalidFiles)" ngf-max-size="28MB" ladda="crossCheckCod.isImporting" data-spinner-color="#000"
          data-size="xs">
          <i class="fa fa-upload"></i>
          <span translate>IMPORT_EXCEL</span>
        </button>
      </div>
      <div class="col-xs-4 text-right">
        <button type="button" class="btn btn-info btn-with-icon" ng-click="crossCheckCod.createGroupCode()">
          <span translate>CREATE_GROUP_CODE</span>
        </button>
        <a ng-href="{{crossCheckCod.linkDownload}}" download class="btn btn-default">
          <i class="fa fa-download"></i>
          <span translate>DOWNLOAD_EXCEL_TEMPLATE</span>
        </a>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row" ng-if="crossCheckCod.isShowTable">
      <div class="col-md-12">
        <table class="table table-bordered table-hover" st-table="displayedCrossCheckCods" st-safe-src="crossCheckCod.tableData">
          <thead>
            <tr class="active">
              <th style="width:2%" rowspan="2">
                <label class="custom-checkbox text-center" ng-hide="crossCheckCod.isHideCheckAll">
                  <input type="checkbox" ng-checked="crossCheckCod.isSelectAll" ng-click="crossCheckCod.selectAll(crossCheckCod.tableData)"
                    ng-model="checkbox" >
                  <span>
                  </span>
                </label>
              </th>
              <th rowspan="2">#</th>
              <th class="text-center" colspan="3">EXCEL</th>
              <th class="text-center">SSRS</th>
              <th class="text-center" translate>STATUS</th>
            </tr>
            <tr class="active">
              <th translate>DOI_TAC</th>
              <th translate>PARTNER_BILL_OF_LADING</th>
              <th translate>TONG_TIEN_NHAN</th>
              <th translate>TONG_TIEN_THU_HO</th>
              <th>
                <select st-search="status" class="input-sm form-control search-input">
                  <option value="" translate>ALL</option>
                  <option value="0" translate>NOTFOUND_IN_SSRS</option>
                  <option value="1" translate>CORRECT</option>
                  <option value="2" translate>INCORRECT</option>
                </select>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in displayedCrossCheckCods track by $index">
              <td>
                <div class="checkbox" ng-if="item.status == 1">
                  <label class="custom-checkbox">
                    <input type="checkbox" ng-checked="crossCheckCod.selection.indexOf(item.crossCheckId) > -1" ng-click="crossCheckCod.toggleSelection(item.crossCheckId)">
                    <span>
                    </span>
                  </label>
                </div>
              </td>
              <td>{{$index+1}}</td>
              <td>{{item.data.nameOfCod}}</td>
              <td>{{item.data.partnerBillOfLading}}</td>
              <td class="text-right">{{item.data.actualReceivedMoney|number:0}}</td>
              <td class="text-right">{{item.money|number:0}}</td>
              <td ng-if="item.status===0" translate class="warning">NOTFOUND_IN_SSRS</td>
              <td ng-if="item.status===1" translate class="success">CORRECT</td>
              <td ng-if="item.status===2" translate class="danger">INCORRECT</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="text-center">
                <div st-pagination="" st-items-by-page="25" st-displayed-pages="5"></div>
              </td>
              <td class="text-right padding">
                <b>
                  <i> {{sumExcelMoney |number:0}} ₫ </i>
                </b>
              </td>
              <td class="text-right padding">
                <b>
                  <i> {{sumSsrsMoney |number:0}} ₫ </i>
                </b>
              </td>
              <td></td>
            </tr>
          </tfoot>
        </table>
       
      </div>
    </div>
  </div>
</div>