<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix hidden-xs">
    <i class="ion-ios-people" aria-hidden="true"></i>
    <span translate>UC_CUSTOMER_MANAGEMENT</span>
  </a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->

  <div class="user-profile clearfix">
<div class="text-center col-padding-top-inline "> Liên hệ SSRS: 0934.439.222 &nbsp; </div>
    <div class="al-user-profile" uib-dropdown>

      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{ userImageUrl }}">
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a ui-sref="profile"><i class="fa fa-user"></i><span translate>PROFILE</span></a></li>
        <li><a href class="signout" ng-click="signout()">
          <i class="fa fa-power-off"></i><span translate>SIGNOUT</span>
        </a></li>
      </ul>
    </div>
    <!-- <msg-center></msg-center> -->

    <ul class="al-msg-center clearfix">
      <li uib-dropdown>
        <a href uib-dropdown-toggle>
          <img ng-src="/assets/img/lang/{{ flags.selected }}.svg" style="width: 30px;">
        </a>
        <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
          <li>
            <i class="dropdown-arr"></i>
          </li>
          <li>
            <a href ng-click="changeLanguage('en')">
              <img ng-src="/assets/img/lang/{{ flags.en }}.svg" style="width: 30px;"> English
            </a>
          </li>
          <li>
            <a href ng-click="changeLanguage('vi')">
              <img ng-src="/assets/img/lang/{{ flags.vi }}.svg" style="width: 30px;"> Vietnam
            </a>
          </li>
          <li>
            <a href ng-click="changeLanguage('th')">
              <img ng-src="/assets/img/lang/{{ flags.th }}.svg" style="width: 30px;"> Thailand
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>