<div ng-init="cod.init()">
  <div class="col-md-9 col-md-9-padding">

    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate>THONG_TIN_CHUNG</H4>
      </div>
      <div class="panel-body">

        <div class="">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>DATE</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{cod.form.timeOfPayment | appDate }} </div>
          </div>
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>AMOUNT_MONEY</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{cod.form.actualReceivedMoney |number:0}} đ </div>
          </div>

          <br/>
          <br/>
          <br/>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>KAITO_BILL_OF_LADING</label>
          </div>

          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{cod.form.kaitoBillOfLading}}</div>
          </div>

          <div class="col-md-4"></div>
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NOTE</label>
          </div>
          <div class="col-md-10">
            <div class="bottom-border ng-binding">{{cod.form.note}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate> THONG_TIN_DON_HANG</H4>

      </div>
      <div class="panel-body">
        <div class="">

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
          </div>
          <div class="col-md-2 ui-select-padding" ng-show="cod.isShowEditOrderCode && (cod.form.transactionStatus == cod.transactionStatus.S1 || cod.form.transactionStatus == cod.transactionStatus.S3)">
            <ui-select ng-model="cod.form.donHang" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
              search-enabled="true" ng-change="cod.loadDetail(cod.form.donHang)" >
              <ui-select-match placeholder="{{cod.form.orderCode || 'chon Order Code...'}}">
                {{$select.selected.orderCode}}
              </ui-select-match>
              <ui-select-choices repeat="orderItem in cod.listOrder | filter: $select.search" style="width: 320px !important">
                <div ng-bind-html="orderItem.orderId | highlight: $select.search"></div>
                <small>{{orderItem.orderCode}} | {{orderItem.tvts}}</small>
              </ui-select-choices>
            </ui-select>
            <!-- <p>
              <b>{{cod.form.orderCode}}</b>
            </p> -->
            <!-- <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': cod.form.orderCode == null}">{{cod.form.orderCode}}</div> -->
          </div>
          <div class="col-md-2" ng-show="!cod.isShowEditOrderCode || (cod.form.transactionStatus == cod.transactionStatus.S2 || cod.form.transactionStatus == cod.transactionStatus.S4|| cod.form.transactionStatus == cod.transactionStatus.S8)">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': cod.form.orderCode == null}">
                  {{cod.form.orderCode}}
                </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TONG_SO_TIEN_PHAI_THU</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': cod.form.order.tongTienPhaiThu == null}">{{cod.form.order.tongTienPhaiThu |number:0}} 
                <span ng-if="cod.form.order.tongTienPhaiThu">đ</span> 
            </div>
          </div>
          <!-- <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': cod.form.order.orderStatusObject.name == null}">{{cod.form.order.orderStatusObject.name}} </div>
          </div> -->

          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TVTS</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': cod.form.order.tvts == null}">{{cod.form.order.tvts}}</div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>DA_THANH_TOAN</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': cod.form.order.tongTienDaThanhToan == null}">{{cod.form.order.tongTienDaThanhToan |number:0}}
              <span ng-if="cod.form.order.tongTienDaThanhToan">đ</span> 
            </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>CREATED_AT</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': cod.form.order.createdAt == null}">{{cod.form.order.createdAt | appDate}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panelCustom panelCodMinHeight">
      <div class="panel-heading">
        <h4 translate>CHUNG_TU</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>PARTNER_BILL_OF_LADING</label>
        </div>
        <div class="col-md-8">
          <div class="bottom-border ng-binding">{{cod.form.partnerBillOfLading}} </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
        </div>
        <div class="col-md-8">
          <!-- <select class="form-control" id="loaiGiaoDich" name="loaiGiaoDich" ng-model="cod.form.typeOfTransaction">
            <option ng-repeat="item in cod.listTypeOfTransaction" ng-value="{{item.id}}" translate>{{item.name}}</option>
          </select> -->
          <p>
            <b ng-if="cod.form.typeOfTransaction == null" translate>NOT_INFORMATION</b>
            <b ng-if="cod.form.typeOfTransaction != null" translate>{{cod.form.typeOfTransaction}}</b>
          </p>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANSACTION_STATUS</label>
        </div>
        <div class="col-md-8">
          <div>
            <p>
              <b ng-if="cod.form.transactionStatus == null" translate>NOT_INFORMATION</b>
              <b ng-if="cod.form.transactionStatus != null" translate>{{cod.form.transactionStatus}}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>FAST_ID</label>
        </div>
        <div class="col-md-8">
          <div>
            <p>
              <b ng-if="cod.form.fastId == null" translate>NOT_INFORMATION</b>
              <b ng-if="cod.form.fastId != null" translate>{{cod.form.fastId}}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>GROUP_CODE</label>
          </div>
          <div class="col-md-8">
            <div>
              <p>
                <b  translate>{{cod.form.groupCode ? cod.form.groupCode.toUpperCase() : ""}}</b>
              </p>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>
</div>

<div class="col-md-12 col-md-12-padding">
  <div class="panelCustom">
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered" id="step_two">
        <thead>
          <tr>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>STT</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>USER_CODE</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>HO_TEN_HOC_VIEN</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SDT</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>EMAIL</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>GOI_HOC_KHOA_HOC</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>GIA_BAN</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_DA_NOP</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_NOP</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>TONG_TIEN_CHUA_THANH_TOAN</label>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cod.form.orderDetails track by $index">
            <td class="text-center">{{ $index + 1 }}</td>
            <td class="text-left">
              <p>
                {{item.topicaUser.topicaUserId}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.topicaUser.fullName}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.topicaUser.phoneNumber1}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.topicaUser.email}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.package.maGoi}}
              </p>
            </td>
            <td class="text-right">
              <p>
                {{item.giaBanSauKhuyenMai |number:0}}
                <span>đ</span>
              </p>
            </td>
            <td class="text-right">
              <p>
                {{item.soTienDaNop - item.soTienNopHienTaiCu|number:0}}
                <span > đ</span>
              </p>
            </td>
            <td class="text-right">
              <p>
                {{item.soTienNopHienTai |number:0}}
                <span> đ</span>
              </p>
              <!-- <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="input-sm text-right" id="soTienNopHienTai" name="soTienNopHienTai"
                            ng-model="item.soTienNopHienTai" style="border: 1px solid #cbcbcb; border-radius: 5px; width: 91%"> <strong>đ</strong> -->
            </td>

            <td class="text-right">
              <p>
                {{item.giaBanSauKhuyenMai - item.soTienDaNop - item.soTru|number:0}} đ
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-2 text-left padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="cod.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div>
  <div class="col-xs-10 text-right padding5">
      <button type="button"  ng-click="cod.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',cod.correctSingleData , 0)" class="btn btn-primary btn-with-icon" - permission="Cods.UpdateCorrectSingleData"
      ng-show="cod.form.transactionStatus == cod.transactionStatus.S4 || cod.form.transactionStatus == cod.transactionStatus.S3">
        <i class="fa fa-check"></i>
        <span translate>UNCORRECT_DATA</span>
      </button>
    <button type="button" ng-click="cod.confirmDialog('',cod.correctSingleData , 1)" class="btn btn-primary btn-with-icon" - permission="Cods.UpdateCorrectSingleData"
    ng-show="cod.form.transactionStatus == cod.transactionStatus.S1 || cod.form.transactionStatus == cod.transactionStatus.S2">
      <i class="fa fa-check"></i>
      <span translate>CORRECT_DATA</span>
    </button>
    <button type="button" ng-click="cod.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',cod.confirm , 0)" class="btn btn-primary btn-with-icon" - permission="Cods.UpdateConfirmSingleCodOfTransManage"
    ng-show="cod.form.transactionStatus == cod.transactionStatus.S2 || cod.form.transactionStatus == cod.transactionStatus.S4">
      <i class="fa fa-anchor"></i>
      <span translate>UNCONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="cod.confirmDialog('',cod.confirm , 1)"  class="btn btn-primary btn-with-icon" - permission="Cods.UpdateConfirmSingleCodOfTransManage"
    ng-show="cod.form.transactionStatus == cod.transactionStatus.S1 || cod.form.transactionStatus == cod.transactionStatus.S3">
      <i class="fa fa-anchor"></i>
      <span translate>CONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="cod.save()" class="btn btn-primary btn-with-icon" ng-show="cod.form.transactionStatus == cod.transactionStatus.S1 
    || cod.form.transactionStatus == cod.transactionStatus.S3" permission = "Cods.Update">
      <i class="fa fa-floppy-o"></i>
      <span translate>SAVE</span>
    </button>
  </div>
</div>

</div>
</div>