<div ba-panel>
  <div>

    <div class="row">
      <div class="col-xs-2">
        <search-common label="SEARCH_EVERYTHING" table-state="pos.tableState" refresh="pos.refresh()" columns="['bank','bankAccount','sentReason','sentMoney','balance']"></search-common>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="pos.tableState" refresh="pos.refresh()" column="transactionStatus" data="pos.transStatus" label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="pos.tableState" refresh="pos.refresh()" column="sentTime" label="TU_NGAY" type="greater"
        default="pos.default.search.startDate" ></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="pos.tableState" refresh="pos.refresh()" column="sentTime" label="DEN_NGAY" type="lesser"
        default="pos.default.search.endDate" ></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="pos.tableState" refresh="pos.refresh()" column="orderCode" data="pos.myTransaction"
          label="MY_TRANSACTION" default="pos.default.search.orderCode">
        </search-checkbox>
      </div>
      <div class="col-xs-2 text-right pull-right">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="pos.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-xs-2 text-right pull-righ btnPadding">
        <button type="button" class="btn btn-default btn-with-icon" ng-click="pos.refresh()" ladda="pos.isLoading" data-spinner-color="#000"
          data-size="xs">
          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered " st-pipe="pos.init" st-table="pos.tableData">
      <br/>
      <thead>
        <tr class="sortable">
          <th style="width:3%"> STT</th>
          <th style="width:9%" st-sort="sentTime" translate>SENT_TIME</th>
          <th style="width:7%" st-sort="bank" translate>BANK</th>
          <th style="width:8%" st-sort="bankAccount" translate>BANK_ACCOUNT_NO</th>
          <th st-sort="noiDung" style="width:45%" translate>NOI_DUNG</th>
          <th class="text-right" st-sort="sentMoney" translate>SENT_MONEY</th>
          <th class="text-right" st-sort="balance" translate>OVER_BALANCE</th>
          <th st-sort="transactionStatus" style="width:8%" translate>STATUS</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="sentTime" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"
            />
          </th>
          <th>
            <input st-search="bank" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANK' }"
            />
          </th>
          <th>
            <input st-search="bankAccountNo" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANKACCOUNTNO' }"
            />
          </th>
          <th>
            <input st-search="sentReason" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'NOI_DUNG' }"
            />
          </th>
          <th>
            <input st-search="sentMoney" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_AMOUNT_MONEY' }"
            />
          </th>
          <th>
            <input st-search="balance" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BALANCE' }"
            />
          </th>
          <th>
            <input st-search="transactionStatus" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="!pos.isLoading">
        <tr ng-repeat="item in pos.tableData track by $index">
          <td>{{pos.tableState.pagination.start + $index+1}}</td>
          <td>{{item.sentTime | date : "dd/MM/yyyy HH:mm"}}</td>
          <td>{{pos.bankLabel[item.bank]}}</td>

          <td>{{item.bankAccountNo}}</td>
          <td>{{item.sentReason}}</td>
          <td class="text-right">{{item.sentMoney |number:0}} ₫ </td>
          <td class="text-right">{{item.balance |number:0}} ₫ </td>
          <td translate>{{item.transactionStatus}}</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" ui-sref="confirmMoney.posDetail({id:item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="pos.isLoading">
        <tr>
          <td colspan="8" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <div st-pagination="" st-items-by-page="pos.tablePageSize" st-displayed-pages="5"></div>
          </td>
          <td></td>
          <td class="text-right padding5 ">
            <b>
              <i> {{sumSentMoney |number:0}} ₫ </i>
            </b>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumBalance |number:0}} ₫ </i>
            </b>
          </td>
          <td></td>
          <td></td>

        </tr>


      </tfoot>
    </table>


    <br/>


  </div>
</div>