@import 'common';

// injector
// endinjector


div.panel.animated.zoomIn div.panel-body {
    padding: 10px 10px !important;
}

.padding-panel-5 {
    padding: 5px 5px !important;
}

.padding-panel-0-5 {
    padding: 0px 10px !important;
}
.pie-charts .description {
    font-size: 14px !important;
}
.uc-without-padding-left-right{
    padding: 0 0 !important;

}
 .uc-margin-left-5{
     margin-left: -5px;
 }

 .ssrs-padding-left-right-4{
    padding: 4px 4px;
 }

