<div class="form-group">
  <label translate>{{label}}</label>
  <div class="form-group">
    <input type="text" class="form-control" translate-attr="{ placeholder: 'INPUT_TEXT_TO_SEARCH' }" 
      ng-model="query" ng-model-options="{debounce:800}">
  </div>
</div>