<div class="channels-block" ng-class="{'transparent': transparent}">
  <div class="chart-bg"></div>
  <div class="traffic-chart" id="trafficChart">
    <div class="canvas-holder">
      <canvas id="chart-area" width="280" height="280"></canvas>
      <div class="traffic-text">
         {{giaTriCacKenh |number:0}}
        <span>Giá trị giao dịch</span>
      </div>
    </div>
  </div>


    <div class="channels-info" >
        <div>
            <div class="channels-info-item" ng-repeat="label in doughnutData.labels"
                 ng-init="i = $index; data = doughnutData.datasets[0]">
                <div class="legend-color" style="background-color: {{::data.backgroundColor[i]}}"></div>
                <p>{{::label}}  &nbsp;
                    <span class="channel-number">({{dataPercent[i] |number:'0'}}%)</span> 
<span class="channel-number">{{dataValue[i] |number:'0'}} &nbsp;</span>
                <div class="progress progress-sm channel-progress">
                    <div class="progress-bar " role="progressbar"
                         aria-valuenow="{{data.percentage[i]}}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{item.percentage}}">
                        <div class="TongGiaTri-text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

