<div ba-panel ba-panel-class="with-scroll" ng-init="s3300.init()">
  <div class="horizontal-scroll">
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label translate>DATE</label>
          <input date-range-picker class="form-control date-picker" 
            type="text" ng-model="s3300.datePicker.date" options="s3300.datePicker.options"/>
        </div>
      </div>
      <div class="col-xs-6 text-center">
          <h3 ng-model="tenBaoCao" style="color:#C39B64;">  {{tenBaoCao}}  </h3>
      </div>
      <div class="col-xs-2 text-right">
        <button class="btn btn-primary btn-with-icon" 
           permission="Reports.DownloadS3300" ng-click="s3300.download()"
           ladda="s3300.isExporting" data-spinner-color="#000" data-size="xs">
          <i class="fa fa-download" aria-hidden="true"></i>
          <span translate>DOWNLOAD_EXCEL</span>
        </button>
      </div>
      
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="active">
              <th translate>CODE</th>
              <th translate>TANG_1</th>
              <th translate>TANG_2</th>
              <th translate>TANG_3</th>
              <th translate>TANG_4</th>
              <th class="text-right" ng-repeat="x in s3300.data[0] track by $index">{{x.date|appDate}}</th>
              <th class="text-right" translate>TONG_TIEN</th>
            </tr>
          </thead>
          <tbody ng-show="!s3300.isLoading">
            <tr>
              <td></td>
              <td translate>TONG_THUC_THU_TU_KHACH_HANG_CA_TRONG_VA_NGOAI_TOPICA_HE_THONG_GHI_NHAN</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[0] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td translate>TONG_THUC_THU_TRONG_TOPICA_CHUA_DUOC_KTKH_GHI_NHAN</td>
              <td></td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[0] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Bank</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[0] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[0] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(0)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[1] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(1)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Cash</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[2] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[2] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(2)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[3] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(3)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td translate>TONG_THUC_THU_NGOAI_TOPICA_CHUA_DUOC_KTKH_GHI_NHAN</td>
              <td></td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[4] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>COD</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[4] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[4] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(4)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[5] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(5)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Payment gateway</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[6] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[6] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(6)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[7] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(7)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>POS</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[8] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[8] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(8)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[9] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(9)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td translate>TONG_THUC_THU_TRONG_TOPICA_DUOC_KTKH_GHI_NHAN</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[10] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td translate>KHACH_HANG_ĐEN_TOPICA</td>
              <td></td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[10] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Bank</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[10] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[10] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(10)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[11] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(11)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Cash</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[12] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[12] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(12)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[13] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(13)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td translate>DOI_TAC_DEN_TOPICA</td>
              <td></td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[14] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>COD</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[14] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[14] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(14)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[15] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(15)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Payment gateway</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[16] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[16] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(16)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[17] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(17)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>POS</td>
              <td></td>
              <td class="text-right" ng-repeat="x in s3300.data[18] track by $index"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>DA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[18] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(18)|number:0}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td translate>CHUA_XAC_DINH</td>
              <td class="text-right" ng-repeat="x in s3300.data[19] track by $index">{{x.money|number:0}}</td>
              <td class="text-right"><b>{{s3300.sum(19)|number:0}}</b></td>
            </tr>
          </tbody>
          <tbody ng-show="s3300.isLoading">
            <tr>
              <td colspan="{{6 + s3300.data[0].length}}" class="text-center" translate>LOADING</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>