<div ba-panel ba-panel-class="profile-page" ng-init="profile.init()">
  <div class="panel-content">
    <div class="row">
      <div class="col-md-4">
        <div class="userpic">
          <div class="userpic-wrapper">
            <img ng-src="{{ profile.data.imageUrl }}">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label" translate>EMAIL</label>
          <div class="col-sm-9">
            <label><b>{{ profile.data.email }}</b></label>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label" translate>FULL_NAME</label>
          <div class="col-sm-9">
            <label><b>{{ profile.data.fullName }}</b></label>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label" translate>CREATED_AT</label>
          <div class="col-sm-9">
            <label><b>{{ profile.data.createdAt | appDatetime }}</b></label>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label" translate>UPDATED_AT</label>
          <div class="col-sm-9">
            <label><b>{{ profile.data.updatedAt | appDatetime }}</b></label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table" st-table="displayedGroups" st-safe-src="profile.data.userGroups">
          <thead>
            <tr class="sortable">
              <th class="table-id" st-sort="name" st-sort-default="true" translate>NAME_USER_GROUPS</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in displayedGroups track by $index">
              <td class="table-id" translate>{{item.group.name}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center">
                <div st-pagination="" st-items-by-page="20" st-displayed-pages="5"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table" st-table="displayedRoutes" st-safe-src="profile.data.userRoutes">
          <thead>
            <tr class="sortable">
              <th class="table-id" st-sort="name" st-sort-default="true" translate>NAME_ROLE</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in displayedRoutes track by $index">
              <td class="table-id" translate>{{item.route.name}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center">
                <div st-pagination="" st-items-by-page="20" st-displayed-pages="5"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
