<div ba-panel ba-panel-class="with-scroll" ng-init="powerBI.init()">
  <table class="table table-stripped table-bordered table-hover" st-table="powerBIData" st-safe-src="powerBI.tableData">
    <thead>
      <tr>
        <th style="width: 2%">STT
        </th>
        <th st-sort="tenBaoCao" style="width: 10%" translate>ID
        </th>
        <th st-sort="tenBaoCao" style="width: 20%" translate>TEN_BAO_CAO
        </th>
        <th style="width: 10%">Link
        </th>
        <th style="width: 10%" translate>TUY_CHON</th>
      </tr>
      <tr>
        <th></th>
        <th> </th>
        <th> <input st-search="tenBaoCao" translate-attr="{ placeholder: 'SEARCH_BAO_CAO' }" class="input-sm form-control search-input"
            type="search" /> </th>
        <th></th>
        <th>
          <button title="Thêm mới" type=" submit " class="btn btn-success btn-xs " data-ng-click="add() ">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span translate>CREATE</span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in powerBIData track by $index">
        <td>{{$index+1}}
        </td>
        <td>
          <span data-ng-hide="editMode">{{item.id}}</span>
          <input type="text" class="form-control" data-ng-show="editMode" data-ng-model="item.id" ng-readonly="checkReadOnly" />
        </td>
        <td>
          <span data-ng-hide="editMode">{{item.tenBaoCao}}</span>
          <input type="text" class="form-control" data-ng-show="editMode" data-ng-model="item.tenBaoCao" ng-readonly="checkReadOnly" />
        </td>
        <td>
          <span data-ng-hide="editMode">
            <a ng-href="{{item.link}}">Link</a>
          </span>
          <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="item.link" />
        </td>
        <td>
          <button class="btn btn-info btn-xs" ui-sref="PowerBIDetail({PowerBIId: item.id})">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span translate>VIEW</span>
          </button>
          <button title="Chỉnh sửa" type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editPopUp(item)"
            ng-disabled="btnDisabled" class="btn btn-warning btn-xs">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span translate>EDIT</span>
          </button>
          <button title="Lưu" type="submit" data-ng-show="editModeInsert" data-ng-click="editMode = false; new(item)"
            ng-disabled="btnDisabled" class="btn btn-primary btn-xs">
            <i class="fa fa-save" aria-hidden="true"></i>
          </button>
          <button title="Lưu" type="submit" data-ng-show="editMode" data-ng-click="editMode = false; save(item)" class="btn btn-primary btn-xs"
            ng-disabled="btnDisabled">
            <i class="fa fa-save" aria-hidden="true"></i>
            <span translate>SAVE</span>
          </button>
          <button title="Hủy" type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-warning btn-xs"
            ng-disabled="btnDisabled">
            <i class="fa fa-close" aria-hidden="true"></i>
            <span translate>CANCEL</span>
          </button>
          <button title="Xóa" type="submit" class="btn btn-danger btn-xs" data-ng-click="removeRow(item)" ng-disabled="btnDisabled">
            <i class="glyphicon glyphicon-trash"></i>
            <span translate>DELETE</span>
          </button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
        </td>
        <td>
          <input type="text" class="form-control" data-ng-show="addShow" data-ng-model="item.tenBaoCao" translate-attr="{ placeholder: 'NHAP_TEN_BAO_CAO' }" />
        </td>
        <td>
          <input type="text" data-ng-show="addShow" class="form-control" data-ng-model="item.link" translate-attr="{ placeholder: 'NHAP_LINK' }" />
        </td>
        <td>
          <button title="Lưu" type="submit" data-ng-show="addShow" data-ng-click="editMode = false; new(item)" class="btn btn-primary btn-xs">
            <i class="fa fa-save" aria-hidden="true"></i>
            <span translate>SAVE</span>
          </button>
          <button title="Hủy" type="submit" data-ng-show="addShow" data-ng-click="editMode = false; cancel()" class="btn btn-warning btn-xs">
            <i class="fa fa-close" aria-hidden="true"></i>
            <span translate>CANCEL</span>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="10" st-displayed-pages="6"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>