<div class="form-group">
  <label ng-if="type==='greater'"><span translate>{{label}}</span> <span translate>GREATER</span></label>
  <label ng-if="type==='lesser'"><span translate>{{label}}</span> <span translate>LESSER</span></label>
  <label ng-if="type==='equal'" translate>{{label}}</label>
  <input date-range-picker class="form-control date-picker searchDateSingleDatePicker" 
    type="text" ng-model="datePicker.date" options="datePicker.options"/>
</div>