<div ng-init="phieuThuDiaPhuong.init()">
  <form name="phieuThuDiaPhuongForm" novalidate>
    <!-- <div class="col-xs-2">
  <search-common label="SEARCH_EVERYTHING" table-state="phieuThuDiaPhuong.tableState" refresh="phieuThuDiaPhuong.refresh()" columns="['nguoiNopTien']"></search-common>
</div>
<div class="col-xs-2">
  <search-checkbox table-state="phieuThuDiaPhuong.tableState" refresh="phieuThuDiaPhuong.reload()" column="transactionStatus" data="[{value:'S1',label:'S1'},{value:'S2',label:'S2'},{value:'S3',label:'S3'},{value:'S4',label:'S4'},{value:'S8',label:'S8'}]"
    label="STATUS">
  </search-checkbox>
</div>
<div class="col-xs-2">
  <search-date table-state="phieuThuDiaPhuong.tableState" refresh="phieuThuDiaPhuong.refresh()" column="ngayThuTien" label="TU_NGAY" type="greater"></search-date>
</div>
<div class="col-xs-2">
  <search-date table-state="phieuThuDiaPhuong.tableState" refresh="phieuThuDiaPhuong.refresh()" column="ngayThuTien" label="DEN_NGAY" type="lesser"></search-date>
</div>
<div class="col-xs-2 text-right pull-right">
  <span translate>ROWS_ON_PAGE</span>
  <label>
    <select class="form-control" ng-model="phieuThuDiaPhuong.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
    </select>
  </label>
</div> -->
    <div class="col-md-12 col-md-12-padding padding-bottom-5 text-right">
      <button type="submit" class="btn btn-primary btn-with-icon" ng-click="phieuThuDiaPhuong.save()" ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S1 || phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S3" permission = "Smss.SaveConfirmMoney">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <span translate>SAVE</span>
      </button>
    </div>
    <div class="col-md-9     col-md-9-padding">

      <div class="panelCustom">
        <div class="panel-heading">
          <H4 translate>THONG_TIN_CHUNG</H4>
        </div>
        <div class="panel-body">


          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_CHUYEN_KHOAN</label>
          </div>
          <div class="col-md-4 ">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.sentTime == null}">{{phieuThuDiaPhuong.form.unextractedSMS.sentTime|appDate}}
            </div>
          </div>
        </div>


        <div class="panel-body">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>OVER_BALANCE</label>
          </div>
          <div class="col-md-4 ">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.balance == null}">{{phieuThuDiaPhuong.form.unextractedSMS.balance |number:0}}
              <span ng-if="phieuThuDiaPhuong.form.unextractedSMS.balance">đ</span>
            </div>

          </div>
        </div>


        <div class="panel-body">
          <div class="col-md-2 ">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_MONEY</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.sentMoney == null}">{{phieuThuDiaPhuong.form.unextractedSMS.sentMoney |number:0}}
              <span ng-if="phieuThuDiaPhuong.form.unextractedSMS.sentMoney">đ</span>
            </div>
          </div>

          <div class="col-md-6">
          </div>
        </div>
        <!-- <div class="col-md-4">


          </div> -->
        <div class="panel-body">

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_REASON</label>
          </div>

          <div class="col-md-10">
            <!-- <div class="bottom-border ">{{phieuThuDiaPhuong.form.unextractedSMS.sentReason}} </div> -->
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.sentReason == null}">{{phieuThuDiaPhuong.form.unextractedSMS.sentReason}}
            </div>

          </div>

          <div class="col-md-4"></div>
        </div>


      </div>


      <div class="panelCustom">
        <div class="panel-heading">
          <H4 translate> THONG_TIN_DON_HANG</H4>

        </div>
        <div class="panel-body">
          <div class="">

            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
            </div>
            <div class="col-md-2">
              <!-- <div class="bottom-border ">{{phieuThuDiaPhuong.form.unextractedSMS.orderCode}} </div> -->
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.orderCode == null}">{{phieuThuDiaPhuong.form.unextractedSMS.orderCode}}
              </div>

            </div>
            <!-- <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.bankingTransactionStatus == null}">{{phieuThuDiaPhuong.form.unextractedSMS.bankingTransactionStatus}}
              </div>
            </div> -->
            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_TAO_DON_HANG</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.createdAt == null}">{{phieuThuDiaPhuong.form.unextractedSMS.createdAt | appDate}}

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <div class="panelCustom panelCustomMinHeight345">
        <div class="panel-heading">
          <h4 translate>CHUNG_TU</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.bank == null}">{{phieuThuDiaPhuong.form.unextractedSMS.bank}}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_ACCOUNT_NO</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.bankAccountNo == null}">{{phieuThuDiaPhuong.form.unextractedSMS.bankAccountNo}}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" id="typeOfTransaction" name="typeOfTransaction" ng-model="phieuThuDiaPhuong.form.unextractedSMS.typeOfTransaction"
              ng-change="bankTransfer.showHideDetail(bankTransfer.form.typeOfTransaction)" ng-disabled="!phieuThuDiaPhuong.isS1">
              <option ng-repeat="item in phieuThuDiaPhuong.listTypeOfTransaction" ng-value="{{item.id}}" translate>{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == null}"
              translate>
              {{phieuThuDiaPhuong.form.unextractedSMS.transactionStatus}}
            </div>
          </div>
        </div>



      </div>
    </div>
</div>
</div>

<div class="col-md-12 col-md-12-padding">
  <div class="panelCustom">
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered table-hover " st-table="displayedphieuThuDiaPhuongs" st-safe-src="phieuThuDiaPhuong.form.phieuThuDiaPhuongs">
        <thead>
          <tr>
            <tr class="sortable">
              <th st-sort="checked" st-sort-default="reverse">
                <i class="fa fa-check" aria-hidden="true"></i>
              </th>
              <th st-sort="ngayThuTien" translate>
                <b>NGAY_THU_TIEN</b>
              </th>
              <th st-sort="ngayBienLai" translate>
                <b>NGAY_BIEN_LAI</b>
              </th>
              <th st-sort="soPhieu" translate>
                <b>SO_PHIEU</b>
              </th>
              <th st-sort="orderCode" translate>
                <b>ORDER_CODE</b>
              </th>
              <th st-sort="nguoiNopTien" translate>
                <b>NGUOI_NOP_TIEN</b>
              </th>
              <th st-sort="phoneNumber" translate>
                <b>PHONE_NUMBER</b>
              </th>
              <th st-sort="transactionStatus" translate>
                <b>TRANG_THAI</b>
              </th>
              <th st-sort="soTienNop" translate>
                <b>SO_TIEN_NOP</b>
              </th>
            </tr>
            <tr>
              <th></th>
              <th>

              </th>
              <th>
                <!-- <input st-search="kaitoBillOfLading" translate-attr="{ placeholder: 'SEARCH_MA_VAN_DON' }" class="input-sm form-control search-input"
                  type="search" /> -->
              </th>

              <th>
                <input st-search="soPhieu" translate-attr="{ placeholder: 'SEARCH_SO_PHIEU' }" class="input-sm form-control search-input"
                  type="search" />
              </th>
              <th>
                <input st-search="orderCode" translate-attr="{ placeholder: 'SEARCH_ORDER_CODE' }" class="input-sm form-control search-input"
                  type="search" />
              </th>

              <th>
                <input st-search="nguoiNopTien" translate-attr="{ placeholder: 'SEARCH_NGUOI_NOP_TIEN' }" class="input-sm form-control search-input"
                  type="search" />
              </th>
              <th>
                <input st-search="phoneNumber" translate-attr="{ placeholder: 'SEARCH_SDT' }" class="input-sm form-control search-input"
                  type="search" />
              </th>
              <th>
              </th>
              <th>

              </th>
              </th>
              </th>
              </th>
        </thead>
        <tbody>
          <tr ng-repeat="item in displayedphieuThuDiaPhuongs  track by $index" ng-class="{info : item.checked}">
            <td>
              <div class="checkbox" ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus != phieuThuDiaPhuong.transactionStatus.S4 && phieuThuDiaPhuong.form.unextractedSMS.transactionStatus != phieuThuDiaPhuong.transactionStatus.S8">
                <label class="custom-checkbox">
                  <input type="checkbox" ng-checked="phieuThuDiaPhuong.selection.indexOf(item.id) > -1" ng-click="phieuThuDiaPhuong.toggleSelection(item.id)">
                  <span>
                    <span>&nbsp;</span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <p>
                {{item.ngayThuTien | appDate}}
              </p>
            </td>
            <td>
              <p>
                {{item.ngayBienLai | appDate}}
              </p>
            </td>
            <td class="form-group">
              <a ui-sref="transactionManagement.TMSNDetail({TMSNId: item.id})" target="_blank">{{item.soPhieu}}</a>
            </td>
            <td class="form-group text-left upper-case">
              <p>
                {{item.orderCode}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.nguoiNopTien}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.phoneNumber}}
              </p>
            </td>
            <td class="form-group text-left">
              <p translate>
                {{item.transactionStatusObject.name}}
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{item.soTienNop |number:0}} ₫
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="6"></td>
            <td colspan="2" class="text-right"> Tiền ngân hàng</td>
            <td class="text-right" colspan=" 3 ">
              <b>{{phieuThuDiaPhuong.form.unextractedSMS.sentMoney |number:0}} ₫</b>
            </td>
          </tr>
          <tr>
            <td colspan="6"></td>
            <td colspan="2" class="text-right"> Tiền COD</td>
            <td class="text-right" colspan="3">
              <b>{{phieuThuDiaPhuong.form.sumAmountMoney |number:0}} ₫</b>
            </td>
          </tr>
          <!-- <tr>
            <td colspan="6"></td>
            <td colspan="2" class="text-right"> Số tiền điều chỉnh</td>
            <td class="text-right" colspan=" 3 ">
              <b>{{phieuThuDiaPhuong.form.unextractedSMS.adjustedMoney |number:0}} ₫</b>
            </td>
          </tr> -->
          <tr>
            <td colspan="6"></td>
            <td class="text-right" colspan=" 2 " class="text-right " translate> ADJUST_MONEY</td>
            <td colspan="3" class="text-right">
              <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="text-right" id="adjustMoney" placeholder="{{'ADJUST_MONEY'|translate }}"
                ng-model="phieuThuDiaPhuong.form.unextractedSMS.adjustedMoney" ng-change="phieuThuDiaPhuong.changeTienChenhLech(phieuThuDiaPhuong.form.chechlech)"
                style="border: 1px solid #cbcbcb; border-radius: 5px; width: 93%">
              <strong>đ</strong>
            </td>
          </tr>
          <!-- <tr>
            <td colspan="6"></td>
            <td class="text-right" colspan=" 2 " class="text-right " translate>Chênh lệch</td>
            <td colspan="3" class="text-right">
              <b>{{ phieuThuDiaPhuong.form.chechlech
                |number:0 }} ₫
              </b>
            </td>
          </tr> -->
          <tr>
            <td colspan="6"></td>
            <td class="text-right" colspan=" 2 " class="text-right " translate>ADJUST_MONEY_REASON</td>
            <td colspan="3" class="text-right">
              <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5" placeholder="{{'ADJUST_MONEY_REASON'|translate }}"
                ng-model="phieuThuDiaPhuong.form.unextractedSMS.reasonAjustMoney">
                    </textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="col-xs-12 text-right pull-right padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="phieuThuDiaPhuong.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div> -->
  <div class="col-xs-2 text-left padding5">
    <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetListSmsTypeCod" ng-click="phieuThuDiaPhuong.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div>
  <div class="col-xs-10 text-right padding5">
    <button type="button" ng-click="phieuThuDiaPhuong.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH', phieuThuDiaPhuong.correctSingleData,0)"
      class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleBankTransferCashIncomingMoney" ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S4 || phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S3">
      <i class="fa fa-check"></i>
      <span translate>UNCORRECT_DATA</span>
    </button>
    <button type="button" ng-click="phieuThuDiaPhuong.confirmDialog('XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH', phieuThuDiaPhuong.correctSingleData,1)"
      class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleBankTransferCashIncomingMoney" ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S1 || phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S2">
      <i class="fa fa-check"></i>
      <span translate>CORRECT_DATA</span>
    </button>
    <button type="button" ng-click="phieuThuDiaPhuong.confirmDialog('HỦY XÁC NHẬN MAP GIAO DỊCH', phieuThuDiaPhuong.confirmSingleData,0)"
      class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMappingSingleBankTransferCashIncomingMoney" ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S2 || phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S4">
      <i class="fa fa-anchor"></i>
      <span translate>UNCONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="phieuThuDiaPhuong.confirmDialog('XÁC NHẬN MAP GIAO DỊCH', phieuThuDiaPhuong.confirmSingleData,1)"
      class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMappingSingleBankTransferCashIncomingMoney" ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S1 || phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S3">
      <i class="fa fa-anchor"></i>
      <span translate>CONFIRM_MAPPING</span>
    </button>
    <button type="submit" class="btn btn-primary btn-with-icon" ng-click="phieuThuDiaPhuongForm.$valid && phieuThuDiaPhuong.confirmDialog('KHÓA GIAO DỊCH', phieuThuDiaPhuong.lock)"
      permission="Smss.UpdateLockBankTransferCashIncomingMoney" ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S4">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <span translate>LOCK_TRANSACTION</span>
    </button>
    <button type="submit" class="btn btn-primary btn-with-icon" ng-click="phieuThuDiaPhuong.save()"
    ng-show="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S1 || phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S3" permission = "Smss.SaveConfirmMoney">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <span translate>SAVE</span>
    </button>
    <button type="button" class="btn btn-default btn-with-icon" ng-click="phieuThuDiaPhuong.reload()">
      <i class="fa fa-undo" aria-hidden="true"></i>
      <span translate>REFRESH</span>
    </button>
    <!-- <button type="submit" class="btn btn-primary btn-with-icon" ng-click="phieuThuDiaPhuong.confirm()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>CONFIRM</span>
        </button> -->
  </div>
</div>
</div>
</div>
</form>



<!-- 

<div ba-panel ba-panel-class="" ng-init="phieuThuDiaPhuong.init()">
  <form name="phieuThuDiaPhuongForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetUnextractedSMSTypePhieuThuDiaPhuong" ng-click="phieuThuDiaPhuong.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" ng-click="phieuThuDiaPhuong.correctSingleData()" class="btn btn-primary btn-with-icon" 
        permission="Smss.UpdateCorrectSingleBankTransferCashIncomingMoney">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="phieuThuDiaPhuong.confirmSingleData()" class="btn btn-primary btn-with-icon" 
        permission="Smss.UpdateConfirmMappingSingleBankTransferCashIncomingMoney">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="phieuThuDiaPhuongForm.$valid && phieuThuDiaPhuong.lock()"
        permission="Smss.UpdateLockBankTransferCashIncomingMoney">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span translate>LOCK_TRANSACTION</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" ng-click="phieuThuDiaPhuong.reload()">
          <i class="fa fa-undo" aria-hidden="true"></i>
          <span translate>REFRESH</span>
        </button>
         <button type="submit" class="btn btn-primary btn-with-icon" ng-click="phieuThuDiaPhuong.confirm()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>CONFIRM</span>
        </button> 
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>BANK</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.bank}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>BANK_ACCOUNT_NO</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.bankAccountNo}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>CONTENT_SMS</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.contentSms}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>SENT_REASON</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.sentReason}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>SENT_TIME</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.sentTime | appDatetime}}</p>
            </div>
          </div>
          <div class="col-md-12" style="color: red">
            <div class="form-group">
              <p>
                <b translate>SENT_MONEY</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.sentMoney |number:0}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>OVER_BALANCE</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.balance |number:0}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>MONEY_RECEIVED</b>
              </p>
              <p>{{phieuThuDiaPhuong.form.unextractedSMS.moneyMustReceived |number:0}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>STATUS</b>
              </p>
              <p ng-if="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S504" translate>S504</p>
              <b ng-if="phieuThuDiaPhuong.form.unextractedSMS.transactionStatus == phieuThuDiaPhuong.transactionStatus.S8" translate style="color: darkgreen;">S8</b>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>TYPE</b>
              </p>
              <p ng-if="phieuThuDiaPhuong.form.unextractedSMS.typeOfTransaction == 320" translate>320</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="adjustMoney">
                <b translate>ADJUST_MONEY</b>
              </label>
              <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="form-control" id="adjustMoney" placeholder="{{'ADJUST_MONEY'|translate}}"
                ng-model="phieuThuDiaPhuong.form.adjustedMoney">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p>
                <b translate>ADJUST_MONEY_REASON</b>
              </p>
              <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5" placeholder="{{'ADJUST_MONEY_REASON'|translate}}"
                ng-model="phieuThuDiaPhuong.form.reasonAjustMoney">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div ba-panel ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="row">
              <div class="col-md-12">
                <table class="table" st-table="displayedphieuThuDiaPhuongs" st-safe-src="phieuThuDiaPhuong.form.phieuThuDiaPhuongs">
                  <thead>
                    <tr class="sortable">
                      <th></th>
                      <th st-sort="nguoiNopTien" translate>NGUOI_NOP_TIEN</th>
                      <th st-sort="orderCode" translate>SO_PHIEU</th>
                      <th st-sort="ngayBienLai" translate>NGAY_BIEN_LAI</th>
                      <th st-sort="tongTienPhaiThu" translate>TONG_TIEN_PHAI_THU</th>
                      <th st-sort="hinhThucThanhToan" translate>HINH_THUC_THANH_TOAN</th>
                      <th st-sort="khuVuc" translate>KHU_VUC</th>
                      <th st-sort="ngayThuTien" translate>NGAY_THU_TIEN</th>
                      <th st-sort="soTienNop" translate>SO_TIEN_NOP</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input st-search="firstName" translate-attr="{ placeholder: 'SEARCH_FIRST_NAME' }" class="input-sm form-control search-input"
                          type="search" />
                      </th>
                      <th>
                        <input st-search="lastName" translate-attr="{ placeholder: 'SEARCH_LAST_NAME' }" class="input-sm form-control search-input"
                          type="search" />
                      </th>
                      <th>
                        <input st-search="email" translate-attr="{ placeholder: 'SEARCH_EMAIL' }" class="input-sm form-control search-input" type="search"
                        />
                      </th>
                      <th>
                        <input st-search="studentCode" translate-attr="{ placeholder: 'SEARCH_STUDENT_CODE' }" class="input-sm form-control search-input"
                          type="search" />
                      </th>
                      <th>
                        <input st-search="cardNumber" translate-attr="{ placeholder: 'SEARCH_CARD_NUMBER' }" class="input-sm form-control search-input"
                          type="search" />
                      </th>
                      <th></th>
                      <th>
                        <input st-search="paymentContent" translate-attr="{ placeholder: 'SEARCH_PAYMENT_CONTENT' }" class="input-sm form-control search-input"
                          type="search" />
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in displayedphieuThuDiaPhuongs track by $index" ng-class="{info : item.checked}">
                      <td>
                        <div class="checkbox">
                          <label class="custom-checkbox">
                            <input type="checkbox" ng-checked="phieuThuDiaPhuong.selection.indexOf(item.id) > -1" ng-click="phieuThuDiaPhuong.toggleSelection(item.id)">
                            <span>
                              <span>&nbsp;</span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>{{item.nguoiNopTien}}</td>
                      <td>{{item.orderCode}}</td>
                      <td>{{item.ngayBienLai| appDate}}</td>
                      <td>{{item.tongTienPhaiThu |number:0}}</td>
                      <td translate>{{item.hinhThucThanhToan.name}}</td>
                      <td>{{item.khuVuc.name}}</td>
                      <td>{{item.ngayThuTien | appDate}}</td>
                      <td>{{item.soTienNop |number:0}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <b>{{phieuThuDiaPhuong.form.sumAmountMoney |number:0}}</b>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->