<div ba-panel ba-panel-class="with-scroll">
  <div>
    <div class="row">

      <div class="col-xs-2">
        <search-common table-state="cod.tableState" refresh="cod.refresh()" columns="['bank','bankAccountNo','contentSms','sentReason','sentMoney']"
          label="SEARCH_EVERYTHING" table-state="cod.tableState" refresh="cod.refresh()"></search-common>

      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="cod.tableState" refresh="cod.refresh()" column="transactionStatus" data="cod.transactionStatus"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="cod.tableState" refresh="cod.refresh()" column="sentTime" label="TU_NGAY" type="greater" default="cod.default.search.startDate"></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="cod.tableState" refresh="cod.refresh()" column="sentTime" label="DEN_NGAY" type="lesser" default="cod.default.search.endDate"></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="cod.tableState" refresh="cod.refresh()" column="orderCode" data="cod.myTransaction" label="MY_TRANSACTION"
          default="cod.default.search.orderCode">
        </search-checkbox>
      </div>
      <div class="col-xs-2 text-right pull-right">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="cod.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-xs-2 text-right pull-righ btnPadding">


        <button type="button" class="btn btn-default btn-with-icon pull-left" permission="Smss.GetUnextractedSMSTypePhieuThuDiaPhuong"
          ng-click="cod.refresh()" ladda="cod.isLoading" data-spinner-color="#000" data-size="xs">


          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>

      </div>
      <br/>
    </div>
    <table class="table table-striped table-hover table-bordered" st-pipe="cod.init" st-table="cod.tableData">
      <br/>
      <thead>
        <tr class="sortable">
          <th> STT</th>
          <th st-sort="sentTime" translate>SENT_TIME</th>
          <th st-sort="bank" translate>BANK</th>
          <th st-sort="bankAccount" translate>BANK_ACCOUNT_NO</th>
          <th st-sort="updatedAt" translate>SENT_REASON</th>
          <th class="text-right" st-sort="sentMoney" translate>SENT_MONEY</th>
          <th class="text-right" st-sort="balance" translate>OVER_BALANCE</th>
          <th st-sort="transactionStatus" translate>STATUS</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="sentTime" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"
            />
          </th>
          <th>
            <input st-search="bank" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANK' }"
            />
          </th>
          <th>
            <input st-search="bankAccountNo" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANKACCOUNTNO' }"
            />
          </th>
          <th>
            <input st-search="sentReason" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SENT_REASON' }"
            />
          </th>
          <th>
            <input st-search="sentMoney" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_AMOUNT_MONEY' }"
            />
          </th>
          <th>
            <input st-search="balance" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BALANCE' }"
            />
          </th>
          <th>
            <input st-search="transactionStatus" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="!cod.isLoading">
        <tr ng-repeat="item in cod.tableData track by $index">
          <td>{{cod.tableState.pagination.start + $index+1}}</td>
          <td>{{item.sentTime | date : "dd/MM/yyyy HH:mm"}}</td>
          <td>{{cod.bankLabel[item.bank]}}</td>
          <td>{{item.bankAccountNo}}</td>
          <td>{{item.sentReason}}</td>
          <td class="text-right">{{item.sentMoney |number:0}}</td>
          <td class="text-right">{{item.balance |number:0}}</td>
          <td translate>{{item.transactionStatus}}</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="Smss.GetById" ui-sref="confirmMoney.codDetail({codId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="cod.isLoading">
        <tr>
          <td colspan="8" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">

            <div st-pagination="" st-items-by-page="cod.tablePageSize" st-displayed-pages="5"></div>

          </td>
          <td class="text-right padding5 ">
            <b>
              <i> {{sumSentMoney |number:0}} ₫ </i>
            </b>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumBalance |number:0}} ₫ </i>
            </b>
          </td>
          <td> </td>
          <td></td>
        </tr>
      </tfoot>
    </table>


    <br/>


  </div>
</div>
<!-- 

<div ba-panel ba-panel-class="with-scroll">
    <div class="horizontal-scroll">
        <div class="row">
            <div class="col-xs-2">
                <search-common label="SEARCH_EVERYTHING" table-state="cod.tableState" refresh="cod.refresh()" columns="['bank','bankAccountNo','sentReason','sentMoney','balance']"></search-common>
            </div>
            <div class="col-xs-2">
                <search-checkbox table-state="cod.tableState" refresh="cod.refresh()" column="transactionStatus" data="cod.transStatus"
                    label="STATUS">
                </search-checkbox>
            </div>
            <div class="col-xs-2">
                <search-date table-state="cod.tableState" refresh="cod.refresh()" column="sentTime" label="TU_NGAY" type="greater"></search-date>
            </div>
            <div class="col-xs-2">
                <search-date table-state="cod.tableState" refresh="cod.refresh()" column="sentTime" label="DEN_NGAY" type="lesser"></search-date>
            </div>
            <div class="col-xs-2 text-right pull-right">
                <span translate>ROWS_ON_PAGE</span>
                <label>
                    <select class="form-control" ng-model="cod.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
                    </select>
                </label>
            </div>
            <div class="col-xs-2 text-right pull-righ btnPadding">
                <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetListSmsTypeCod" ng-click="cod.refresh()"
                    ladda="cod.isLoading" data-spinner-color="#000" data-size="xs">
                    <i class="ion-loop"></i>
                    <span translate>REFRESH</span>
                </button>
            </div>
        </div>
        <table class="table table-hover" st-pipe="cod.init" st-table="cod.tableData">
            <thead>
                <tr class="sortable ">
                    <th>#</th>
                    <th st-sort="bank" translate>BANK</th>
                    <th st-sort="sentTime" translate>SENT_TIME</th>
                    <th st-sort="bankAccount" translate>BANK_ACCOUNT_NO</th>
                    <th st-sort="sentMoney" translate>SENT_MONEY</th>
                    <th st-sort="balance" translate>OVER_BALANCE</th>
                    <th st-sort="transactionStatus" translate>STATUS</th>
                    <th st-sort="sentReason" translate>SENT_REASON</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input st-search="bank" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANK' }"
                        />
                    </th>
                    <th>
                    </th>
                    <th>
                        <input st-search="bankAccountNo" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANKACCOUNTNO' }"
                        />
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <input st-search="sentReason" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_SENTREASON' }"
                        />
                    </th>
                </tr>
            </thead>
            <tbody ng-show="!cod.isLoading">
                <tr ng-repeat="item in cod.tableData track by $index">
                    <td>{{cod.tableState.pagination.start + $index+1}}</td>
                    <td>{{item.bank}}</td>
                    <td>{{item.sentTime | appDatetime}}</td>
                    <td>{{item.bankAccountNo}}</td>
                    <td>{{item.sentMoney |number:0}}</td>
                    <td>{{item.balance  |number:0}}</td>
                    <td translate>{{item.transactionStatus}}</td>
                    <td>{{item.sentReason}}</td>
                    <td>
                        <div class="buttons">
                            <button class="btn btn-info btn-xs" permission="Smss.GetById" ui-sref="confirmMoney.codDetail({codId: item.id})">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span translate>VIEW</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="cod.isLoading">
                <tr>
                    <td colspan="12" class="text-center" translate>LOADING</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12" class="text-center">
                        <div st-pagination="" st-items-by-page="cod.tablePageSize" st-displayed-pages="5"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div> -->