<div ba-panel ba-panel-class="with-scroll">
  <div class="horizontal-scroll">
    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <span translate>ROWS_ON_PAGE</span>
          <label>
            <select class="form-control" ng-model="users.tablePageSize" 
              ng-options="i for i in [10,25,50,100,200]">
            </select>
          </label>
        </div>
      </div>
      <div class="col-xs-2">
        <search-common table-state="users.tableState" refresh="users.refresh()" 
          columns="['fullName','email']"></search-common>
      </div>
      <!-- <div class="col-xs-2">
        <search-checkbox table-state="users.tableState" refresh="users.refresh()" column="status" 
          data="[{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'}]"
          label="STATUS">
        </search-checkbox>
      </div> -->
      <div class="col-xs-3">
        <search-date table-state="users.tableState" refresh="users.refresh()" 
          column="createdAt" label="CREATED_AT" type="greater"></search-date>
      </div>
      <div class="col-xs-3">
        <search-date table-state="users.tableState" refresh="users.refresh()" 
          column="createdAt" label="CREATED_AT" type="lesser"></search-date>
      </div>
      <div class="col-xs-2 text-right">
        <button type="button" class="btn btn-default btn-with-icon" permission="Users.GetAll"
        ng-click="users.refresh()" ladda="users.isLoading" data-spinner-color="#000" data-size="xs">
          <i class="ion-loop"></i><span translate>REFRESH</span>
        </button>
        <button type="button" ui-sref="system.userDetail()"
          class="btn btn-primary btn-with-icon" permission="Users.Create">
          <i class="fa fa-user-plus"></i>
          <span translate>CREATE</span>
        </button>
      </div>
    </div>
    <table class="table table-hover" st-pipe="users.init" st-table="users.tableData">
      <thead>
        <tr class="sortable ">
          <th>#</th>
          <th st-sort="fullName" translate>FULL_NAME</th>
          <th st-sort="email" translate>EMAIL</th>
          <th translate>AVATAR</th>
          <th st-sort="status" translate>STATUS</th>
          <th st-sort="createdAt" translate>CREATED_AT</th>
          <th st-sort="updatedAt" translate>UPDATED_AT</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="fullName" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_FULL_NAME' }"/>
          </th>
          <th>
            <input st-search="email" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_EMAIL' }"/>
          </th>
          <th></th>
          <th>
            <select st-search="status" class="input-sm form-control search-input">
              <option value="" translate>ALL</option>
              <option value="0" translate>PENDING</option>
              <option value="1" translate>ACTIVE</option>
              <option value="2" translate>BLOCKED</option>
            </select>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="!users.isLoading">
        <tr ng-repeat="item in users.tableData track by $index">
          <td>{{users.tableState.pagination.start + $index+1}}</td>
          <td>{{item.fullName}}</td>
          <td>
            <a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a>
          </td>
          <td class="text-center"><img ng-src="{{item.imageUrl}}" width="20" height="20"></td>
          <td ng-if="item.status===0"><span translate>PENDING</span></td>
          <td ng-if="item.status===1"><span translate>ACTIVE</span></td>
          <td ng-if="item.status===2"><span translate>BLOCKED</span></td>
          <td>{{item.createdAt | appDatetime}}</td>
          <td>{{item.updatedAt | appDatetime}}</td>
          <td>
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="Users.GetById"
                ui-sref="system.userDetail({userId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
              <button class="btn btn-danger btn-xs" ng-click="users.delete(item.id)"
                permission="Users.Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span translate>DELETE</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="users.isLoading">
        <tr>
          <td colspan="8" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" class="text-center">
            <div st-pagination="" st-items-by-page="users.tablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>