<div ng-init="bankTransfer.init()">
  <div class="col-md-9 col-md-9-padding">

    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate>THONG_TIN_CHUNG</H4>
      </div>
      <div class="panel-body">

        <div class="">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_TIME</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{bankTransfer.form.sentTime | date : "dd/MM/yyyy HH:mm:ss" }} </div>
          </div>
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_MONEY</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{bankTransfer.form.sentMoney || 0 |number:0}} đ</div>
          </div>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BALANCE</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{bankTransfer.form.balance || 0 |number:0}} đ</div>

          </div>
          <br/>
          <br/>
          <br/>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NOI_DUNG</label>
          </div>

          <div class="col-md-10">
            <div class="bottom-border ng-binding"> {{bankTransfer.form.sentReason}} </div>
          </div>

        </div>
      </div>
    </div>
    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate> THONG_TIN_DON_HANG</H4>
      </div>
      <div class="panel-body">
        <div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
          </div>
          <div class="col-md-2 ui-select-padding" ng-show="bankTransfer.isHideConfirmMapping && (bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S1 || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S3)">
            <ui-select ng-model="bankTransfer.form.donHang" class="btn-group bootstrap-select form-control" append-to-body="true" search-enabled="true"
              ng-change="bankTransfer.loadDetail(bankTransfer.form.donHang)" ng-disabled="bankTransfer.typeOfTransactionEdit">
              <ui-select-match placeholder="{{bankTransfer.form.orderCode || 'chon Order Code...'}}">
                {{$select.selected.orderCode}}
              </ui-select-match>
              <ui-select-choices repeat="orderItem in bankTransfer.listOrder | filter: $select.search" style="width: 320px !important">
                <div ng-bind-html="orderItem.orderId | highlight: $select.search"></div>
                <small>{{orderItem.orderCode}} | {{orderItem.tvts}}</small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-2 ui-select-padding" ng-show="!bankTransfer.isHideConfirmMapping || (bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S2 || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S4 || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S8)">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': bankTransfer.form.orderCode == null}">
                {{bankTransfer.form.orderCode }}
              </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TONG_SO_TIEN_PHAI_THU</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': bankTransfer.form.order.tongTienPhaiThu == null}">{{bankTransfer.form.order.tongTienPhaiThu |number:0}}
              <span ng-if="bankTransfer.form.order.tongTienPhaiThu">đ</span>
            </div>

          </div>
          <!-- <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>STATUS</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': bankTransfer.form.order.orderStatusObject.name == null}" translate>
              {{bankTransfer.form.order.orderStatusObject.name}} </div>
          </div>
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': bankTransfer.form.order.orderStatusObject.name == null}">{{bankTransfer.form.order.orderStatusObject.name}} </div>
          </div> -->
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TVTS</label>
          </div>
          <div class="col-md-2 ui-select-padding">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': bankTransfer.form.order.tvts == null}">{{bankTransfer.form.order.tvts}}</div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>DA_THANH_TOAN</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': bankTransfer.form.order.tongTienDaThanhToan == null}">{{bankTransfer.form.order.tongTienDaThanhToan |number:0}}
              <span ng-if="bankTransfer.form.order.tongTienDaThanhToan">đ</span>
            </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_TAO</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': bankTransfer.form.order.createdAt == null}">{{bankTransfer.form.order.createdAt | appDate}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panelCustom panelBankTransferMinHeight">
    <div class="panel-heading">
      <h4 translate>CHUNG_TU</h4>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK</label>
      </div>
      <div class="col-md-8">
        <div class="bottom-border ng-binding">{{bankTransfer.form.bank}} </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_ACCOUNT_NO</label>
      </div>
      <div class="col-md-8">
        <div class="bottom-border ng-binding">{{bankTransfer.form.bankAccountNo}} </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
      </div>
      <div class="col-md-8 remove-padding">
        <select class="form-control" id="loaiGiaoDich" name="loaiGiaoDich" ng-model="bankTransfer.form.typeOfTransaction" ng-change="bankTransfer.showHideDetail(bankTransfer.form.typeOfTransaction)" ng-disabled="bankTransfer.typeOfTransactionEdit">
          <option ng-repeat="item in bankTransfer.listTypeOfTransaction" ng-value="{{item.id}}" translate>{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANSACTION_STATUS</label>
      </div>
      <div class="col-md-8">
        <p>
          <b ng-if="bankTransfer.form.transactionStatus == null" translate style="color:dodgerblue">NOT_INFORMATION</b>
          <b ng-if="bankTransfer.form.transactionStatus != null" translate style="color:darkgreen">{{bankTransfer.form.transactionStatus}}</b>
        </p>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_CODE</label>
      </div>
      <div class="col-md-8">
        <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': !bankTransfer.form.bankCode}">{{bankTransfer.form.bankCode}} </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>FAST_ID</label>
      </div>
      <div class="col-md-8">
        <p>
          <b ng-if="bankTransfer.form.fastId == null" translate style="color:dodgerblue">NOT_INFORMATION</b>
          <b ng-if="bankTransfer.form.fastId != null" translate style="color:darkgreen">{{bankTransfer.form.fastId}}</b>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="col-md-12 col-md-12-padding">
  <div class="panelCustom" >
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered" id="step_two">
        <thead>
          <tr>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>STT</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>USER_CODE</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>HO_TEN_HOC_VIEN</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>SDT</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>EMAIL</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>GOI_HOC_KHOA_HOC</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>GIA_BAN</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_DA_NOP</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_NOP</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>TONG_TIEN_CHUA_THANH_TOAN</label>
            </td>

          </tr>

        </thead>
        <tbody>
          <tr ng-repeat="item in bankTransfer.form.orderDetails track by $index">
            <td class="text-center">{{ $index + 1 }}</td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.topicaUserId}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.fullName}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.phoneNumber1}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.email}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.package.maGoi}}
              </p>
            </td>
            <td class="form-group text-right" style="padding-top: 10px">
              <p>
                {{item.giaBanSauKhuyenMai |number:0}}
                <span> đ</span>
              </p>
            </td>
            <td class="form-group text-right" style="padding-top: 10px">
              <p>
                {{item.soTienDaNop - item.soTienNopHienTaiCu|number:0}}
                <span> đ</span>
              </p>
            </td>
            <td class="form-group text-right" style="padding-top: 10px">
                {{item.soTienNopHienTai |number:0}}
              <!-- <span>
                <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="input-sm" id="soTienNopHienTai" name="soTienNopHienTai"
                  ng-model="item.soTienNopHienTai" style="text-align:right; width:95%">
              </span> -->
              <label>đ</label>
            </td>
            <td class="text-right" style="padding-top: 10px">
              <p>
                {{item.soTienPhaiNop - item.soTienDaNop - item.soTru|number:0}} đ
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-2 text-left padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="bankTransfer.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div>
  <div class="col-xs-10 text-right pull-right padding5">
    <button type="button"  ng-click="bankTransfer.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',bankTransfer.correctSingleData , 0)" class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleBankTransferOfTransManage"
      ng-show="bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S4 
      || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S3">
      <i class="fa fa-check"></i>
      <span translate>UNCORRECT_DATA</span>
    </button>
    <button type="button" ng-click="bankTransfer.confirmDialog('',bankTransfer.correctSingleData , 1)" class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleBankTransferOfTransManage"
      ng-show="bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S1 
      || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S2">
      <i class="fa fa-check"></i>
      <span translate>CORRECT_DATA</span>
    </button>
    <button type="button" ng-click="bankTransfer.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',bankTransfer.confirm , 0)" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmSingleBankTransferOfTransManage"
      ng-show="bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S2 || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S4" >
      <i class="fa fa-anchor"></i>
      <span translate>UNCONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="bankTransfer.confirmDialog('',bankTransfer.confirm , 1)" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmSingleBankTransferOfTransManage"
      ng-show="bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S1 || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S3" >
      <i class="fa fa-anchor"></i>
      <span translate>CONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="bankTransfer.lockSingleData(bankTransfer.form.id)" class="btn btn-primary btn-with-icon"
      permission="Smss.UpdateLockSingleBankTransferOfTransManage" ng-show="bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S4 " >
      <i class="fa fa-lock"></i>
      <span translate>LOCK_TRANSACTION</span>
    </button>
    <!-- <button type="button" ng-click="bankTransfer.save()" ng-hide="bankTransfer.form.transactionStatus == 'S8' || !bankTransfer.isEdit"
      class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmSingleBankTransferOfTransManage"> -->
    <button type="button" ng-click="bankTransfer.save()" ng-show="(bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S1 || bankTransfer.form.transactionStatus == bankTransfer.transactionStatus.S3) && bankTransfer.isHideConfirmMapping "
      class="btn btn-primary btn-with-icon">
      <i class="fa fa-floppy-o"></i>
      <span translate>SAVE</span>
    </button>

  </div>


</div>

</div>
</div>