<div class="col-md-12 pie-charts ssrs-padding-left-right-4">
  <div class="pie-chart-item-container padding-panel-0-5">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart chartTongDonHang" rel="#444444"><span class="percent"></span></div>
        <div class="description">
          <div  translate>TONG_DON_HANG</div>
          <div class="description-stats">{{data.tongDonHang |number:0}}</div>
        </div>
      </div>
    </div>
  </div>
<div class="pie-chart-item-container  paddingRight padding-panel-0-5 ">
      <div ba-panel>
<div class="pie-chart-item">
          <div class="chart chartTongDonHangDaHoanThanh" rel="#444444">
            <span class="percent"></span>
          </div>
          <div class="description">
            <div translate>DON_HANG_HOAN_THANH</div>
            <div class="description-stats">{{data.tongDonHangDaHoanThanh |number:0}}</div>
          </div>
        </div>
      </div>
    </div>
  <div class="pie-chart-item-container padding-panel-0-5">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart chartTongDonHangChuaHoanThanh" rel="#444444"><span class="percent"></span></div>
        <div class="description">
          <div  translate>DON_HANG_CHUA_HOAN_THANH</div>
          <div class="description-stats">{{data.tongDonHangChuaHoanThanh |number:0}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="pie-chart-item-container padding-panel-0-5">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart chartTongDonHangDangCho" rel="#444444"><span class="percent"></span></div>
        <div class="description">
          <div translate>DON_HANG_CHUA_XU_LY</div>
          <div class="description-stats">{{data.tongDonHangMoi |number:0}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
