<div ba-panel ba-panel-class="with-scroll" ng-init="PowerBIDetail.init()">
  <button type="button" class="btn btn-default btn-with-icon" ng-click="PowerBIDetail.back()">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    <span translate>BACK</span>
  </button>

  <button title="Thêm mới" type="submit" ng-click="editMode = false; new()" class="btn btn-success btn-with-icon"
    ng-disabled="btnDisabled">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span translate>ADD</span>
  </button>

  <button title="Xóa" type="submit" class="btn btn-danger" ng-click="removeRow()" ng-disabled="btnDisabled">
    <i class="glyphicon glyphicon-trash"></i>
    <span translate>DELETE</span>
  </button>
  <br>

  <div class="">
    <div class="form-group">
      <table class="table" st-table="displayedUser" st-safe-src="PowerBIDetail.tableAssignTo">
        <thead>
          <tr class="sortable">
          </tr>
          <tr>
            <th>
              <input data-ng-model="userId" st-search="email" translate-attr="{ placeholder: 'SEARCH' }" class="input-sm form-control search-input"
                type="search" />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in displayedUser track by $index">
            <td class="table-id">
              <div class="checkbox">
                <label class="custom-checkbox">
                  <input type="checkbox" ng-checked="AssignTo.indexOf(item.email) > -1" ng-click="PowerBIDetail.toggleSelection(item.email)">
                  <span>{{item.email}}</span>
                </label>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-center">
              <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!--  -->
    <table class="table table-stripped table-bordered table-hover" st-table="PowerBIDetailData" st-safe-src="PowerBIDetail.tableData">
      <div class="form-group">
      </div>
      <thead>
        <tr>
          <th style="width: 2%">STT
          </th>
          <th st-sort="tenBaoCao" style="width: 10%" translate>ID
          </th>
          <th st-sort="tenBaoCao" style="width: 20%" translate>TEN_BAO_CAO
          </th>
          <th style="width: 10%">Link
          </th>
          <th style="width: 20%" translate>NGUOI_XEM
          </th>
        </tr>
        <tr>
          <th></th>
          <th> </th>
          <th>
            <!-- <input st-search="tenBaoCao" translate-attr="{ placeholder: 'SEARCH_BAO_CAO' }" class="input-sm form-control search-input"
            type="search" /> -->
          </th>
          <th></th>
          <th> <input st-search="nguoiXem" translate-attr="{ placeholder: 'SEARCH_NGUOI_XEM' }" class="input-sm form-control search-input"
              type="search" /> </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in PowerBIDetailData track by $index">
          <td>{{$index+1}}
          </td>
          <td>
            <span data-ng-hide="editMode">{{item.id}}</span>
            <input type="text" class="form-control" data-ng-show="editMode" data-ng-model="item.id" ng-readonly="checkReadOnly" />
          </td>
          <td>
            <span data-ng-hide="editMode">{{item.tenBaoCao}}</span>
            <input type="text" class="form-control" data-ng-show="editMode" data-ng-model="item.tenBaoCao" ng-readonly="checkReadOnly" />
          </td>
          <td>
            <span data-ng-hide="editMode">
              <a ng-href="{{item.link}}">Link</a>
            </span>
            <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="item.link" ng-readonly="checkReadOnly" />
          </td>
          <td>
            <span data-ng-hide="editMode">{{item.userId}}</span>

            <input type="text" class="form-control" data-ng-show="editMode" data-ng-model="item.userId" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="6"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>