<div ba-panel ba-panel-class="with-scroll">
  <div class="horizontal-scroll">
    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <span translate>ROWS_ON_PAGE</span>
          <label>
            <select class="form-control" ng-model="userGroups.tablePageSize" 
              ng-options="i for i in [10,25,50,100,200]">
            </select>
          </label>
        </div>
      </div>
      <div class="col-xs-2">
        <search-common table-state="userGroups.tableState" refresh="userGroups.refresh()" 
          columns="['name','description']"></search-common>
      </div>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-2 text-right">
        <button type="button" class="btn btn-default btn-with-icon" permission="Groups.GetAll"
        ng-click="userGroups.refresh()" ladda="userGroups.isLoading" data-spinner-color="#000" data-size="xs">
          <i class="ion-loop"></i><span translate>REFRESH</span>
        </button>
        <button type="button" ui-sref="system.userGroupDetail()"
          class="btn btn-primary btn-with-icon" permission="Groups.Create">
          <i class="fa fa-user-plus"></i>
          <span translate>CREATE</span>
        </button>
      </div>
    </div>
    <table class="table table-hover" st-pipe="userGroups.init" st-table="userGroups.tableData">
      <thead>
        <tr class="sortable ">
          <th>#</th>
          <th st-sort="name" translate>NAME</th>
          <th st-sort="description" translate>DESCRIPTION</th>
          <th st-sort="createdAt" translate>CREATED_AT</th>
          <th st-sort="updatedAt" translate>UPDATED_AT</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="name" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_NAME' }"/>
          </th>
          <th>
            <input st-search="description" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_DESCRIPTION' }"/>
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="!userGroups.isLoading">
        <tr ng-repeat="item in userGroups.tableData track by $index">
          <td>{{userGroups.tableState.pagination.start + $index+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.createdAt | appDatetime}}</td>
          <td>{{item.updatedAt | appDatetime}}</td>
          <td>
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="Groups.GetById"
                ui-sref="system.userGroupDetail({userGroupId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
              <button class="btn btn-danger btn-xs" ng-click="userGroups.delete(item.id)"
                permission="Groups.Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span translate>DELETE</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="userGroups.isLoading">
        <tr>
          <td colspan="6" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-pagination="" st-items-by-page="userGroups.tablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>