	
<div ba-panel ba-panel-class="with-scroll" ng-init="baoCaoBanHang.init()">
<div align="center"  > 
  <h3 ng-model="tenBaoCao" style="color:#C39B64; padding: 10px 5px 10px 5px;">  {{tenBaoCao}}  </h3>
</div>
  <div class="row">

    <div class="col-xs-2">
      <label class="ng-scope">Từ ngày</label>
      <input type="date" class="form-control" name="startDate" id="startDate" ng-model="startDate" ng-change="reload(startDate, null)">
    </div>
    <div class="col-xs-2">
      <label class="ng-scope">Đến ngày</label>
      <input type="date" class="form-control" name="endDate" id="endDate" ng-model="endDate"  ng-change="reload(null, endDate)">
    </div>
    <div class="col-xs-2">
      <label translate="">Ngày xuất báo cáo</label>
<label class="form-control" ng-click="dateChange()"> {{ngayXuatBaoCao | date:'dd-MM-yyyy HH:mm:ss'}}</label>
      <br/>
    </div>

</div>

    <div class="row">
      <div class="col-xs-2">
        <label translate>Tìm kiếm nâng cao </label> <span style="color: red">*</span>
      </div>
      <div class="col-xs-2">
        <div class="btn-group" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-default " uib-dropdown-toggle ng-selected="" >
           {{baoCaoBanHang.salesBySelect}}
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu>
            <li style="text-align:center" ng-repeat="item in baoCaoBanHang.salesBy track by $index">
              <a ng-click="baoCaoBanHang.salesByChange(item,baoCaoBanHang.salesBySelect)" href>{{item}}</a>
            </li>
          </ul>
        </div>
      </div>
      

    <div class="col-xs-2" ng-show="hideS600Search">
      <input translate-attr="{ placeholder: 'SEARCH_STUDENT_NAME' }" class="input-sm form-control" type="search" ng-model="S600.form.query"
          refresh="S600.refresh()" ng-model-options="{debounce:1000}" />
      
      </div>
    <div class="col-xs-2" ng-show="hideS400SearchTVTS">
      <input translate-attr="{ placeholder: 'SEARCH_TVTS' }" class="input-sm form-control" type="search" ng-model="S400.form.query"
          refresh="S400.refresh()" ng-model-options="{debounce:1000}" />
      
      </div>
  <div class="col-xs-2" ng-show="hideS400Download">
            <button class="btn btn-primary btn-with-icon" permission="S400.DownloadTemplate" ng-click="baoCaoBanHang.download(400)" ladda="baoCaoBanHang.isExporting"
              data-spinner-color="#000" data-size="xs">
              <i class="fa fa-download" aria-hidden="true"></i>
              <span translate>DOWNLOAD_EXCEL</span>
            </button>
</div>


  <div class="col-xs-2" ng-show="hideS500Download">
            <button class="btn btn-primary btn-with-icon" permission="S500.DownloadTemplate" ng-click="baoCaoBanHang.download(500)" ladda="baoCaoBanHang.isExporting"
              data-spinner-color="#000" data-size="xs">
              <i class="fa fa-download" aria-hidden="true"></i>
              <span translate>DOWNLOAD_EXCEL</span>
            </button>
</div>
  <div class="col-xs-2" ng-show="hideS600Download">
            <button class="btn btn-primary btn-with-icon" permission="S600.DownloadTemplate" ng-click="baoCaoBanHang.download(600)" ladda="baoCaoBanHang.isExporting"
              data-spinner-color="#000" data-size="xs">
              <i class="fa fa-download" aria-hidden="true"></i>
              <span translate>DOWNLOAD_EXCEL</span>
            </button>
</div>

  </div>
  </div>


<div ba-panel ba-panel-class="with-scroll" ng-model="divS400" ng-show="hideS400" ng-init="S400.refresh()">

  <div class="horizontal-scroll">
    <div class="col-xs-2">
      <div class="form-group">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="S400.tablePageSize" ng-options="i for i in [10,25,50,100,200]" >
          </select>
        </label>
      </div>
    </div>

    <table class="table table-hover table-bordered table-striped" st-table="displayedS400" st-safe-src="S400.tableData" >
      <thead>
        <tr class="sortable ">
          <th>#</th>
          <th st-sort="TVTS" translate>TVTS/GVHD</th>
          <th  class="text-right" st-sort="TongTopicaUserId" translate>SO_USER_ID</th>
          <th  class="text-right" st-sort="TongActualReceivedMoney" translate>SO_TIEN_THUC_THU</th>
        
        </tr>

      </thead>
      <tbody ng-show="!S400.isLoading">
        <tr ng-repeat="item in displayedS400 track by $index">
          <td>{{S400.tableState.pagination.start + $index+1}}</td>
          <td>{{item.tvst}}</td>
          <td class="text-right">{{item.tongTopicaUserId  |number:0}}</td>
          <td class="text-right"> {{item.tongTienThucThu |number:0}} </td>
        </tr>
        <tr> 
        <td></td> 

        <td></td>
        <td class="text-right" style="font-weight: bold;font-style: italic">Tổng:</td>
        <td class="text-right" style="font-weight: bold;font-style: italic">{{s400TienThucThu |number:0}}</td>
        </tr>
      </tbody>
      <tbody ng-show="S400.isLoading">
        <tr>
          <td colspan="16" class="text-center">Loading ... </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="16" class="text-center">
            <div st-pagination="" st-items-by-page="S400.tablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

 <div ba-panel ba-panel-class="with-scroll" ng-show="hideS500" ng-init="S500.refresh()">
  <div class="horizontal-scroll">
    <div class="col-xs-2">
      <div class="form-group">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="S500.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
    </div>

    <table class="table table-hover" st-table="displayedS500" st-safe-src="S500.tableData">
      <thead>
        <tr class="sortable ">
          <th>#</th>
          <th st-sort="TenGoiHoc" translate>TEN_GOI_HOC</th>
          <th st-sort="PackageId" translate>PACKAGE_ID</th>
          <th  class="text-right" st-sort="TongtongTopicaUserId" translate>SO_USER_ID</th>
        <th  class="text-right" st-sort="TongActualReceivedMoney" translate>SO_TIEN_THUC_THU</th>
          <th></th>
        </tr>

      </thead>
      <tbody ng-show="!S500.isLoading">
        <tr ng-repeat="item in displayedS500 track by $index">
          <td>{{S500.tableState.pagination.start + $index+1}}</td>
          <td>{{item.packageId}}</td>
          <td >{{item.tenSanPham}}</td>
          <td  class="text-right">{{item.tongTopicaUserId |number:0}}</td>
          <td class = "text-right">   {{item.tongTienThucThu |number:0}} </td>

        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-right" style="font-weight: bold;font-style: italic">Tổng:</td>
          <td class="text-right" style="font-weight: bold;font-style: italic">{{s500TienThucThu |number:0}}</td>
          </tr>
      </tbody>
      <tbody ng-show="S500.isLoading">
        <tr>
          <td colspan="16" class="text-center">Loading ... </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="16" class="text-center">
            <div st-pagination="" st-items-by-page="S500.tablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div ba-panel ba-panel-class="with-scroll" ng-show="hideS600" ng-init="S600.refresh()">
  <div class="horizontal-scroll">
    <div class="col-xs-2">
      <div class="form-group">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="S600.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
    </div>

    <table class="table table-hover" st-table="displayedS600" st-safe-src="S600.tableData">
      <thead>
        <tr class="sortable ">
          <th>#</th>
          <th st-sort="TenHocVien" translate>STUDENT_NAME</th>
          <th st-sort="PhoneNumber1" translate>PHONE_NUMBER</th>
          <th   class="text-right" st-sort="SoGoiHocDaMua" translate>SO_GOI_HOC_DA_MUA</th>
          <th class="text-right" st-sort="TongActualReceivedMoney" translate>SO_TIEN_THUC_THU</th>
          <th></th>
        </tr>

      </thead>
      <tbody ng-show="!S600.isLoading">
        <tr ng-repeat="item in displayedS600 track by $index">
          <td>{{S600.tableState.pagination.start + $index+1}}</td>
                  <td>{{item.fullName}}</td>
          <td>{{item.phoneNumber1}}</td>
  
          <td class="text-right">{{item.tongSoGoiHocDaMua |number:0}}</td>
          <td class="text-right"> {{item.tongTienThucThu |number:0}} </td>

        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-right" style="font-weight: bold;font-style: italic">Tổng:</td>
          <td class="text-right" style="font-weight: bold;font-style: italic">{{s600TienThucThu |number:0}}</td>
          </tr>
      </tbody>
      <tbody ng-show="S600.isLoading">
        <tr>
          <td colspan="16" class="text-center">Loading ... </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="16" class="text-center">
            <div st-pagination="" st-items-by-page="S600.tablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>