<div ng-init="allSms.init()">
  <div class="col-md-9 col-md-9-padding">

    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate>THONG_TIN_CHUNG</H4>
      </div>
      <div class="panel-body">

        <div class="">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_TIME</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{allSms.form.sentTime | date : "MM/dd/yyyy HH:mm:ss" }}</div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_CODE</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding" ng-if="allSms.form.bankCode !=null">
              <button style="border: 1px solid #ffffff; border-radius: 5px; width: 40%; background: lightskyblue;">
                <a ui-sref="transactionManagement.bankTransferDetail({bankTransferId: allSms.form.extractedSmsId})" target="_blank">{{allSms.form.bankCode}}</a>
              </button>
            </div>
            <div class="bottom-border ng-binding" ng-if="allSms.form.bankCode ==null && allSms.form.extractedSmsId == null" translate>NOT_INFORMATION
            </div>
            <div class="bottom-border ng-binding" ng-if="allSms.form.bankCode ==null && allSms.form.extractedSmsId != null">
              <button style="border: 1px solid #ffffff; border-radius: 5px; width: 20%; background: lightskyblue;">
                <a ui-sref="transactionManagement.bankTransferDetail({bankTransferId: allSms.form.extractedSmsId})" target="_blank">
                  {{allSms.form.extractedSmsId}}</a>
              </button>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_MONEY</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{allSms.form.sentMoney |number:0}} đ</div>
          </div>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BALANCE</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{allSms.form.balance |number:0}} đ</div>

          </div>
          <br/>
          <br/>
          <br/>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NOI_DUNG</label>
          </div>

          <div class="col-md-10">
            <div class="bottom-border ng-binding"> {{allSms.form.contentSms}} </div>
          </div>

        </div>
      </div>
    </div>
    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate> THONG_TIN_DON_HANG</H4>
      </div>
      <div class="panel-body">
        <div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
          </div>
          <div class="col-md-2">
            <p>
              <b>{{allSms.form.orderCode}}</b>
            </p>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TONG_SO_TIEN_PHAI_THU</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': allSms.form.order.tongTienPhaiThu == null}">{{allSms.form.order.tongTienPhaiThu |number:0}}
              <span ng-if="allSms.form.order.tongTienPhaiThu">đ</span>
            </div>

          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>STATUS</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': allSms.form.order.orderStatus == null}">{{allSms.form.order.orderStatus}} </div>
          </div>
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TVTS</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': allSms.form.order.tvts == null}">{{allSms.form.order.tvts}}</div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>DA_THANH_TOAN</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': allSms.form.order.tongTienDaThanhToan == null}">{{allSms.form.order.tongTienDaThanhToan |number:0}}
              <span ng-if="allSms.form.order.tongTienDaThanhToan">đ</span>
            </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_TAO</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': allSms.form.order.createdAt == null}">{{allSms.form.order.createdAt | appDate}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panelCustom panelBankTransferMinHeight">
    <div class="panel-heading">
      <h4 translate>CHUNG_TU</h4>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK</label>
      </div>
      <div class="col-md-8">
        <div>{{allSms.form.bank}} </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_ACCOUNT_NO</label>
      </div>
      <div class="col-md-8">
        <div class="bottom-border ng-binding">{{allSms.form.bankAccountNo}} </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
      </div>
      <div class="col-md-8">
        <p>
          <b ng-if="allSms.form.typeOfTransaction == 110" translate>110</b>
          <b ng-if="allSms.form.typeOfTransaction == 120" translate>120</b>
          <b ng-if="allSms.form.typeOfTransaction == 210" translate>210</b>
          <b ng-if="allSms.form.typeOfTransaction == 220" translate>220</b>
          <b ng-if="allSms.form.typeOfTransaction == 230" translate>230</b>
          <b ng-if="allSms.form.typeOfTransaction == 240" translate>240</b>
          <b ng-if="allSms.form.typeOfTransaction == 310" translate>310</b>
          <b ng-if="allSms.form.typeOfTransaction == 320" translate>320</b>
          <b ng-if="allSms.form.typeOfTransaction == 330" translate>330</b>
          <b ng-if="allSms.form.typeOfTransaction == 340" translate>340</b>
          <b ng-if="allSms.form.typeOfTransaction == 400" translate>400</b>
          <b ng-if="allSms.form.typeOfTransaction == 500" translate>500</b>
          <b ng-if="allSms.form.typeOfTransaction == 600" translate>600</b>
        </p>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANSACTION_STATUS</label>
      </div>
      <div class="col-md-8">
        <p>
          <b ng-if="allSms.form.transactionStatus == allSms.transactionStatus.S1" translate>S1</b>
          <b ng-if="allSms.form.transactionStatus == allSms.transactionStatus.S2" translate>S2</b>
          <b ng-if="allSms.form.transactionStatus == allSms.transactionStatus.S3" translate style="color:dodgerblue">S3</b>
          <b ng-if="allSms.form.transactionStatus == allSms.transactionStatus.S8" translate style="color:darkgreen">S8</b>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="col-md-12 col-md-12-padding">
  <div class="panelCustom">
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered" id="step_two">
        <thead>
          <tr>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>STT</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_NOP</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_DA_NOP</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>GOI_HOC_KHOA_HOC</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>GIA_BAN</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>USER_CODE</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>HO_TEN_HOC_VIEN</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>NGAY_SINH</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SDT</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>EMAIL</label>
            </td>
          </tr>

        </thead>
        <tbody>
          <tr ng-repeat="item in allSms.form.orderDetails track by $index">
            <td class="text-center">{{ $index + 1 }}</td>
            <td class="form-group" style="padding-top: 10px">
              <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="form-control input-sm" id="soTienNopHienTai" name="soTienNopHienTai"
                ng-model="item.soTienNopHienTai">
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.soTienDaNop |number:0}}
                <span> VND</span>
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.package.maGoi}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.giaBanSauKhuyenMai |number:0}}
                <span>VND</span>
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.topicaUserId}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.fullName}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.birthday | appDate}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.phoneNumber1}}
              </p>
            </td>
            <td class="form-group" style="padding-top: 10px">
              <p>
                {{item.topicaUser.email}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-2 text-left padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="allSms.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div>
</div>

</div>
</div>