label.custom-checkbox {
  & > input {
    &:disabled {
      & + span {
        color: $default-text;
      }
    }
  }
}
input.searchDateSingleDatePicker {
  width: 90px;
  overflow: hidden;
}