@mixin color-row($color) {
  background-color: rgba($color, 0.7);
  color: $label-text;
}

.table > tbody > tr > td.merging-type-4 {
  @include color-row(#FF0000);
}
.table > tbody > tr > td.merging-type-3 {
    @include color-row(#ECA133);
}
.table > tbody > tr > td.merging-type-2 {
    @include color-row(#365E9F);
}
.table > tbody > tr > td.merging-type-1 {
    @include color-row(#E06666);
}