.panelCustom {
    border-color: #bcbda8;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px 0 #ddd;
    color: #666666;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
}

.label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-control {
    height: 28px;
    font-size: 12px;
}

.pagination {
    padding-right: 15px;
    padding-bottom: 5px;
}

.paddingRight {
    padding-right: 25px;
}

.paddingLeft {
    padding-left: 10px;
}

.col-md-9-padding {
    padding-left: 5px;
    padding-right: 5px
}

.col-md-12-padding {
    padding-left: 5px;
}

.btnPadding {
    width: 100%;
    padding-bottom: 3px;
}

.padding5 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.panelCustomMinHeight {
    min-height: 410px;
}

.panelCustomMinHeight345 {
    min-height: 345px;
}

.paymentGatewayMinHeight {
    min-height: 359px;
}

.panelCodMinHeight {
    min-height: 360px;
}

.bottom-border {
    border-bottom: 1px solid #c5bbbb;
    padding-bottom: 2px;
}

.padding-left-right-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-null-content {
    padding-bottom: 15px;
}

.panelBankTransferMinHeight {
    min-height: 320px;
}

.remove-padding {
    padding-right: 0%;
    padding-left: 0%;
}

.upper-case {
    text-transform: uppercase;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.ui-select-padding {
    padding-left: 0%;
}

.form-control-report {
    display: inline-block;
    width: 10%;
    height: 25px;
    font-size: 12px;
    color: #666666;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: none;
    margin: -7px 0px 15px 15px;
}
.col-xs-2-custom {
    padding-top: 7px;
    width: auto;
}

.col-padding-top20
{
    padding-top: 20px;
}

.col-padding-top-inline {
    padding: 24px;
    // padding-left: 820px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
}
.col-padding-top50
{
    // padding-top: 50px;
    padding: 20px 4px;
}

.form-control-PBI
{
  display: inline-block;
  width: 90px;
  height: 25px;
  font-size: 12px;
  color: #666666;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: none;
//   padding: 0px 0px 0px 15px;
  margin: -5px 0px 5px -5px
}

.label-custom
{
    display: inline;
    padding: 5px 3px 5px 10px;
}

.panel-body-custom
{
   font-size: 20px;
   height: 90px;
   padding: 15px 22px;
    margin: auto;
}
.custom-value
{
 margin: auto;
 width: 100%;
 border: 3px solid #ffffff;
 padding: 20px;
     text-align: center;
}




  .panel > .panel-heading-custom {
    color: #8a6d3b !important;
}
.custom-for-pos
{
   padding: 10px;
   margin-left: 1px;
}

.frame {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}