<div ba-panel ng-init="S200.init()">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h3 ng-model="tenBaoCao" style="color:#C39B64;"> {{tenBaoCao}} </h3>
    </div>
    <div class="col-xs-2">
      <label translate>S200_VER</label>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="col-xs-2">
      <label class="ng-scope">Từ ngày</label>
      <input type="date" class="form-control" name="startDate" id="startDate" ng-model="startDate" ng-change="reload(startDate, null)">
    </div>
    <div class="col-xs-2">
      <label class="ng-scope">Đến ngày</label>
      <input type="date" class="form-control" name="endDate" id="endDate" ng-model="endDate" ng-change="reload(null, endDate)">
    </div>
    <div class="col-xs-2">
      <label translate="">Ngày xuất báo cáo </label>
      <label class="form-control" ng-click="dateChange()"> {{ngayXuatBaoCao | date:'dd-MM-yyyy'}}</label>
      <br/>
    </div>

    <div class="col-xs-2">
      <label translate="">Tổng học phí thực nộp</label>
      <label class="form-control"> {{tongtien |number:0}}</label>
    </div>

    <div class="col-xs-2">
      <label></label>
      <button class="btn btn-primary btn-with-icon" permission="S200.DownloadTemplate" ng-click="S200.download()" ladda="S200.isExporting"
        data-spinner-color="#000" data-size="xs">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span translate>DOWNLOAD_EXCEL</span>
      </button>
    </div>


  </div>
</div>
<div ba-panel ba-panel-class="with-scroll">
  <div>

    <table class="table table-striped table-hover table-bordered " st-table="displayedS200" st-safe-src="S200.tableData">
      <thead>
        <tr class="sortable ">
          <th>STT</th>
          <th st-sort="NgayThuTien" translate>NGAY_THU_TIEN</th>
          <th st-sort="CreatedAt" translate>REPORT_CREATED_AT</th>
          <th st-sort="SoPhieu" translate>SO_CHUNG_TU</th>
          <th st-sort="OrderId" translate>ORDER_ID</th>
          <th st-sort="OrderIdDetail" translate>ORDER_ID_DETAIL</th>
          <th st-sort="FullName" translate>HO_TEN</th>
          <th st-sort="PhoneNumber1" translate>SO_DIEN_THOAI</th>
          <th st-sort="Email" translate>EMAIL</th>
          <th st-sort="NoiDung" translate>NOI_DUNG</th>
          <th st-sort="PackageId" translate>PACKAGE_ID</th>
          <th st-sort="TongTienPhaiThu" translate>TONG_TIEN_PHAI_THU</th>
          <th st-sort="SoTienNop" translate>SO_TIEN_NOP</th>
          <th translate>SO_TIEN_CHENH_LECH</th>
          <th translate>ID_FAST</th>

        </tr>

      </thead>
      <tbody ng-show="!S200.isLoading">
        <tr ng-repeat="item in displayedS200 track by $index">
          <td>{{S200.tableState.pagination.start + $index+1}}</td>
          <td>{{item.ngayThuTien | appDatetime}}</td>
          <td>{{item.ngayTaoPhieu | appDatetime}}</td>
          <td>{{item.soPhieu}}</td>
          <td>{{item.orderId}}</td>
          <td>{{item.orderIdDetail}}</td>
          <td>{{item.fullName}} </td>
          <td>{{item.phoneNumber1}}</td>
          <td>{{item.email}}</td>
          <td>{{item.noiDung}}</td>
          <td>{{item.packageId}}</td>
          <td class="text-right">{{item.tongTienPhaiThu |number:0}}</td>
          <td class="text-right">{{item.soTienNop |number:0}}</td>
          <td class="text-right">{{item.tongTienPhaiThu - item.soTienNop |number:0}}</td>
          <td></td>

        </tr>
      </tbody>
      <tbody ng-show="S200.isLoading">
        <tr>
          <td colspan="16" class="text-center">Loading ... </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="12" class="text-center">
            <div st-pagination="" st-items-by-page="S200.tablePageSize" st-displayed-pages="5"></div>
          </td>
          <td class="text-right">
            <b>
              <i>{{tongtien |number:0}} đ</i>
            </b>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <div class="row">
      <br>
      <br>
      <br>
    </div>
    <!-- <div class="row">
      <div class="col-xs-6">
        <label translate>S200_SIGN</label>
      </div>
    </div> -->

  </div>
</div>