<div ba-panel>
  <div>
    <div class="row">
      <div class="col-xs-2">
        <search-common label="SEARCH_EVERYTHING" table-state="paymentGates.tableState" refresh="paymentGates.refresh()" columns="['merchantId','paymentContent','orderCode','email','cardNumber','amountMoney','lastName','firstName','masterSearchName']"></search-common>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="paymentGates.tableState" refresh="paymentGates.refresh()" column="ssrsTransactionStatus" data="paymentGates.transStatus"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="paymentGates.tableState" refresh="paymentGates.refresh()" column="timeOfPayment" label="TU_NGAY"
          type="greater" default="paymentGates.default.search.startDate"></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="paymentGates.tableState" refresh="paymentGates.refresh()" column="timeOfPayment" label="DEN_NGAY"
          type="lesser" default="paymentGates.default.search.endDate"></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="paymentGates.tableState" refresh="paymentGates.refresh()" column="orderCode" data="paymentGates.myTransaction"
          label="MY_TRANSACTION" default="paymentGates.default.search.orderCode" >
        </search-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-default btn-with-icon pull-left" permission="PaymentGateways.GetAll" ng-click="paymentGates.refresh()"
          ladda="paymentGates.isLoading" data-spinner-color="#000" data-size="xs">
          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
      <div class="col-xs-8 text-right pull-right">
        <button type="button" ng-click="paymentGates.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',paymentGates.correctMultiData , 0)" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateCorrectMultiDataOfTransManage">
          <i class="fa fa-check"></i>
          <span translate>UNCORRECT_DATA</span>
        </button>
        <button type="button" ng-click="paymentGates.confirmDialog('',paymentGates.correctMultiData , 1)" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateCorrectMultiDataOfTransManage">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="paymentGates.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',paymentGates.confirm , 0)" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateConfirmMultiPaymentGatewayOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>UNCONFIRM_MAPPING</span>
        </button>
        <button type="button" ng-click="paymentGates.confirmDialog('',paymentGates.confirm , 1)" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateConfirmMultiPaymentGatewayOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
    <table class="table table-striped table-bordered ng-isolate-scope" st-pipe="paymentGates.init" st-table="paymentGates.tableData">
      <thead>
        <tr class="sortable ">
          <!-- <th style="width:2%" class="text-center" row-select-all="paymentGates.tableData" selected="paymentGates.selection" ng-click="paymentGates.selectAll(paymentGates.tableData)">
          </th> -->
          <th style="width:2%">
            <label class="custom-checkbox text-center">
              <input type="checkbox" ng-checked="paymentGates.isSelectAll" ng-click="paymentGates.selectAll(paymentGates.tableData)" ng-model="checkbox">
              <span>
              </span>
            </label>
          </th>
          <th st-sort="timeOfPayment" translate>DATE</th>
          <th st-sort="merchantId" translate>MERCHANT_ID</th>
          <th st-sort="paymentContent" translate>PAYMENT_CONTENT</th>
          <th st-sort="orderCode"  translate>ORDER_CODE</th>
          <th st-sort="masterSearchName"  translate>THONG_TIN_HOC_VIEN</th>
          <th st-sort="lastName" style="width:10%" translate>NAME</th>
          <th st-sort="email" translate>EMAIL</th>
          <th st-sort="cardNumber" translate>CARD_NUMBER</th>
          <th st-sort="transactionStatus" translate>TRANSACTION_STATUS</th>
          <!-- <th translate>FAST_ID</th> -->
          <th style="width:8%" st-sort="amountMoney" translate>AMOUNT_MONEY</th>


          <th></th>
        </tr>
        <tr>
            <th></th>
            <th>
              <!-- <input st-search="timeOfPayment" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"/> -->
            </th>
            <th>
              <input st-search="merchantId" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'MERCHANT_ID' }"/>
            </th>
            <th >
              <input st-search="paymentContent" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'PAYMENT_CONTENT' }"/>
            </th>
            <th>
              <input st-search="orderCode" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'ORDER_CODE' }"/>
            </th>
            <th>
              <input st-search="masterSearchName" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'THONG_TIN_HOC_VIEN' }"/>
            </th>
            <th>
              <input st-search="lastName" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'NAME' }"/>
            </th>
            <th>
                <input st-search="email" class="input-sm form-control search-input" type="search"
                translate-attr="{ placeholder: 'EMAIL' }"/>
              </th>
            <th>
              <input st-search="cardNumber" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'CARD_NUMBER' }"/>
            </th>
            <th>
              <input st-search="ssrsTransactionStatus" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"/>
            </th>
            <th>
                <input st-search="amountMoney" class="input-sm form-control search-input" type="search"
                translate-attr="{ placeholder: 'AMOUNT_MONEY' }"/>
            </th>
            <th></th>
          </tr>
      </thead>
      <tbody ng-show="!paymentGates.isLoading">
        <tr ng-repeat="item in paymentGates.tableData track by $index" ng-class="{info : item.checked}">
          <!-- <td row-select="item" ng-click="paymentGates.toggleSelection(item.id)"></td> -->
          <td>
            <div class="checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" ng-checked="paymentGates.selection.indexOf(item.id) > -1" ng-click="paymentGates.toggleSelection(item.id)">
                <span>
                </span>
              </label>
            </div>
          </td>
          <td>{{item.timeOfPayment | date : "MM/dd/yyyy HH:mm"}}</td>
          <td>{{item.merchantId}}</td>
          <td>{{item.paymentContent}}</td>
          <td>{{item.orderCode ? item.orderCode.toUpperCase() : ""}}</td>
          <td>{{item.masterSearchName | truncateString:30}}</td>
          <td>{{item.firstName + ' ' + item.lastName}}</td>
          <td>{{item.email}}</td>
          <td>{{item.cardNumber}}</td>
          <td ng-if="item.ssrsTransactionStatus == null" translate>NOT_INFORMATION</td>
          <td ng-if="item.ssrsTransactionStatus != null" translate>{{item.ssrsTransactionStatus}}</td>
          <!-- <td ng-if="item.fastId == null" style="width:100%" translate>NOT_INFORMATION</td>
          <td ng-if="item.fastId != null" style="width:100%" translate>{{item.fastId}}</td> -->
          <td style="width:7%" class="text-right">{{item.amountMoney |number:0}} đ</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="PaymentGateways.GetById" ui-sref="transactionManagement.paymentGatewayDetail({paymentGatewayId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
              <!-- <button class="btn btn-danger btn-xs" ng-click="smss.delete(item.id)"
                permission="paymentGates.Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span translate>DELETE</span>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="paymentGates.isLoading">
        <tr>
          <td colspan="12" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="10" class="text-center">
            <div st-pagination="" st-items-by-page="paymentGates.tablePageSize" st-displayed-pages="5"></div>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumMoney |number:0}} đ</i>
            </b>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <br>
    <!-- <div class="col-xs-4 text-right pull-right paddingRight">
      <button type="button" ng-click="paymentGates.correctMultiData()" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateCorrectMultiDataOfTransManage">
        <i class="fa fa-cube"></i>
        <span translate>CORRECT_DATA</span>
      </button>
      <button type="button" ng-click="paymentGates.confirm()" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateConfirmMultiPaymentGatewayOfTransManage">
        <i class="fa fa-user-plus"></i>
        <span translate>CONFIRM_MAPPING</span>
      </button>
    </div> -->
  </div>
</div>