<div ba-panel ba-panel-class="with-scroll">
  <div class="row">
    <!-- <div class="col-xs-2">
      <search-common label="BANK" table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" columns="['bank']"></search-common>
    </div> -->
    <div class="col-xs-2">
      <search-checkbox table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" column="bank" data="bankTransfers.banks"
        label="BANK" on-changed="bankTransfers.bankChange(value)">
      </search-checkbox>

    </div>
    <div class="col-xs-2">
      <search-checkbox table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" column="bankAccountNo" data="bankTransfers.bankAccounts"
        label="BANK_ACCOUNT_NO">
      </search-checkbox>
    </div>
    <div class="col-xs-2">
      <search-checkbox table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" column="transactionStatus" data="bankTransfers.transactionStatus"
        label="STATUS">
      </search-checkbox>
    </div>
    <!-- <div class="col-xs-2">
      <search-common label="BANK_ACCOUNT_NO" table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" columns="['bankAccountNo']"></search-common>
    </div> -->
    <div class="col-xs-2">
      <search-common label="SEARCH_EVERYTHING" table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" columns="['sentReason','orderCode','sentMoney','balance','transactionStatus','masterSearchName']"></search-common>
    </div>
    <div class="col-xs-1">
      <search-date table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" column="sentTime" label="TU_NGAY" type="greater" 
      default="bankTransfers.default.search.startDate"></search-date>
    </div>
    <div class="col-xs-1">
      <search-date defaultDate="" table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" column="sentTime" label="DEN_NGAY" 
        type="lesser" date="endDate" default="bankTransfers.default.search.endDate"></search-date>
    </div>
    <div class="col-xs-2">
      <search-checkbox table-state="bankTransfers.tableState" refresh="bankTransfers.refresh()" column="orderCode" data="bankTransfers.myTransaction"
        label="MY_TRANSACTION" default="bankTransfers.default.search.orderCode">
      </search-checkbox>
    </div>
    <div class="col-xs-2 text-right pull-right">
      <span translate>ROWS_ON_PAGE</span>
      <label>
        <select class="form-control" ng-model="bankTransfers.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
        </select>
      </label>
    </div>
    <div class="col-xs-3 text-right pull-righ btnPadding">
      <button type="button" ng-click="bankTransfers.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',bankTransfers.correctMultiData , 0)" class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectMultiBankTransferOfTransManage">
        <i class="fa fa-check"></i>
        <span translate>UNCORRECT_DATA</span>
      </button>
      <button type="button" ng-click="bankTransfers.confirmDialog('',bankTransfers.correctMultiData , 1)" class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectMultiBankTransferOfTransManage">
        <i class="fa fa-check"></i>
        <span translate>CORRECT_DATA</span>
      </button>
      <button type="button" ng-click="bankTransfers.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',bankTransfers.confirm , 0)" permission="Smss.UpdateConfirmMultiBankTransferOfTransManage" class="btn btn-primary btn-with-icon" >
        <i class="fa fa-anchor"></i>
        <span translate>UNCONFIRM_MAPPING</span>
      </button>
      <button type="button" ng-click="bankTransfers.confirmDialog('',bankTransfers.confirm , 1)" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMultiBankTransferOfTransManage">
        <i class="fa fa-anchor"></i>
        <span translate>CONFIRM_MAPPING</span>
      </button>
      <button type="button" ng-click="bankTransfers.lockMultiData()" class="btn btn-primary btn-with-icon" permission="Smss.UpdateLockMultiBankTransferOfTransManage">
        <i class="fa fa-lock"></i>
        <span translate>LOCK_TRANSACTION</span>
      </button>
      <button type="button" class="btn btn-default btn-with-icon pull-left" permission="Smss.GetAll" ng-click="bankTransfers.refresh()"
        ladda="bankTransfers.isLoading" data-spinner-color="#000" data-size="xs">
        <i class="ion-loop"></i>
        <span translate>REFRESH</span>
      </button>
    </div>
  </div>

  <table class="table table-striped table-bordered ng-isolate-scope" st-pipe="bankTransfers.init" st-table="bankTransfers.tableData">
    <br/>
    <thead>
      <tr class="sortable ">
        <!-- <th style="width:2%" class="text-center" row-select-all="bankTransfers.tableData" selected="bankTransfers.selection" ng-click="bankTransfers.selectAll(bankTransfers.tableData)">
        </th> -->
        <th style="width:2%">
          <label class="custom-checkbox text-center">
            <input type="checkbox" ng-checked="bankTransfers.isSelectAll" ng-click="bankTransfers.selectAll(bankTransfers.tableData)"
              ng-model="checkbox">
            <span>
            </span>
          </label>
        </th>
        <th st-sort="sentTime" translate>SENT_TIME</th>
        <th st-sort="bank" style="width:3%" translate>BANK</th>
        <th st-sort="bankAccountNo" style="width:3%" translate>BANK_ACCOUNT_NO</th>
        <th st-sort="sentReason" style="width:20%" translate>NOI_DUNG</th>
        <th st-sort="orderCode" translate>ORDER_CODE</th>
        <th st-sort="masterSearchName" translate>THONG_TIN_HOC_VIEN</th>
        <th st-sort="transactionStatus" translate>STATUS</th>
        <!-- <th translate>FAST_ID</th> -->
        <th st-sort="sentMoney" translate>SENT_MONEY</th>
        <th st-sort="balance" style="width:8%" translate>BALANCE</th>

        <th></th>
      </tr>

      <tr>
        <th></th>
        <th>
          <input st-search="sentTime" class="input-sm form-control search-input" type="search"
           translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"/>
        </th>
        <th>
          <input st-search="bank" class="input-sm form-control search-input" type="search"
           translate-attr="{ placeholder: 'SEARCH_BANK' }"/>
        </th>
        <th >
          <input st-search="bankAccountNo" class="input-sm form-control search-input" type="search"
           translate-attr="{ placeholder: 'SEARCH_BANKACCOUNTNO' }"/>
        </th>
        <th>
          <input st-search="sentReason" class="input-sm form-control search-input" type="search"
          translate-attr="{ placeholder: 'SEARCH_CONTENT_TRANSFER' }"/>
        </th>
        <th>
          <input st-search="orderCode" class="input-sm form-control search-input" type="search"
          translate-attr="{ placeholder: 'SEARCH_ORDER_CODE' }"/>
        </th>
        <th >
          <input st-search="masterSearchName" class="input-sm form-control search-input" type="search"
           translate-attr="{ placeholder: 'THONG_TIN_HOC_VIEN' }"/>
        </th>
        <th>
          <input st-search="transactionStatus" class="input-sm form-control search-input" type="search"
          translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"/>
        </th>
        <th>
          <input st-search="sentMoney" class="input-sm form-control search-input" type="search"
          translate-attr="{ placeholder: 'SEARCH_AMOUNT_MONEY' }"/>
        </th>
        <th>
          <input st-search="balance" class="input-sm form-control search-input" type="search"
          translate-attr="{ placeholder: 'SEARCH_BALANCE' }"/>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-show="!bankTransfers.isLoading">
      <tr ng-repeat="item in bankTransfers.tableData track by $index" ng-class="{info : item.checked}">
        <!-- <td row-select="item" ng-click="bankTransfers.toggleSelection(item.id)"></td> -->
        <td>
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-checked="bankTransfers.selection.indexOf(item.id) > -1" ng-click="bankTransfers.toggleSelection(item.id)">
              <span>
              </span>
            </label>
          </div>
        </td>
        <td>{{item.sentTime| date : "dd/MM/yyyy HH:mm"}}</td>
        <td>{{bankTransfers.bankLabel[item.bank]}}</td>
        <td>{{item.bankAccountNo ? item.bankAccountNo.substr(item.bankAccountNo.length - 3) :"" }}</td>
        <td>{{item.sentReason }}</td>
        <td>{{item.orderCode ? item.orderCode.toUpperCase() : ""}}</td>
        <td>{{item.masterSearchName | truncateString:30}}</td>
        <td ng-if="item.transactionStatus ==null" translate>NOT_INFORMATION</td>
        <td ng-if="item.transactionStatus !=null" translate>{{item.transactionStatus}}</td>
        <!-- <td ng-if="item.fastId ==null" translate>NOT_INFORMATION</td> -->
        <!-- <td ng-if="item.fastId !=null" translate>{{item.fastId}}</td> -->
        <td align="right">{{item.sentMoney || 0 |number:0}} đ</td>
        <td align="right">{{item.balance || 0 |number:0}} đ</td>
        

        <td class="text-center">
          <div class="buttons">
            <button class="btn btn-info btn-xs" permission="Smss.GetById" ui-sref="transactionManagement.bankTransferDetail({bankTransferId: item.id})">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span translate>VIEW</span>
            </button>
            <!-- <button class="btn btn-danger btn-xs" ng-click="smss.delete(item.id)"
                  permission="bankTransfers.Delete">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span translate>DELETE</span>
                </button> -->
          </div>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="bankTransfers.isLoading">
      <tr>
        <td colspan="11" class="text-center" translate>LOADING</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">
          <div st-pagination="" st-items-by-page="bankTransfers.tablePageSize" st-displayed-pages="5"></div>
        </td>
        <td class="text-right padding">
          <b>
            <i> {{sumSentMoney |number:0}} ₫ </i>
          </b>
        </td>
        <td colspan="3"></td>
      </tr>
    </tfoot>
  </table>
  <!-- <div class="row">
    <br>
  </div>
  <div class="col-xs-2 text-right pull-right">
    <button type="button" ng-click="bankTransfers.confirm()" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMultiBankTransferOfTransManage">
      <i class="fa fa-user-plus"></i>
      <span translate>CONFIRM</span>
    </button>
  </div> -->
</div>