<div ba-panel ba-panel-class="with-scroll">

  <!-- <div class="">
    <div class="row">
       -->
  <!-- <div class="col-xs-2 text-right pull-right"> -->
  <!-- <div class="horizontal-scroll"> -->
  <div class="row">
    <div class="col-xs-2">
      <search-checkbox table-state="allSmss.tableState" refresh="allSmss.refresh()" column="bank" data="allSmss.banks" label="BANK"
      on-changed="allSmss.bankChange(value)">
      </search-checkbox>
    </div>
    <div class="col-xs-2">
      <search-checkbox table-state="allSmss.tableState" refresh="allSmss.refresh()" column="bankAccountNo" data="allSmss.bankAccounts"
        label="BANK_ACCOUNT_NO">
      </search-checkbox>
    </div>
    <!-- <div class="col-xs-2">
      <search-common label="BANK_ACCOUNT_NO" table-state="allSmss.tableState" refresh="allSmss.refresh()" columns="['bankAccountNo']"></search-common>
    </div> -->
    <div class="col-xs-2">
      <search-common label="SEARCH_EVERYTHING" table-state="allSmss.tableState" refresh="allSmss.refresh()" columns="['sentMoney','balance','sentReason','orderCode','masterSearchName']"></search-common>
    </div>
    <div class="col-xs-2">
      <search-checkbox table-state="allSmss.tableState" refresh="allSmss.refresh()" column="orderCode" data="allSmss.myTransaction"
        label="MY_TRANSACTION" default="allSmss.default.search.orderCode">
      </search-checkbox>
    </div>
    <div class="col-xs-1">
      <search-date table-state="allSmss.tableState" refresh="allSmss.refresh()" column="sentTime" label="TU_NGAY" type="greater" default="allSmss.default.search.startDate"></search-date>
    </div>
    <div class="col-xs-1">
      <search-date table-state="allSmss.tableState" refresh="allSmss.refresh()" column="sentTime" label="DEN_NGAY" type="lesser" default="allSmss.default.search.endDate"></search-date>
    </div>
    
    <div class="col-xs-2 text-right pull-right">
      <span translate>ROWS_ON_PAGE</span>
      <label>
        <select class="form-control" ng-model="allSmss.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
        </select>
      </label>
    </div>
    <div class="col-xs-3 text-right pull-righ btnPadding">
      <button type="button" class="btn btn-default btn-with-icon pull-left" permission="BankingSmss.GetAll" ng-click="allSmss.refresh()"
        ladda="allSmss.isLoading" data-spinner-color="#000" data-size="xs">
        <i class="ion-loop"></i>
        <span translate>REFRESH</span>
      </button>
    </div>
  </div>
  <div class="row">
    <br>
  </div>

  <table class="table table-striped table-bordered" st-pipe="allSmss.init" st-table="allSmss.tableData">
    <thead>
      <tr class="sortable ">
        <th style="padding:5px">STT</th>
        <th st-sort="sentTime" translate>SENT_TIME</th>
        <th st-sort="bank" translate>BANK</th>
        <th st-sort="bankAccountNo" translate>BANK_ACCOUNT_NO</th>
        <th st-sort="sentMoney" translate>SENT_MONEY</th>
        <th st-sort="balance" translate>BALANCE</th>
        <th st-sort="sentReason" translate>SENT_REASON</th>
        <th st-sort="orderCode" translate>ORDER_CODE</th>
        <th st-sort="masterSearchName" translate>THONG_TIN_HOC_VIEN</th>
        <th></th>
      </tr>

      <!-- <tr>
          <th></th>
          <th></th>
          <th></th>
          <th style="text-align: right">
            <input st-search="sentMoney" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_SENT_MONEY' }"/>
          </th>
          <th style="text-align: right">
            <input st-search="balance" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_BALANCE' }"/>
          </th>
          <th style="padding: 0px 10px;">
            <input st-search="sentReason" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_SENTREASON' }"/>
          </th>
          <th>
            <input st-search="orderCode" class="input-sm form-control search-input" type="search"
             translate-attr="{ placeholder: 'SEARCH_ORDER_CODE' }"/>
          </th>
          <th></th>
        </tr> -->
    </thead>
    <tbody ng-show="!allSmss.isLoading">
      <tr ng-repeat="item in allSmss.tableData track by $index" ng-class="{info : item.checked}">

        <td>{{allSmss.tableState.pagination.start + $index+1}}</td>
        <td>{{item.sentTime| date : "MM/dd/yyyy HH:mm:ss"}}</td>
        <td>{{allSmss.bankLabel[item.bank]}}</td>
        <td>{{item.bankAccountNo ? item.bankAccountNo.substr(item.bankAccountNo.length - 3) :"" }}</td>
        <td style="text-align: right">{{item.sentMoney |number:0}} đ</td>
        <td style="text-align: right">{{item.balance |number:0}} đ</td>
        <td style="padding: 0px 15px;">{{item.sentReason}}</td>
        <td>{{item.orderCode}}</td>
        <td>{{item.masterSearchName | truncateString:40}}</td>
        <td class="text-center">
          <div class="buttons">
            <button class="btn btn-info btn-xs" permission="BankingSmss.GetById" ui-sref="transactionManagement.allSmsDetail({allSmssId: item.id})">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span translate>VIEW</span>
            </button>
            <!-- <button class="btn btn-danger btn-xs" ng-click="smss.delete(item.id)"

                permission="allSmss.Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span translate>DELETE</span>
              </button> -->

          </div>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="allSmss.isLoading">
      <tr>
        <td colspan="10" class="text-center" translate>LOADING</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="10" class="text-center">
          <div st-pagination="" st-items-by-page="allSmss.tablePageSize" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
</div>