<div ba-panel ba-panel-class="" ng-init="user.init()">
  <form name="userForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" 
          permission="Users.GetAll" ng-click="user.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-info btn-with-icon" 
          permission="Users.Update" ng-click="user.showEdit()" ng-if="user.isEdit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <span translate>EDIT</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" 
          ng-click="user.reload()" ng-if="!user.isCreateMode&&user.isSave">
          <i class="fa fa-undo" aria-hidden="true"></i>
          <span translate>CANCEL</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" 
          ng-click="userForm.$valid && user.save()" ng-if="user.isSave">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>SAVE</span>
        </button>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="userpic">
          <div class="userpic-wrapper">
            <img ng-src="{{ user.form.imageUrl }}">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error': userForm.email.$invalid 
                      && (userForm.email.$dirty || userForm.email.$touched || userForm.$submitted)}">
              <label for="email" translate>EMAIL</label>
              <span>(*)</span>
              <p ng-if="!user.isSave">
                <b>{{user.form.email}}</b>
              </p>
              <input type="email" class="form-control" name="email" id="email" 
                ng-if="user.isSave" ng-model="user.form.email" placeholder="{{'EMAIL' | translate}}"
                required>
              <span class="help-block error-block basic-block" 
                ng-show="userForm.email.$error.required" translate>REQUIRED</span>
              <span class="help-block error-block basic-block" 
                ng-show="userForm.email.$error.email" translate>INVALID_EMAIL</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error': userForm.fullName.$invalid 
                      && (userForm.fullName.$dirty || userForm.fullName.$touched || userForm.$submitted)}">
              <label for="fullName" translate>FULL_NAME</label>
              <span>(*)</span>
              <p ng-if="!user.isSave">
                <b>{{user.form.fullName}}</b>
              </p>
              <input type="text" class="form-control" name="fullName" id="fullName" 
                ng-if="user.isSave" ng-model="user.form.fullName" placeholder="{{'FULL_NAME' | translate}}"
                required>
              <span class="help-block error-block basic-block" 
                ng-show="userForm.fullName.$error.required" translate>REQUIRED</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error': userForm.status.$invalid 
                      && (userForm.status.$dirty || userForm.status.$touched || userForm.$submitted)}">
              <label for="status" translate>STATUS</label>
              <span>(*)</span>
              <p ng-if="!user.isSave">
                <b ng-if="user.form.status===0" translate>PENDING</b>
                <b ng-if="user.form.status===1" translate>ACTIVE</b>
                <b ng-if="user.form.status===2" translate>BLOCKED</b>
              </p>
              <select class="form-control" name="status" id="status" 
                ng-model="user.form.status" ng-if="user.isSave" required>
                <option ng-value="0" translate>PENDING</option>
                <option ng-value="1" translate>ACTIVE</option>
                <option ng-value="2" translate>BLOCKED</option>
              </select>
              <span class="help-block error-block basic-block" 
                ng-show="userForm.status.$error.required" translate>REQUIRED</span>
            </div>
          </div>
          <div class="col-md-12" ng-if="!user.isCreateMode">
            <div class="form-group">
              <label translate>CREATED_AT</label>
              <p>
                <b>{{user.form.createdAt | appDatetime}}</b>
              </p>
            </div>
          </div>
          <div class="col-md-12" ng-if="!user.isCreateMode">
            <div class="form-group">
              <label translate>UPDATED_AT</label>
              <p>
                <b>{{user.form.updatedAt | appDatetime}}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="roles" translate>USER_GROUPS</label>
          <table class="table" st-table="displayedGroups" st-safe-src="user.groups">
            <thead>
              <tr class="sortable">
                <th class="table-id" st-sort="name" st-sort-default="true" translate>NAME_USER_GROUPS</th>
              </tr>
              <tr>
                <th>
                  <input st-search="name" translate-attr="{ placeholder: 'SEARCH_NAME_USER_GROUPS' }" 
                    class="input-sm form-control search-input" type="search" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in displayedGroups track by $index">
                <td class="table-id">
                  <div class="checkbox">
                    <label class="custom-checkbox">
                      <input type="checkbox" ng-checked="user.selectionGroup.indexOf(item.id) > -1" 
                        ng-click="user.toggleSelectionGroup(item.id)" ng-disabled="!user.isSave">
                      <span>{{item.name}}</span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center">
                  <div st-pagination="" st-items-by-page="1000" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="roles" translate>ROLE</label>
          <table class="table" st-table="displayedRoutes" st-safe-src="user.routes">
            <thead>
              <tr class="sortable">
                <th class="table-id" st-sort="name" st-sort-default="true" translate>NAME_ROLE</th>
              </tr>
              <tr>
                <th>
                  <input st-search="name" translate-attr="{ placeholder: 'SEARCH_NAME_ROLE' }" 
                    class="input-sm form-control search-input" type="search"
                  />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in displayedRoutes track by $index">
                <td class="table-id">
                  <div class="checkbox">
                    <label class="custom-checkbox">
                      <input type="checkbox" ng-checked="user.selectionRoute.indexOf(item.id) > -1" 
                        ng-click="user.toggleSelectionRoute(item.id)" ng-disabled="!user.isSave">
                      <span>{{item.name}}</span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center">
                  <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>