<div ba-panel>
  <div>
    <div class="row">

      <div class="col-xs-2">
        <search-common label="SEARCH_EVERYTHING" table-state="POSs.tableState" refresh="POSs.refresh()" columns="['soPhieu','orderCode','nguoiNopTien','soTienNop','id','masterSearchName']"></search-common>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="POSs.tableState" refresh="POSs.refresh()" column="transactionStatus" data="POSs.transStatus"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="POSs.tableState" refresh="POSs.refresh()" column="ngayThuTien" label="TU_NGAY" type="greater"
        default="POSs.default.search.startDate"></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="POSs.tableState" refresh="POSs.refresh()" column="ngayThuTien" label="DEN_NGAY" type="lesser"
        default="POSs.default.search.endDate"></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="POSs.tableState" refresh="POSs.refresh()" column="orderCode" data="POSs.myTransaction"
          label="MY_TRANSACTION" default="POSs.default.search.orderCode">
        </search-checkbox>
      </div>
      <div class="col-xs-2 text-right pull-right">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="POSs.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-xs-2 text-right pull-righ btnPadding">
        <!-- <button type="button" ng-click="POSs.confirm()" class="btn btn-primary btn-with-icon">
          <i class="fa fa-user-plus"></i>
          <span translate>CONFIRM</span>
        </button> -->
        <button type="button" ng-click="POSs.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',POSs.correctMultiData , 0)" class="btn btn-primary btn-with-icon"
          permission="Cashs.UpdateCorrectMultiCashOfTransManage">
          <i class="fa fa-check"></i>
          <span translate>UNCORRECT_DATA</span>
        </button>
        <button type="button" ng-click="POSs.confirmDialog('',POSs.correctMultiData , 1)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateCorrectMultiCashOfTransManage">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="POSs.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',POSs.confirm , 0)" class="btn btn-primary btn-with-icon"
          permission="Cashs.UpdateConfirmMultiCashOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>UNCONFIRM_MAPPING</span>
        </button>
        <button type="button" ng-click="POSs.confirmDialog('',POSs.confirm , 1)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateConfirmMultiCashOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon pull-left" ng-click="POSs.refresh()" ladda="POSs.isLoading" data-spinner-color="#000"
          data-size="xs">

          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>

      </div>
      <br/>
    </div>
    <table class="table table-hover table-striped table-bordered" st-pipe="POSs.init" st-table="POSs.tableData">
      <br/>
      <thead>
        <tr class="sortable">

          <th style="width:3%">

            <label class="custom-checkbox text-center">
              <input type="checkbox" ng-checked="false" ng-click="POSs.checkAll()" ng-model="checkbox">
              <span>
              </span>
            </label>

          </th>
          <th style="width:7%" st-sort="ngayThuTien" translate>NGAY_THU_TIEN</th>
          <th st-sort="id" translate>SO_HOA_DON</th>
          <th st-sort="orderCode" translate>SO_PHIEU</th>
          <th st-sort="maDonHang" translate>MA_DON_HANG</th>
          <th st-sort="masterSearchName" translate>THONG_TIN_HOC_VIEN</th>
          <th st-sort="nguoiNopTien" translate>PAYER</th>
          <th st-sort="transactionStatus" translate>TRANSACTION_STATUS</th>
          <!-- <th translate>FAST_ID</th> -->
          <th class="text-right" st-sort="tongTienPhaiThu" translate>TONG_TIEN_PHAI_THU</th>
          <th class="text-right" st-sort="soTienNop" translate>SO_TIEN_NOP</th>
          <th></th>
          <tr></tr>
          <tr>
            <th></th>
            <th>
              <!-- <input st-search="ngayThuTien" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'NGAY_THU_TIEN' }"
              /> -->
            </th>
            <th>
              <input st-search="id" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SO_HOA_DON' }"
              />
            </th>
            <th>
              <input st-search="soPhieu" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SO_PHIEU' }"
              />
            </th>
            <th>
              <input st-search="orderCode" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'MA_DON_HANG' }"
              />
            </th>
            <th >
              <input st-search="masterSearchName" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'THONG_TIN_HOC_VIEN' }"/>
            </th>
            <th>
              <input st-search="nguoiNopTien" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'PAYER' }"
              />
            </th>
            <th>
              <input st-search="transactionStatus" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"
              />
            </th>
            <th>
              <input st-search="tongTienPhaiThu" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'TONG_TIEN_PHAI_THU' }"
              />
            </th>
            <th>
                <input st-search="soTienNop" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SO_TIEN_NOP' }"
                />
              </th>

            <th></th>
          </tr>
      </thead>
      <tbody ng-show="!POSs.isLoading">
        <tr ng-repeat="item in POSs.tableData track by $index" ng-class="{info : item.checked }">
          <td>
            <div class="checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" ng-checked="POSs.selection.indexOf(item.id) > -1" ng-click="POSs.toggleSelection(item.id)">
                <span>
                </span>
              </label>
            </div>
          </td>
          <td>{{item.ngayThuTien | appDate}}</td>
          <td>{{item.id}}</td>
          <td>{{item.soPhieu}}</td>
          <td>{{item.orderCode ? item.orderCode.toUpperCase() : ""}}</td>
          <td>{{item.masterSearchName | truncateString:50}}</td>
          <td>{{item.nguoiNopTien}}</td>
          <td ng-if="item.transactionStatus == null" translate>NOT_INFORMATION</td>
          <td ng-if="item.transactionStatus != null" translate>{{item.transactionStatus}}</td>
          <!-- <td ng-if="item.fastId == null" translate>NOT_INFORMATION</td>
          <td ng-if="item.fastId != null" translate>{{item.fastId}}</td> -->
          <td class="text-right">{{item.tongTienPhaiThu|number:0}} ₫</td>
          <td class="text-right">{{item.soTienNop |number:0}} ₫</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" ui-sref="transactionManagement.POSDetail({POSId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="POSs.isLoading">
        <tr>
          <td colspan="12" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <div st-pagination="" st-items-by-page="POSs.tablePageSize" st-displayed-pages="5"></div>
          </td>
          <td class="text-right padding5 ">
            <b>
              <i> {{sumTongTienPhaiThu |number:0}} ₫ </i>
            </b>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumSoTienNop |number:0}} ₫ </i>
            </b>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>


    <br/>

    <!-- <div class="col-xs-2 text-right pull-right paddingRight">
      <button type="button" ng-click="POSs.confirm()" class="btn btn-primary btn-with-icon">
        <i class="fa fa-user-plus"></i>
        <span translate>CONFIRM</span>
      </button>
    </div> -->
  </div>
</div>