<div ba-panel ba-panel-class="with-scroll">
  <div>
    <div class="row">

      <div class="col-xs-2">
        <search-common label="SEARCH_EVERYTHING" table-state="TMHNs.tableState" refresh="TMHNs.refresh()" columns="['soPhieu','orderCode','nguoiNopTien','soTienNop','masterSearchName']"></search-common>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="TMHNs.tableState" refresh="TMHNs.refresh()" column="transactionStatus" data="[{value:'',label:'Tất cả'},{value:'S1',label:'S1'},{value:'S2',label:'S2'},{value:'S3',label:'S3'},{value:'S4',label:'S4'},{value:'S8',label:'S8'}]"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="TMHNs.tableState" refresh="TMHNs.refresh()" column="ngayThuTien" label="TU_NGAY" type="greater"
        default="TMHNs.default.search.startDate" ></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="TMHNs.tableState" refresh="TMHNs.refresh()" column="ngayThuTien" label="DEN_NGAY" type="lesser"
        default="TMHNs.default.search.endDate"></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="TMHNs.tableState" refresh="TMHNs.refresh()" column="orderCode" data="TMHNs.myTransaction"
          label="MY_TRANSACTION" default="TMHNs.default.search.orderCode">
        </search-checkbox>
      </div>
      <div class="col-xs-2 text-right pull-right">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="TMHNs.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-xs-2 text-right pull-righ btnPadding">
        <button type="button"  ng-click="TMHNs.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',TMHNs.correctMultiData , 0)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateCorrectMultiCashOfTransManage">
          <i class="fa fa-check"></i>
          <span translate>UNCORRECT_DATA</span>
        </button>
        <button type="button" ng-click="TMHNs.confirmDialog('',TMHNs.correctMultiData , 1)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateCorrectMultiCashOfTransManage">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="TMHNs.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',TMHNs.confirm , 0)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateConfirmMultiCashOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>UNCONFIRM_MAPPING</span>
        </button>
        <button type="button" ng-click="TMHNs.confirmDialog('',TMHNs.confirm , 1)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateConfirmMultiCashOfTransManage">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <button type="button" ng-click="TMHNs.lockMultiData()" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateLockMultiHNCashOfTransManage">
          <i class="fa fa-lock"></i>
          <span translate>LOCK_TRANSACTION</span>
        </button>
        <!-- <button type="button" ng-click="TMHNs.confirm()" class="btn btn-primary btn-with-icon">
          <i class="fa fa-user-plus"></i>
          <span translate>CONFIRM</span>
        </button> -->
        <button type="button" class="btn btn-default btn-with-icon pull-left" ng-click="TMHNs.refresh()" ladda="TMHNs.isLoading"
          data-spinner-color="#000" data-size="xs">

          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>

      </div>
      <br/>
    </div>
    <table class="table  table-hover table-striped table-bordered " st-pipe="TMHNs.init" st-table="TMHNs.tableData">
      <br/>
      <thead>
        <tr class="sortable">
          <th style="width:3%">

            <label class="custom-checkbox text-center">
              <input type="checkbox" ng-checked="false" ng-click="TMHNs.checkAll()" ng-model="checkbox">
              <span>
              </span>
            </label>

          </th>
          <th style="width:7%" st-sort="ngayThuTien" translate>NGAY_THU_TIEN</th>
          <th st-sort="orderCode" translate>SO_PHIEU</th>
          <!-- <th translate>FAST_ID</th> -->
          <th st-sort="maDonHang" translate>MA_DON_HANG</th>
          <th st-sort="masterSearchName" translate>THONG_TIN_HOC_VIEN</th>
          <th st-sort="nguoiNopTien" translate>PAYER</th>
          <th st-sort="transactionStatus" translate>TRANSACTION_STATUS</th>
          <th class="text-right" st-sort="tongTienPhaiThu" translate>TONG_TIEN_PHAI_THU</th>
          <th class="text-right" st-sort="soTienNop" translate>SO_TIEN_NOP</th>
          <th></th>
        </tr>
        <tr>
            <th></th>
            <th>
              <!-- <input st-search="ngayThuTien" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"/> -->
            </th>
            <th>
              <input st-search="soPhieu" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'SO_PHIEU' }"/>
            </th>
            <th >
              <input st-search="orderCode" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'MA_DON_HANG' }"/>
            </th>
            <th >
              <input st-search="masterSearchName" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'THONG_TIN_HOC_VIEN' }"/>
            </th>
            <th>
              <input st-search="nguoiNopTien" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'PAYER' }"/>
            </th>
            <th>
              <input st-search="transactionStatus" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"/>
            </th>
            <th>
              <input st-search="tongTienPhaiThu" class="input-sm form-control search-input" type="search"
              translate-attr="{ placeholder: 'TONG_TIEN_PHAI_THU' }"/>
            </th>
            <th>
                <input st-search="soTienNop" class="input-sm form-control search-input" type="search"
                translate-attr="{ placeholder: 'SO_TIEN_NOP' }"/>
            </th>
            <th></th>
          </tr>
      </thead>
      <tbody ng-show="!TMHNs.isLoading">
        <tr ng-repeat="item in TMHNs.tableData track by $index" ng-class="{info : item.checked}">
          <td>
            <div class="checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" ng-checked="TMHNs.selection.indexOf(item.id) > -1" ng-click="TMHNs.toggleSelection(item.id)">
                <span>
                </span>
              </label>
            </div>
          </td>
          <td>{{item.ngayThuTien | appDate}}</td>
          <td>{{item.soPhieu}}</td>
          <!-- <td ng-if="item.fastId != null" translate>{{item.fastId}}</td>
          <td ng-if="item.fastId == null" translate>NOT_INFORMATION</td> -->
          <td>{{item.orderCode ? item.orderCode.toUpperCase() : ""}}</td>
          <td>{{item.masterSearchName | truncateString:50}}</td>
          <td>{{item.nguoiNopTien}}</td>
          <td ng-if="item.transactionStatus != null" translate>{{item.transactionStatus}}</td>
          <td ng-if="item.transactionStatus == null" translate>NOT_INFORMATION</td>
          <td class="text-right">{{item.tongTienPhaiThu|number:0}} ₫</td>
          <td class="text-right">{{item.soTienNop |number:0}} ₫</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" ui-sref="transactionManagement.TMHNDetail({TMHNId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="TMHNs.isLoading">
        <tr>
          <td colspan="10" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <div st-pagination="" st-items-by-page="TMHNs.tablePageSize" st-displayed-pages="5"></div>
          </td>
          <td class="text-right padding5 ">
            <b>
              <i> {{sumTongTienPhaiThu |number:0}} ₫ </i>
            </b>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumSoTienNop |number:0}} ₫ </i>
            </b>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>


    <br/>

    <!-- <div class="col-xs-2 text-right pull-right paddingRight">
      <button type="button" ng-click="TMHNs.confirm()" class="btn btn-primary btn-with-icon">
        <i class="fa fa-user-plus"></i>
        <span translate>CONFIRM</span>
      </button>
    </div> -->
  </div>
</div>