<div ng-init="posDetail.init()">
  <form name="posDetailForm" novalidate>
    <!-- <div class="col-xs-2">
  <search-common label="SEARCH_EVERYTHING" table-state="posDetail.tableState" refresh="posDetail.refresh()" columns="['nguoiNopTien']"></search-common>
</div>
<div class="col-xs-2">
  <search-checkbox table-state="posDetail.tableState" refresh="posDetail.reload()" column="transactionStatus" data="[{value:'S1',label:'S1'},{value:'S2',label:'S2'},{value:'S3',label:'S3'},{value:'S4',label:'S4'},{value:'S8',label:'S8'}]"
    label="STATUS">
  </search-checkbox>
</div>
<div class="col-xs-2">
  <search-date table-state="posDetail.tableState" refresh="posDetail.refresh()" column="ngayThuTien" label="TU_NGAY" type="greater"></search-date>
</div>
<div class="col-xs-2">
  <search-date table-state="posDetail.tableState" refresh="posDetail.refresh()" column="ngayThuTien" label="DEN_NGAY" type="lesser"></search-date>
</div>
<div class="col-xs-2 text-right pull-right">
  <span translate>ROWS_ON_PAGE</span>
  <label>
    <select class="form-control" ng-model="posDetail.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
    </select>
  </label>
</div> -->
    <div class="col-md-12 col-md-12-padding padding-bottom-5 text-right">
      <button type="submit" class="btn btn-primary btn-with-icon" ng-click="posDetail.save()" ng-show="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S1 || posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S3" permission = "Smss.SaveConfirmMoney">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <span translate>SAVE</span>
      </button>
    </div>
    <div class="col-md-9     col-md-9-padding">

      <div class="panelCustom">
        <div class="panel-heading">
          <H4 translate>THONG_TIN_CHUNG</H4>
        </div>
        <div class="panel-body">


          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_CHUYEN_KHOAN</label>
          </div>
          <div class="col-md-4 ">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.sentTime == null}">{{posDetail.form.unextractedSMS.sentTime|appDate}}</div>

          </div>
        </div>


        <div class="panel-body">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>OVER_BALANCE</label>
          </div>
          <div class="col-md-4 ">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.balance == null}">{{posDetail.form.unextractedSMS.balance}}</div>
          </div>
        </div>


        <div class="panel-body">
          <div class="col-md-2 ">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_MONEY</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.sentMoney == null}">{{posDetail.form.unextractedSMS.sentMoney|number:0}}
              <span ng-if="phieuThuDiaPhuong.form.unextractedSMS.balance">đ</span>
              <span ng-if="posDetail.form.unextractedSMS.sentMoney">đ</span>
            </div>

          </div>

          <div class="col-md-6">
          </div>
        </div>
        <!-- <div class="col-md-4">


          </div> -->
        <div class="panel-body">

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_REASON</label>
          </div>

          <div class="col-md-10">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.sentReason == null}">{{posDetail.form.unextractedSMS.sentReason}}</div>
          </div>

          <div class="col-md-4"></div>
        </div>


      </div>


      <div class="panelCustom">
        <div class="panel-heading">
          <H4 translate> THONG_TIN_DON_HANG</H4>

        </div>
        <div class="panel-body">
          <div class="">

            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.orderCode == null}">{{posDetail.form.unextractedSMS.orderCode}}</div>

            </div>
            <!-- <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.bankingTransactionStatus == null}">{{posDetail.form.unextractedSMS.bankingTransactionStatus}}</div>

            </div> -->
            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_TAO_DON_HANG</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.createdAt == null}">{{posDetail.form.unextractedSMS.createdAt | appDate}}</div>

            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <div class="panelCustom panelCustomMinHeight345">
        <div class="panel-heading">
          <h4 translate>CHUNG_TU</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.bank == null}">{{posDetail.form.unextractedSMS.bank}}</div>

          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_ACCOUNT_NO</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.bankAccountNo == null}"
              translate>
              {{posDetail.form.unextractedSMS.bankAccountNo}}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" id="typeOfTransaction" name="typeOfTransaction" ng-model="posDetail.form.unextractedSMS.typeOfTransaction"
              ng-change="bankTransfer.showHideDetail(bankTransfer.form.typeOfTransaction)" ng-disabled="!posDetail.isS1">
              <option ng-repeat="item in posDetail.listTypeOfTransaction" ng-value="{{item.id}}" translate>{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': posDetail.form.unextractedSMS.transactionStatusObject == null}"
              translate>
              {{posDetail.form.unextractedSMS.transactionStatusObject.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="col-md-12 col-md-12-padding">
  <div class="panelCustom">
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-hover table-bordered " st-table="displayedPosReceipts" st-safe-src="posDetail.form.posReceipts">
        <thead>
          <tr>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>STT</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>NGAY_QUET_POS</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>SO_HD</label>
            </td>

            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>KHU_VUC</label>
            </td>

            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>PAYER</label>
            </td>

            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>PHONE_NUMBER</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>PAYMENT_CONTENT</label>
            </td>
            <td class="text-right">
              <label data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
            </td>
            <td class="text-right">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_NOP</label>
            </td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th> </th>
            <th></th>
            <th>
              <input st-search="nguoiNopTien" translate-attr="{ placeholder: 'SEARCH_NGUOI_NOP_TIEN' }" class="input-sm form-control search-input"
                type="search" />
            </th>
            <th></th>
            <th>
              <input st-search="noiDung" translate-attr="{ placeholder: 'SEARCH_PAYMENT_CONTENT' }" class="input-sm form-control search-input"
                type="search" />
            </th>
            <th>
            </th>
            <th>
            </th>
            </th>
        </thead>
        <tbody>
          <tr ng-repeat="item in displayedPosReceipts  track by $index" ng-class="{info : item.checked}">
            <td>
              <div class="checkbox" ng-show="posDetail.form.unextractedSMS.transactionStatus != posDetail.transactionStatus.S4 && posDetail.form.unextractedSMS.transactionStatus != posDetail.transactionStatus.S8">
                <label class="custom-checkbox">
                  <input type="checkbox" ng-checked="posDetail.selection.indexOf(item.id) > -1" ng-click="posDetail.toggleSelection(item.id)">
                  <span>
                    <span>&nbsp;</span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <p>
                {{item.ngayThuTien | appDate}}
              </p>
            </td>
            <td>
              <p>
                {{item.id}}
              </p>
            </td>
            <td class="form-group" translate>
              <p>
                {{item.khuVucObject.name}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.nguoiNopTien}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.phoneNumber}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.noiDung}}
              </p>
            </td>
            <td class="form-group text-left" translate>
              <p>
                {{item.transactionStatusObject.name}}
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{item.soTienNop |number:0}} ₫
              </p>
            </td>
          </tr>
          <tr>

            <td class="text-right" colspan="6"></td>
            <td colspan="2" class="text-right"> Tiền ngân hàng</td>
            <td colspan="3" class="text-right">

              <b>{{posDetail.form.unextractedSMS.sentMoney |number:0}} ₫</b>
            </td>
          </tr>
          <tr>
            <td class="text-right" colspan="6"></td>
            <td colspan="2" class="text-right"> Tiền COD</td>
            <td colspan="3" class="text-right">
              <b>{{posDetail.form.sumAmountMoney |number:0}} ₫ </b>
            </td>
          </tr>
          <!-- <tr>
            <td class="text-right" colspan="6"></td>
            <td colspan="2" class="text-right"> Số tiền điều chỉnh</td>
            <td colspan="3" class="text-right">
              <b>{{posDetail.form.unextractedSMS.adjustedMoney |number:0}} ₫</b>
            </td>
          </tr>
          <tr>
            <td class="text-right" colspan="6"></td>
            <td colspan="2" class="text-right"> Chênh lệch</td>
            <td colspan="3" class="text-right">
              <b>{{ posDetail.form.unextractedSMS.sentMoney - posDetail.form.sumAmountMoney - posDetail.form.unextractedSMS.adjustedMoney
                |number:0 }} ₫</b>
              <b>{{posDetail.form.sumAmountMoney - posDetail.form.sumAmountMoney }}</b>
            </td>
          </tr> -->
          <tr>
            <td colspan="6"></td>
            <td class="text-right" colspan=" 2 " class="text-right " translate> ADJUST_MONEY</td>
            <td colspan="3" class="text-right">
              <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="text-right" id="adjustMoney" placeholder="{{'ADJUST_MONEY'|translate}}"
                ng-model="posDetail.form.unextractedSMS.adjustedMoney" ng-change="posDetail.changeTienChenhLech(posDetail.form.chechlech)"
                style="border: 1px solid #cbcbcb; border-radius: 5px; width: 93%">
              <strong>đ</strong>
            </td>
          </tr>
          <!-- <tr>
              <td colspan="6"></td>
              <td class="text-right" colspan=" 2 " class="text-right " translate>Chênh lệch</td>
              <td colspan="3" class="text-right">
                <b>{{ posDetail.form.chechlech
                  |number:0 }} ₫
                </b>
              </td>
            </tr> -->
          <tr>
            <td colspan="6"></td>
            <td class="text-right" colspan=" 2 " class="text-right " translate>ADJUST_MONEY_REASON</td>
            <td colspan="3" class="text-right">
              <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5" placeholder="{{'ADJUST_MONEY_REASON'|translate }}"
                ng-model="posDetail.form.unextractedSMS.reasonAjustMoney">
                      </textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="col-xs-12 text-right pull-right padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="posDetail.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div> -->
  <div class="col-xs-2 text-left padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="posDetail.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div>
  <div class="col-xs-10 text-right pull-right padding5">
    <button type="button" ng-click="posDetail.confirmDialog('XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH', posDetail.correctSingleData,0)"
      class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleBankTransferCashIncomingMoney" ng-show="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S4 || posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S3">
      <i class="fa fa-check"></i>
      <span translate>UNCORRECT_DATA</span>
    </button>
    <button type="button" ng-click="posDetail.confirmDialog('XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH', posDetail.correctSingleData,1)"
      class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleBankTransferCashIncomingMoney" ng-show="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S1 || posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S2">
      <i class="fa fa-check"></i>
      <span translate>CORRECT_DATA</span>
    </button>
    <button type="button" ng-click="posDetail.confirmDialog('XÁC NHẬN MAP GIAO DỊCH', posDetail.confirmSingleData,0)" class="btn btn-primary btn-with-icon"
      permission="Smss.UpdateConfirmMappingSingleBankTransferCashIncomingMoney" ng-show="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S4 || posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S2">
      <i class="fa fa-anchor"></i>
      <span translate>UNCONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="posDetail.confirmDialog('XÁC NHẬN MAP GIAO DỊCH', posDetail.confirmSingleData,1)" class="btn btn-primary btn-with-icon"
      permission="Smss.UpdateConfirmMappingSingleBankTransferCashIncomingMoney" ng-show="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S1 || posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S3">
      <i class="fa fa-anchor"></i>
      <span translate>CONFIRM_MAPPING</span>
    </button>
    <button type="submit" class="btn btn-primary btn-with-icon" ng-click="posDetailForm.$valid && posDetail.confirmDialog('KHÓA GIAO DỊCH', posDetail.lock, 1)"
      permission="Smss.UpdateLockBankTransferCashIncomingMoney" ng-show="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S4">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <span translate>LOCK_TRANSACTION</span>
    </button>
    <button type="submit" class="btn btn-primary btn-with-icon" ng-click="posDetail.save()" ng-show="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S1 || posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S3" permission = "Smss.SaveConfirmMoney">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <span translate>SAVE</span>
    </button>
    <button type="button" class="btn btn-default btn-with-icon" ng-click="posDetail.reload()">
      <i class="fa fa-undo" aria-hidden="true"></i>
      <span translate>REFRESH</span>
    </button>

    <!-- <button type="button" class="btn btn-default btn-with-icon" ng-click="posDetail.reload()" ladda="pos.isLoading" data-spinner-color="#000"
      data-size="xs">
      <i class="ion-loop"></i>
      <span translate>REFRESH</span>
    </button>
    <button type="submit" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmPosReceipts" ng-click="posDetailForm.$valid && posDetail.confirmSingleData()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <span translate>CONFIRM</span> -->
  </div>
</div>
</div>
</div>
</form>


<!-- <div ba-panel ba-panel-class="" ng-init="posDetail.init()">
  <form name="posDetailForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" ng-click="posDetail.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
          <button type="button" class="btn btn-default btn-with-icon" 
          ng-click="posDetail.reload()" ladda="pos.isLoading" data-spinner-color="#000" data-size="xs">
            <i class="ion-loop"></i><span translate>REFRESH</span>
          </button>
          <button type="submit" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmPosReceipts" ng-click="posDetailForm.$valid && posDetail.confirm()"
 ng-if="posDetail.form.unextractedSMS.transactionStatus != posDetail.transactionStatus.S8">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <span translate>CONFIRM</span>
        </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
          <label for="bank" translate>BANK</label>
          <p translate> {{posDetail.form.unextractedSMS.bank}}</p>
        </div>
        <div class="col-md-12">
          <label for="sentTime" translate>SENT_TIME</label>
          <p translate> {{posDetail.form.unextractedSMS.sentTime}}</p>
        </div>
        <div class="col-md-12">
          <label for="bankAccountNo" translate>BANK_ACCOUNT_NO</label>
          <p translate> {{posDetail.form.unextractedSMS.bankAccountNo}}</p>
        </div>
        <div class="col-md-12" style="color: red">
          <label for="sentMoney" translate>SENT_MONEY</label>
          <p translate> {{posDetail.form.unextractedSMS.sentMoney |number:0}}</p>
        </div>
        <div class="col-md-12">
          <label for="balance" translate>OVER_BALANCE</label>
          <p translate> {{posDetail.form.unextractedSMS.balance |number:0}}</p>
        </div>
        <div class="col-md-12">
          <label for="transactionStatus" translate>STATUS</label>
          <p ng-if="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S503" translate>S503</p>
          <p><b ng-if="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S8" translate style="color: darkgreen">S8</b></p>
        </div>
        <div class="col-md-12">
          <label for="sentReason" translate>SENT_REASON</label>
          <p translate> {{posDetail.form.unextractedSMS.sentReason}}</p>
        </div>
        <div class="col-md-12">
            <label for="adjustMoney">
              <b translate>ADJUST_MONEY</b>
            </label>
            <input type="text" class="form-control" id="adjustMoney" format-money
             placeholder="{{'ADJUST_MONEY'|translate}}" ng-model="posDetail.form.adjustedMoney">
        </div>
        <div class="col-md-12">
            <label for="adjustMoneyReason">
              <b translate>ADJUST_MONEY_REASON</b>
            </label>
            <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5" placeholder="{{'ADJUST_MONEY_REASON'|translate}}"  
              ng-model="posDetail.form.reasonAjustMoney">
              </textarea>
        </div>
      </div>
      <div class="col-md-9">
        <div ba-panel ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="row">
              <div class="col-md-12">
                <table class="table" st-table="displayedPosReceipts" st-safe-src="posDetail.form.posReceipts">
                  <thead>
                    <tr class="sortable">
                      <th st-sort="checked" st-sort-default="reverse">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </th>

                      <th st-sort="nguoiNopTien" translate>PAYER</th>
                      <th st-sort="orderCode" translate>ORDER_CODE</th>
                      <th st-sort="ngayBienLai" translate>VOUCHER_DAY</th>
                      <th st-sort="tongTienPhaiThu" translate>MUST_PAY_MONEY</th>
                      <th st-sort="soTienNop" translate>RECEIVED_MONEY</th>
                      <th st-sort="paymentContent" translate>PAYMENT_CONTENT</th>
                      <th st-sort="soPhieu" translate>VOUCHER_NUMBER</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input st-search="nguoiNopTien" translate-attr="{ placeholder: 'SEARCH_PAYER' }" class="input-sm form-control search-input"
                          type="search" />
                      </th>
                      <th>
                        <input st-search="orderCode" translate-attr="{ placeholder: 'SEARCH_ORDER_CODE' }" class="input-sm form-control search-input"
                          type="search" />
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                          <input st-search="noiDung" translate-attr="{ placeholder: 'SEARCH_PAYMENT_CONTENT' }" class="input-sm form-control search-input"
                            type="search" />
                        </th>
                        <th>
                          <input st-search="soPhieu" translate-attr="{ placeholder: 'SEARCH_VOUCHER_NUMBER' }" class="input-sm form-control search-input"
                            type="search" />
                        </th>
                        <th>

                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in displayedPosReceipts track by $index" ng-class="{info : item.checked}">
                      <td>
                        <div class="checkbox">
                          <label class="custom-checkbox">
                            <input type="checkbox" ng-checked="posDetail.selection.indexOf(item.id) > -1" 
                            ng-click="posDetail.toggleSelection(item.id)">
                            <span>
                              <span>&nbsp;</span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        {{item.nguoiNopTien}}
                      </td>
                      <td>
                        {{item.orderCode}}
                      </td>
                      <td>
                        {{item.ngayBienLai  | date : "MM/dd/yyyy HH:mm:ss" }}
                      </td>
                      <td>
                        {{item.tongTienPhaiThu |number:0}}
                      </td>
                      <td>
                        {{item.soTienNop |number:0}}
                      </td>
                      <td>
                        {{item.noiDung}}
                      </td>
                      <td>
                        {{item.soPhieu}}
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <b>{{posDetail.form.sumAmountMoney |number:0}}</b>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p></p>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <button type="submit" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmPosReceipts" ng-click="posDetailForm.$valid && posDetail.confirm()"
        ng-if="posDetail.form.unextractedSMS.transactionStatus != posDetail.transactionStatus.S8">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>CONFIRM</span>
        </button>
      </div>
    </div>
  </form>
</div> -->

<!-- <div ba-panel ba-panel-class="" ng-init="posDetail.init()">
  <form name="posDetailForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" ng-click="posDetail.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" ng-click="posDetail.correctSingleData()" class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleBankTransferCashIncomingMoney">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="posDetail.confirmSingleData()" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMappingSingleBankTransferCashIncomingMoney">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="posDetailForm.$valid && posDetail.lock()"
          permission="Smss.UpdateLockBankTransferCashIncomingMoney">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span translate>LOCK_TRANSACTION</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" ng-click="posDetail.reload()" ladda="pos.isLoading" data-spinner-color="#000"
          data-size="xs">
          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
          <label for="bank" translate>BANK</label>
          <p translate> {{posDetail.form.unextractedSMS.bank}}</p>
        </div>
        <div class="col-md-12">
          <label for="sentTime" translate>SENT_TIME</label>
          <p translate> {{posDetail.form.unextractedSMS.sentTime}}</p>
        </div>
        <div class="col-md-12">
          <label for="bankAccountNo" translate>BANK_ACCOUNT_NO</label>
          <p translate> {{posDetail.form.unextractedSMS.bankAccountNo}}</p>
        </div>
        <div class="col-md-12" style="color: red">
          <label for="sentMoney" translate>SENT_MONEY</label>
          <p translate> {{posDetail.form.unextractedSMS.sentMoney |number:0}}</p>
        </div>
        <div class="col-md-12">
          <label for="balance" translate>OVER_BALANCE</label>
          <p translate> {{posDetail.form.unextractedSMS.balance |number:0}}</p>
        </div>
        <div class="col-md-12">
          <label for="transactionStatus" translate>STATUS</label>
          <p ng-if="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S503" translate>S503</p>
          <p>
            <b ng-if="posDetail.form.unextractedSMS.transactionStatus == posDetail.transactionStatus.S8" translate style="color: darkgreen">S8</b>
          </p>
        </div>
        <div class="col-md-12">
          <label for="sentReason" translate>SENT_REASON</label>
          <p translate> {{posDetail.form.unextractedSMS.sentReason}}</p>
        </div>
        <div class="col-md-12">
          <label for="adjustMoney">
            <b translate>ADJUST_MONEY</b>
          </label>
          <input type="text" class="form-control" id="adjustMoney" format-money placeholder="{{'ADJUST_MONEY'|translate}}" ng-model="posDetail.form.adjustedMoney">
        </div>
        <div class="col-md-12">
          <label for="adjustMoneyReason">
            <b translate>ADJUST_MONEY_REASON</b>
          </label>
          <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5" placeholder="{{'ADJUST_MONEY_REASON'|translate}}"
            ng-model="posDetail.form.reasonAjustMoney">
              </textarea>
        </div>
      </div>
      <div class="col-md-9">
        <div ba-panel ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="row">
              <div class="col-md-12">
                <table class="table" st-table="displayedPosReceipts" st-safe-src="posDetail.form.posReceipts">
                  <thead>
                    <tr class="sortable">
                      <th st-sort="checked" st-sort-default="reverse">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </th>

                      <th st-sort="nguoiNopTien" translate>PAYER</th>
                      <th st-sort="orderCode" translate>ORDER_CODE</th>
                      <th st-sort="ngayBienLai" translate>VOUCHER_DAY</th>
                      <th st-sort="tongTienPhaiThu" translate>MUST_PAY_MONEY</th>
                      <th st-sort="soTienNop" translate>RECEIVED_MONEY</th>
                      <th st-sort="paymentContent" translate>PAYMENT_CONTENT</th>
                      <th st-sort="soPhieu" translate>VOUCHER_NUMBER</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input st-search="nguoiNopTien" translate-attr="{ placeholder: 'SEARCH_PAYER' }" class="input-sm form-control search-input"
                          type="search" />
                      </th>
                      <th>
                        <input st-search="orderCode" translate-attr="{ placeholder: 'SEARCH_ORDER_CODE' }" class="input-sm form-control search-input"
                          type="search" />
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                          <input st-search="noiDung" translate-attr="{ placeholder: 'SEARCH_PAYMENT_CONTENT' }" class="input-sm form-control search-input"
                            type="search" />
                        </th>
                        <th>
                          <input st-search="soPhieu" translate-attr="{ placeholder: 'SEARCH_VOUCHER_NUMBER' }" class="input-sm form-control search-input"
                            type="search" />
                        </th>
                        <th>

                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in displayedPosReceipts track by $index" ng-class="{info : item.checked}">
                      <td>
                        <div class="checkbox">
                          <label class="custom-checkbox">
                            <input type="checkbox" ng-checked="posDetail.selection.indexOf(item.id) > -1" ng-click="posDetail.toggleSelection(item.id)">
                            <span>
                              <span>&nbsp;</span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        {{item.nguoiNopTien}}
                      </td>
                      <td>
                        {{item.orderCode}}
                      </td>
                      <td>
                        {{item.ngayBienLai | date : "MM/dd/yyyy HH:mm:ss" }}
                      </td>
                      <td>
                        {{item.tongTienPhaiThu |number:0}}
                      </td>
                      <td>
                        {{item.soTienNop |number:0}}
                      </td>
                      <td>
                        {{item.noiDung}}
                      </td>
                      <td>
                        {{item.soPhieu}}
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <b>{{posDetail.form.sumAmountMoney |number:0}}</b>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p></p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <button type="submit" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmPosReceipts" ng-click="posDetailForm.$valid && posDetail.confirm()"
          ng-if="posDetail.form.unextractedSMS.transactionStatus != posDetail.transactionStatus.S8">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>CONFIRM</span>
        </button>
      </div>
    </div>
  </form>
</div> -->