<div ba-panel ba-panel-class="with-scroll" ng-init="S100.init()">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3 ng-model="tenBaoCao" style="color:#C39B64;"> {{tenBaoCao}} </h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-2">
            <label class="ng-scope">Từ ngày</label>
            <input type="date" class="form-control" name="fromDate" id="fromDate" min="{{S100.limitTimeFrom | date: 'yyyy-MM-dd'}}" ng-model="S100.form.fromDate"
                ng-change="S100.timeFilterChange()">
        </div>
        <div class="col-xs-2">
            <label class="ng-scope">Đến ngày</label>
            <input type="date" class="form-control" name="toDate" id="toDate" min="{{S100.form.fromDate | date: 'yyyy-MM-dd' }}" max="{{S100.currentDay | date: 'yyyy-MM-dd'}}"
                ng-model="S100.form.toDate" ng-change="S100.timeFilterChange()">
        </div>
       
        <div class="col-xs-2">
            <label translate="">Ngày xuất báo cáo </label>
            <br/>
            <label>{{S100.currentDay | date:'dd-MM-yyyy'}}</label>
        </div>
        <div class="col-xs-2">
            <label translate="">Tổng học phí thực nộp</label>
            <br/>
            <label>{{S100.sumSentMoney |number:0}}</label>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary btn-with-icon" permission="S100Report.ExportReportByExcel" ng-click="S100.download()"
                ladda="S100.isExporting" data-spinner-color="#000" data-size="xs">
                <i class="fa fa-download" aria-hidden="true"></i>
                <span translate>DOWNLOAD_EXCEL</span>
            </button>
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label translate>Hình thức thanh toán từ khách hàng</label>
        </div>

        <div class="col-xs-2">
            <div class="btn-group form-control" uib-dropdown dropdown-append-to-body style="border:none; padding: 0;">
                <button type="button" class="btn btn-default form-control" uib-dropdown-toggle ng-selected="" style="padding:0;">
                    {{S100.paymentMethodSelect}}
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu>
                    <li ng-repeat="item in S100.paymentMethod track by $index">
                        <a ng-click="S100.paymentMethodChange(item, S100.paymentMethodSelect)" href>{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label translate>Tên đối tác thực thu tiền tại Topica</label>
        </div>
        <div class="col-xs-2">
            <div class="btn-group form-control" uib-dropdown dropdown-append-to-body style="border:none; padding: 0;">
                <button type="button" class="btn btn-default form-control" uib-dropdown-toggle style="padding:0;">
                    {{S100.partnerSelect}}
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu>
                    <li ng-repeat="item in S100.partner track by $index">
                        <a ng-click="S100.partnerChange(item,S100.partnerSelect)" href>{{item}}</a>
                    </li>
                    <!-- <li><a href>Another action</a></li>
                                              <li><a href>Something else here</a></li> -->
                </ul>
            </div>
        </div>
        
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label translate>SEARCH</label>
        </div>

        <div class="col-xs-2">
            <input translate-attr="{ placeholder: 'SEARCH_STUDENT' }" class="input-sm form-control search-input" type="search" ng-model="S100.form.query"
                refresh="S100.refresh()" ng-model-options="{debounce:800}" />

            <!-- <search-student table-state="S100.tableState" refresh="S100.refresh()" columns="['topicaUserName','topicaUserPhone','topicaUserEmail']"></search-student> -->
        </div>
    </div>
</div>
<div ba-panel ba-panel-class="with-scroll">
    <div class="horizontal-scroll">
        <table class="table table-striped table-bordered" st-table="displayedS100" st-safe-src="S100.tableData">
            <thead>
                <tr class="sortable ">
                    <th style="padding-top:10px">STT</th>
                    <th translate>TRANSACTION_DAY</th>
                    <th translate>TRANSACTION_COMPLETE_DAY</th>
                    <th translate>TRANS_CUS_TOPICA1</th>
                    <!-- <th translate>TRANS_CUS_TOPICA2</th> -->
                    <th translate>ORDER_ID_DETAIL</th>
                    <th translate>STUDENT_NAME</th>
                    <th translate>PHONE_NUMBER</th>
                    <th translate>EMAIL</th>
                    <th translate>NOI_DUNG</th>
                    <th translate>PACKAGE_ID</th>
                    <th translate>PACKAGE_TIME</th>
                    <th style="min-width:100px" translate>TUITION_FEE</th>
                    <th translate>CONSULTANT</th>
                    <th translate>PAYMENT_METHOD</th>
                    <th translate>PAYMENT_METHOD_DETAIL</th>
                    <th translate>PAYMENT_ACCOUNT</th>
                    <!-- <th translate>PAYMENT_METHOD_TOPICA</th> -->
                    <th translate>PAYMENT_METHOD_TOPICA_DETAIL</th>
                    <th translate>PAYMENT_ACCOUNT_TOPICA</th>
                    <th translate>FILE_NAME</th>
                    <th translate>ID_FAST</th>
                </tr>
            </thead>
            <tbody ng-show="!S100.isLoading">
                <!-- <tr ng-repeat="item in displayedS100 track by $index" ng-class="{info: !item.isConfirmed}"> -->
                <tr ng-repeat="item in displayedS100 track by $index">
                    <td>{{S100.tableState.pagination.start + $index+1}}</td>
                    <td>{{item.transactionDay | appDate}}</td>
                    <td>{{item.transactionCompleteDay | appDate }}</td>
                    <td>{{item.transCusTopica1}}</td>
                    <!-- <td>{{item.transCusTopica2}}</td> -->
                    <td>{{item.orderIdDetail}}</td>
                    <td>{{item.topicaUserName}}</td>
                    <td>{{item.topicaUserPhone}}</td>
                    <td>{{item.topicaUserEmail}}</td>
                    <td>{{item.content}}</td>
                    <td>{{item.packageId}}</td>
                    <td>{{item.packageTime}}</td>
                    <td class="text-right">{{item.tuitionFee |number:0}} đ</td>
                    <td>{{item.consultantEmail}}</td>
                    <td translate>{{item.paymentMethod}}</td>
                    <td>{{item.paymentMethodDetail}}</td>
                    <td>{{item.paymentAccount}}</td>
                    <!-- <td translate>{{item.paymentMethodTopica}}</td> -->
                    <td>{{item.paymentMehtodTopicaDetail}}</td>
                    <td>{{item.paymentAccountTopica}}</td>
                    <td></td>
                    <td></td>

                </tr>
            </tbody>
            <tbody ng-show="S100.isLoading">
                <tr>
                    <td colspan="16" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="11" class="text-center">
                        <div st-pagination="" st-items-by-page="S100.tablePageSize" st-displayed-pages="5"></div>
                    </td>
                    <td class="text-right padding">
                        <b>
                            <i> {{S100.sumSentMoney |number:0}} ₫ </i>
                        </b>
                    </td>
                    <td colspan="8"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>