<div ng-init="paymentGateway.init()">
  <form name="paymentGatewayForm" novalidate>
    <!-- <div class="col-xs-2">
  <search-common label="SEARCH_EVERYTHING" table-state="paymentGateway.tableState" refresh="paymentGateway.refresh()" columns="['nguoiNopTien']"></search-common>
</div>
<div class="col-xs-2">
  <search-checkbox table-state="paymentGateway.tableState" refresh="paymentGateway.reload()" column="transactionStatus" data="[{value:'S1',label:'S1'},{value:'S2',label:'S2'},{value:'S3',label:'S3'},{value:'S4',label:'S4'},{value:'S8',label:'S8'}]"
    label="STATUS">
  </search-checkbox>
</div>
<div class="col-xs-2">
  <search-date table-state="paymentGateway.tableState" refresh="paymentGateway.refresh()" column="ngayThuTien" label="TU_NGAY" type="greater"></search-date>
</div>
<div class="col-xs-2">
  <search-date table-state="paymentGateway.tableState" refresh="paymentGateway.refresh()" column="ngayThuTien" label="DEN_NGAY" type="lesser"></search-date>
</div>
<div class="col-xs-2 text-right pull-right">
  <span translate>ROWS_ON_PAGE</span>
  <label>
    <select class="form-control" ng-model="paymentGateway.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
    </select>
  </label>
</div> -->
    <div class="col-md-12 col-md-12-padding padding-bottom-5 text-right">
      <button type="submit" class="btn btn-primary btn-with-icon" ng-click="paymentGateway.save()" ng-show="paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S1 || paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S3" permission = "Smss.SaveConfirmMoney">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <span translate>SAVE</span>
      </button>
    </div>
    <div>
      <div class="col-md-9     col-md-9-padding">
        <div class="panelCustom">
          <div class="panel-heading">
            <H4 translate>THONG_TIN_CHUNG</H4>
          </div>
          <div class="panel-body">


            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_CHUYEN_KHOAN</label>
            </div>
            <div class="col-md-4 ">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.sentTime == null}">{{paymentGateway.form.unextractedSMS.sentTime|appDate}}
              </div>
            </div>
          </div>


          <div class="panel-body">
            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>OVER_BALANCE</label>
            </div>
            <div class="col-md-4 ">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.balance == null}">{{paymentGateway.form.unextractedSMS.balance |number:0}}
                <span ng-if="paymentGateway.form.unextractedSMS.balance">đ</span>
              </div>

            </div>
          </div>


          <div class="panel-body">
            <div class="col-md-2 ">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_MONEY</label>
            </div>
            <div class="col-md-4">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.sentMoney == null}">{{paymentGateway.form.unextractedSMS.sentMoney |number:0}}
                <span ng-if="paymentGateway.form.unextractedSMS.sentMoney">đ</span>
              </div>
            </div>

            <div class="col-md-6">
            </div>
          </div>
          <!-- <div class="col-md-4">


          </div> -->
          <div class="panel-body">

            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_REASON</label>
            </div>

            <div class="col-md-10">
              <!-- <div class="bottom-border ">{{paymentGateway.form.unextractedSMS.sentReason}} </div> -->
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.sentReason == null}">{{paymentGateway.form.unextractedSMS.sentReason}}
              </div>

            </div>

            <div class="col-md-4"></div>
          </div>


        </div>
        <div class="panelCustom">
          <div class="panel-heading">
            <H4 translate> THONG_TIN_DON_HANG</H4>

          </div>
          <div class="panel-body">
            <div class="">

              <div class="col-md-2">
                <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
              </div>
              <div class="col-md-2">
                <!-- <div class="bottom-border ">{{paymentGateway.form.unextractedSMS.orderCode}} </div> -->
                <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.orderCode == null}">{{paymentGateway.form.unextractedSMS.orderCode}}
                </div>

              </div>
              <!-- <div class="col-md-2">
                <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
              </div>
              <div class="col-md-2">
                <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.bankingTransactionStatus == null}">{{paymentGateway.form.unextractedSMS.bankingTransactionStatus}}
                </div>
              </div> -->
              <div class="col-md-2">
                <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_TAO_DON_HANG</label>
              </div>
              <div class="col-md-2">
                <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.createdAt == null}">{{paymentGateway.form.unextractedSMS.createdAt | appDate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panelCustom panelCustomMinHeight345">
          <div class="panel-heading">
            <h4 translate>CHUNG_TU</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-4 padding5">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK</label>
            </div>
            <div class="col-md-8">
              <!-- <div class="bottom-border ">{{paymentGateway.form.unextractedSMS.bank}} </div> -->
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.bank == null}">{{paymentGateway.form.unextractedSMS.bank}}
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-md-4 padding5">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_ACCOUNT_NO</label>
            </div>
            <div class="col-md-8">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.bankAccountNo == null}">{{paymentGateway.form.unextractedSMS.bankAccountNo}}
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-md-4 padding5">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
            </div>
            <div class="col-md-8">
              <select class="form-control" id="typeOfTransaction" name="typeOfTransaction" ng-model="paymentGateway.form.unextractedSMS.typeOfTransaction"
                ng-change="paymentGateway.showHideDetail(paymentGateway.form.typeOfTransaction)" ng-disabled="!paymentGateway.isS1">
                <option ng-repeat="item in paymentGateway.listTypeOfTransaction" ng-value="{{item.id}}" translate>{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-md-4 padding5">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
            </div>
            <div class="col-md-8">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.unextractedSMS.transactionStatus == null}"
                translate>{{paymentGateway.form.unextractedSMS.transactionStatus}}
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
    <div class="col-md-12 col-md-12-padding">
      <div class="panelCustom">
        <div class="panel-heading">
          <h4 translate>CHI_TIET_DON_HANG</h4>
        </div>
        <div class="panel-body">

          <table class="table table-striped table-hover table-bordered" st-table="displayedpaymentGateways" st-safe-src="paymentGateway.form.paymentGateways">
            <thead>
              <tr>
                <tr class="sortable">
                  <th st-sort="checked" st-sort-default="reverse">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </th>
                  <th st-sort="timeOfPayment" translate>NGAY_THU_TIEN</th>
                  <th st-sort="merchantId" translate>MERCHANT_ID</th>
                  <th st-sort="nameOfPayer" translate>MA_DON_HANG</th>
                  <th st-sort="hoTen" translate>NGUOI_THANH_TOAN</th>
                  <th st-sort="email" translate>EMAIL</th>
                  <th st-sort="phoneNumber" translate>PHONE_NUMBER</th>
                  <th st-sort="" translate>CARD_NUMBER</th>
                  <th st-sort="goiHoc" translate>GOI_HOC_KHOA_HOC</th>
                  <th st-sort="paymentContent" translate>PAYMENT_CONTENT</th>
                  <th st-sort="transactionStatus" translate>TRANG_THAI</th>
                  <th st-sort="soTienNop" translate>SO_TIEN_NOP</th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    <!-- <st-date-range predicate="timeOfPayment" before="query.before" after="query.after"></st-date-range> -->
                  </th>
                  <th></th>
                  <th>
                    <input st-search="orderCode" translate-attr="{ placeholder: 'SEARCH_MA_DON_HANG' }" class="input-sm form-control search-input"
                      type="search" />
                  </th>
                  <th>
                    <input st-search="nameOfCod" translate-attr="{ placeholder: 'SEARCH_HO_TEN' }" class="input-sm form-control search-input"
                      type="search" />
                  </th>
                  <th>
                    <input st-search="email" translate-attr="{ placeholder: 'EMAIL' }" class="input-sm form-control search-input"
                      type="search" />
                  </th>
                  <th>
                    <input st-search="" translate-attr="{ placeholder: 'SEARCH_SDT' }" class="input-sm form-control search-input" type="search"
                    />
                  </th>
                  <th>
                    <input st-search="phoneNumber" translate-attr="{ placeholder: 'SEARCH_MA_THE' }" class="input-sm form-control search-input"
                      type="search" />
                  </th>
                  <th>
                    <input st-search="noiDung" translate-attr="{ placeholder: 'SEARCH_GOI_HOC' }" class="input-sm form-control search-input"
                      type="search" />
                  </th>
                  <th>
                  </th>
                  </th>
            </thead>
            <tbody>
              <tr ng-repeat="item in displayedpaymentGateways  track by $index" ng-class="{info : item.checked}">
                <td>
                  <div class="checkbox" ng-show="paymentGateway.form.unextractedSMS.transactionStatus != paymentGateway.transactionStatus.S4 && paymentGateway.form.unextractedSMS.transactionStatus != paymentGateway.transactionStatus.S8">
                    <label class="custom-checkbox">
                      <input type="checkbox" ng-checked="paymentGateway.selection.indexOf(item.id) > -1" ng-click="paymentGateway.toggleSelection(item.id)">
                      <span>
                        <span>&nbsp;</span>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <p>{{item.timeOfPayment}}</p>
                </td>
                <td>
                  <p>
                    {{item.merchantId}}
                  </p>
                </td>
                <td>
                  <p>{{item.orderCode}}</p>
                </td>
                <td>
                  <p>
                    {{item.firstName }} {{item.lastName}}
                  </p>
                </td>
                <td>
                  <p>
                    {{item.email}}
                  </p>
                </td>
                <td>
                  <p>
                    {{item.phoneNumber}}
                  </p>
                </td>
                <td class="form-group text-left">
                  <p>
                    {{item.maSoThe}}
                  </p>
                </td>
                <td class="form-group text-left">
                  <p>
                    {{item.goiHoc}}
                  </p>
                </td>
                <td class="form-group text-left">
                  <p style="display: inline-block; word-break: break-word;">
                    {{item.paymentContent}}
                  </p>
                </td>
                <td class="form-group text-left">
                  <p>
                    {{item.ssrsTransactionStatus}}
                  </p>
                </td>
                <td class="form-group text-right">
                  <p>
                    {{item.amountMoney |number:0}} ₫
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="7"></td>
                <td colspan="2" class="text-right"> Tiền ngân hàng</td>
                <td class="text-right" colspan="3">
                  <b>{{paymentGateway.form.unextractedSMS.sentMoney |number:0}} ₫</b>
                </td>
              </tr>
              <tr>
                <td colspan="7"></td>
                <td colspan="2" class="text-right"> Tiền Cổng Thanh Toán</td>
                <td class="text-right" colspan="3">
                  <b>{{paymentGateway.form.sumAmountMoney |number:0}} ₫</b>
                </td>
              </tr>
              <!-- <tr>
                <td colspan="7"></td>
                <td colspan="2" class="text-right"> Số tiền điều chỉnh</td>
                <td class="text-right" colspan="3">
                  <b>{{paymentGateway.form.unextractedSMS.adjustedMoney |number:0}} ₫</b>
                </td>
              </tr>
              <tr>
                <td colspan="7"></td>
                <td colspan="2" class="text-right"> Chênh lệch</td>
                <td class="text-right" colspan="3">
                  <b>{{ paymentGateway.form.unextractedSMS.sentMoney - paymentGateway.form.sumAmountMoney - paymentGateway.form.unextractedSMS.adjustedMoney
                    |number:0 }} ₫
                  </b>
                </td>
              </tr> -->
              <tr>
                <td colspan="7"></td>
                <td class="text-right" colspan=" 2 " class="text-right " translate> ADJUST_MONEY</td>
                <td colspan="3" class="text-right">
                  <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="text-right" id="adjustMoney" placeholder="{{'ADJUST_MONEY'|translate }}"
                    ng-model="paymentGateway.form.unextractedSMS.adjustedMoney" style="border: 1px solid #cbcbcb; border-radius: 5px; width: 91%" >
                  <strong>đ</strong>
                </td>
              </tr>
              <!-- <tr>
                  <td colspan="7"></td>
                  <td class="text-right" colspan=" 2 " class="text-right " translate>Chênh lệch</td>
                  <td colspan="3" class="text-right">
                    <b>{{ paymentGateway.form.chechlech
                      |number:0 }} ₫
                    </b>
                  </td>
                </tr> -->
              <tr>
                <td colspan="7"></td>
                <td class="text-right" colspan=" 2 " class="text-right " translate>ADJUST_MONEY_REASON</td>
                <td colspan="3" class="text-right">
                  <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5" placeholder="{{ 'ADJUST_MONEY_REASON'|translate }}"
                    ng-model="paymentGateway.form.unextractedSMS.reasonAjustMoney">
                          </textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-2 text-left padding5">
        <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetListSmsTypeCod" ng-click="paymentGateway.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-10 text-right padding5">
        <button type="button" ng-click="paymentGateway.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',paymentGateway.correctSingleData, 0)"
          class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleSmsOfIncomingMoney" ng-show="paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S4 || paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S3">
          <i class="fa fa-check"></i>
          <span translate>UNCORRECT_DATA</span>
        </button>
        <button type="button" ng-click="paymentGateway.confirmDialog('XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',paymentGateway.correctSingleData, 1)"
          class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleSmsOfIncomingMoney" ng-show="paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S1 || paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S2">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="paymentGateway.confirmDialog('HỦY XÁC NHẬN MAP GIAO DỊCH',paymentGateway.confirmSingleData, 0)"
          class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMappingSingleSmsPgOfIncomingMoney" ng-show="(paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S2 || paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S4)">
          <i class="fa fa-anchor"></i>
          <span translate>UNCONFIRM_MAPPING</span>
        </button>
        <button type="button" ng-click="paymentGateway.confirmDialog('XÁC NHẬN MAP GIAO DỊCH',paymentGateway.confirmSingleData, 1)"
          class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMappingSingleSmsPgOfIncomingMoney" ng-show="(paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S1 || paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S3)">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" ng-if="paymentGateway.form.unextractedSMS.transactionStatus != paymentGateway.transactionStatus.S8"
          ng-click="paymentGateway.confirmDialog('KHÓA GIAO DỊCH',paymentGateway.lock, 1)" ng-show="paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S4"
          permission="Smss.UpdateLockPgIncomingMoney" >
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span translate>LOCK_TRANSACTION</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="paymentGateway.save()" ng-show="paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S1 || paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S3"
        permission = "Smss.SaveConfirmMoney">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>SAVE</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" ng-click="paymentGateway.reload()">
          <i class="fa fa-undo" aria-hidden="true"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
    </div>
</div>
</div>
</form>








<!-- <div ba-panel ba-panel-class="" ng-init="paymentGateway.init()">
  <form name="paymentGatewayForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" 
          permission="Smss.GetUnextractedSMSTypePaymentGateway" ng-click="paymentGateway.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
          <button type="button" ng-click="paymentGateway.correctSingleData()" class="btn btn-primary btn-with-icon"
          permission="Smss.UpdateCorrectSingleSmsOfIncomingMoney">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="paymentGateway.confirm()"
          class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMappingSingleSmsOfIncomingMoney">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon"
           permission="Smss.UpdateLockPgIncomingMoney"
          ng-click="paymentGatewayForm.$valid && paymentGateway.lock()">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span translate>LOCK_TRANSACTION</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" ng-click="paymentGateway.reload()">
          <i class="fa fa-undo" aria-hidden="true"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>BANK</b></p>
              <p>{{paymentGateway.form.unextractedSMS.bank}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>BANK_ACCOUNT_NO</b></p>
              <p>{{paymentGateway.form.unextractedSMS.bankAccountNo}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>CONTENT_SMS</b></p>
              <p>{{paymentGateway.form.unextractedSMS.contentSms}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>SENT_REASON</b></p>
              <p>{{paymentGateway.form.unextractedSMS.sentReason}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>SENT_TIME</b></p>
              <p>{{paymentGateway.form.unextractedSMS.sentTime | appDatetime}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>OVER_BALANCE</b></p>
              <p>{{paymentGateway.form.unextractedSMS.balance |number:0}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>STATUS</b></p>
              <p ng-if="paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S504" translate>S504</p>
              <b ng-if="paymentGateway.form.unextractedSMS.transactionStatus == paymentGateway.transactionStatus.S8" translate style="color: darkgreen;">S8</b>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>TYPE</b></p>
              <p ng-if="paymentGateway.form.unextractedSMS.typeOfTransaction == 320" translate>320</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" style="color: red">
              <p><b translate>MONEY_MUST_RECEIVED</b></p>
              <p>{{paymentGateway.form.unextractedSMS.moneyMustReceived |number:0}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>SENT_MONEY</b></p>
              <p>{{paymentGateway.form.unextractedSMS.sentMoney |number:0}}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>ADJUST_MONEY</b></p>
              <input type="text" class="form-control" id="adjustMoney" format-money
                placeholder="{{'ADJUST_MONEY'|translate}}" ng-model="paymentGateway.form.adjustedMoney"> 
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <p><b translate>ADJUST_MONEY_REASON</b></p>
              <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5" placeholder="{{'ADJUST_MONEY_REASON'|translate}}"  
              ng-model="paymentGateway.form.reasonAjustMoney">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div ba-panel ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="row">
              <div class="col-md-12">
                <table class="table" st-table="displayedPaymentGateways" st-safe-src="paymentGateway.form.paymentGateways">
                  <thead>
                    <tr class="sortable">
                      <th st-sort="checked" st-sort-default="reverse">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </th>
                      <th st-sort="firstName" translate>FIRST_NAME</th>
                      <th st-sort="lastName" translate>LAST_NAME</th>
                      <th st-sort="email" translate>EMAIL</th>
                      <th st-sort="studentCode" translate>STUDENT_CODE</th>
                      <th st-sort="cardNumber" translate>CARD_NUMBER</th>
                      <th st-sort="amountMoney" translate>AMOUNT_MONEY</th>
                      <th st-sort="paymentContent" translate>PAYMENT_CONTENT</th>
                      <th st-sort="timeOfPayment" translate>TIME_OF_PAYMENT</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input st-search="firstName" translate-attr="{ placeholder: 'SEARCH_FIRST_NAME' }"
                         class="input-sm form-control search-input" type="search"
                        />
                      </th>
                      <th>
                        <input st-search="lastName" translate-attr="{ placeholder: 'SEARCH_LAST_NAME' }"
                         class="input-sm form-control search-input" type="search"
                        />
                      </th>
                      <th>
                        <input st-search="email" translate-attr="{ placeholder: 'SEARCH_EMAIL' }"
                         class="input-sm form-control search-input" type="search"
                        />
                      </th>
                      <th>
                        <input st-search="studentCode" translate-attr="{ placeholder: 'SEARCH_STUDENT_CODE' }"
                         class="input-sm form-control search-input" type="search"
                        />
                      </th>
                      <th>
                        <input st-search="cardNumber" translate-attr="{ placeholder: 'SEARCH_CARD_NUMBER' }"
                        class="input-sm form-control search-input" type="search"
                        />
                      </th>
                      <th></th>
                      <th>
                        <input st-search="paymentContent" translate-attr="{ placeholder: 'SEARCH_PAYMENT_CONTENT' }"
                        class="input-sm form-control search-input" type="search"
                        />
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in displayedPaymentGateways track by $index"
                     ng-class="{info : item.checked}">
                      <td>
                        <div class="checkbox">
                          <label class="custom-checkbox">
                            <input type="checkbox" ng-checked="paymentGateway.selection.indexOf(item.id) > -1"
                             ng-click="paymentGateway.toggleSelection(item.id)">
                            <span><span>&nbsp;</span></span>
                          </label>
                        </div>
                      </td>
                      <td>
                        {{item.firstName}}
                      </td>
                      <td>
                        {{item.lastName}}
                      </td>
                      <td>
                        <a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a>
                      </td>
                      <td>
                        {{item.studentCode}}
                      </td>
                      <td>
                        {{item.cardNumber}}
                      </td>
                      <td>
                        {{item.amountMoney |number:0}}
                      </td>
                      <td>
                        {{item.paymentContent}}
                      </td>
                      <td>
                        {{item.timeOfPayment | appDatetime}}
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>{{paymentGateway.form.sumAmountMoney |number:0}}</b></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <button type="submit" class="btn btn-primary btn-with-icon"
           permission="Smss.UpdateConfirmPaymentGateway" ng-if="paymentGateway.form.unextractedSMS.transactionStatus != paymentGateway.transactionStatus.S8"
          ng-click="paymentGatewayForm.$valid && paymentGateway.confirm()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>CONFIRM</span>
        </button>
      </div>
    </div>
  </form>
</div> -->