<!DOCTYPE html>
<html lang="en" ng-app="AuthApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SSRS</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/auth.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body>
<main class="auth-main" ng-controller="AuthCtrl">
  <div class="auth-block">
    <h1>SSRS</h1>

    <div class="auth-sep"><span><span>
      <button class="btn btn-lg btn-default btn-auth" ng-click="signin()">
        <i class="socicon socicon-google" title="Share on Google Plus"></i>
        Sign in to SSRS
      </button>
    </span></span></div>
  </div>
</main>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<script src="/config.js" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
<script type="text/javascript">
  function init() {
    gapi.load('auth2', function () {
      auth2 = gapi.auth2.init({
        client_id: configApp.clientId,
        scope: 'profile'
      });
    });
  };

  (function () {
    'use strict';

    angular.module('AuthApp', ['ngCookies', 'toastr'])
      .controller('AuthCtrl', AuthCtrl);

    /** @ngInject */
    function AuthCtrl($scope, $window, $cookies, $http, toastr) {

      if ($cookies.get('access_token')) {
        $window.location = '/';
      }
      
      $scope.signin = function() {
        auth2.signIn().then(function (googleUser) {
          var id_token = googleUser.getAuthResponse().id_token;
          var options = {
            method: 'POST',
            url: configApp.apiUrl + 'oauth/token',
            data: { IdToken: id_token }
          };
          $http(options).then(function success(response) {
            if (response.data.data) {
              $cookies.put('access_token', response.data.data);
              $cookies.put('user_image_url', googleUser.getBasicProfile().getImageUrl());
              $window.location = '/';
            }
          }, function error(response) {
            toastr.error(response.data.message || 'Error occurred. Please try again later');
          });
        }, function (response) {
          toastr.error(response.error || 'Error occurred. Please try again later');
        });
      }
    }

  })();
</script>
</body>
</html>