<div ba-panel ba-panel-class="with-scroll">
  <div>
    <div class="row">

      <div class="col-xs-2">
        <search-common table-state="phieuThuDiaPhuongs.tableState" refresh="phieuThuDiaPhuongs.refresh()" columns="['bank','bankAccountNo','contentSms','sentReason']"
          label="SEARCH_EVERYTHING" table-state="phieuThuDiaPhuongs.tableState" refresh="phieuThuDiaPhuongs.refresh()"></search-common>

      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="phieuThuDiaPhuongs.tableState" refresh="phieuThuDiaPhuongs.refresh()" column="transactionStatus" data="phieuThuDiaPhuongs.transactionStatus"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="phieuThuDiaPhuongs.tableState" refresh="phieuThuDiaPhuongs.refresh()" column="sentTime" label="TU_NGAY"
          type="greater" default="phieuThuDiaPhuongs.default.search.startDate"></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="phieuThuDiaPhuongs.tableState" refresh="phieuThuDiaPhuongs.refresh()" column="sentTime" label="DEN_NGAY"
          type="lesser" default="phieuThuDiaPhuongs.default.search.endDate"></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="phieuThuDiaPhuongs.tableState" refresh="phieuThuDiaPhuongs.refresh()" column="orderCode" data="phieuThuDiaPhuongs.myTransaction"
          label="MY_TRANSACTION" default="phieuThuDiaPhuongs.default.search.orderCode">
        </search-checkbox>
      </div>
      <div class="col-xs-2 text-right pull-right">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="phieuThuDiaPhuongs.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-xs-2 text-right pull-righ btnPadding">


        <button type="button" class="btn btn-default btn-with-icon pull-left" permission="Smss.GetUnextractedSMSTypePhieuThuDiaPhuong"
          ng-click="phieuThuDiaPhuongs.refresh()" ladda="phieuThuDiaPhuongs.isLoading" data-spinner-color="#000" data-size="xs">


          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>

      </div>
      <br/>
    </div>
    <table class="table table-striped table-bordered table-hover " st-pipe="phieuThuDiaPhuongs.init" st-table="phieuThuDiaPhuongs.tableData">
      <br/>
      <thead>
        <tr class="sortable">
          <th>STT</th>
          <th st-sort="sentTime" translate>SENT_TIME</th>
          <th st-sort="bank" translate>BANK</th>
          <th st-sort="bankAccountNo" translate>BANK_ACCOUNT_NO</th>
          <th st-sort="contentSms" translate>CONTENT_SMS</th>
          <th class="text-right" st-sort="sentMoney" translate>SENT_MONEY</th>
          <th class="text-right" st-sort="balance" translate>OVER_BALANCE</th>
          <th class="text-right" st-sort="moneyMustReceived" translate>MONEY_RECEIVED</th>
          <th st-sort="transactionStatus" translate>STATUS</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="sentTime" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"
            />
          </th>
          <th>
            <input st-search="bank" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'BANK' }"
            />
          </th>
          <th>
            <input st-search="bankAccountNo" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANKACCOUNTNO' }"
            />
          </th>
          <th>
            <input st-search="sentReason" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'NOI_DUNG' }"
            />
          </th>
          <th>
            <input st-search="sentMoney" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_AMOUNT_MONEY' }"
            />
          </th>
          <th>
            <input st-search="balance" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'OVER_BALANCE' }"
            />
          </th>
          <th>
            <input st-search="moneyMustReceived" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'MONEY_RECEIVED' }"
            />
          </th>
          <th>
            <input st-search="transactionStatus" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"
            />
          </th>
          <th></th>
        </tr>

      </thead>
      <tbody ng-show="!phieuThuDiaPhuongs.isLoading">
        <tr ng-repeat="item in phieuThuDiaPhuongs.tableData track by $index">
          <td>{{phieuThuDiaPhuongs.tableState.pagination.start + $index+1}}</td>
          <td>{{item.sentTime | date : "dd/MM/yyyy HH:mm"}}</td>
          <td>{{phieuThuDiaPhuongs.bankLabel[item.bank]}}</td>
          <td>{{item.bankAccountNo}}</td>
          <td>{{item.sentReason}}</td>

          <td class="text-right">{{item.sentMoney |number:0}}</td>
          <td class="text-right">{{item.balance |number:0}}</td>
          <td class="text-right">{{item.moneyMustReceived |number:0}}</td>
          <td translate>{{item.transactionStatus}}</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="Smss.GetById" ui-sref="confirmMoney.phieuThuDiaPhuongDetail({phieuThuDiaPhuongId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="phieuThuDiaPhuongs.isLoading">
        <tr>
          <td colspan="8" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <div st-pagination="" st-items-by-page="phieuThuDiaPhuongs.tablePageSize" st-displayed-pages="5"></div>
          </td>
          <td class="text-right padding5 ">
            <b>
              <i> {{sumSentMoney |number:0}} ₫ </i>
            </b>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumBalance |number:0}} ₫ </i>
            </b>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tfoot>
    </table>
    <br/>
  </div>
</div>

<!-- 
<div ba-panel ba-panel-class="with-scroll">
  <div class="horizontal-scroll">
      <!-- <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <span translate>ROWS_ON_PAGE</span>
              <label>
                <select class="form-control" ng-model="phieuThuDiaPhuongs.tablePageSize" 
                  ng-options="i for i in [10,25,50,100,200]">
                </select>
              </label>
            </div>
          </div>
          
          <div class="col-xs-6">
          </div>
          <div class="col-xs-2 text-right">
            <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetUnextractedSMSTypePhieuThuDiaPhuong"
            ng-click="phieuThuDiaPhuongs.refresh()" ladda="phieuThuDiaPhuongs.isLoading" data-spinner-color="#000" data-size="xs">
              <i class="ion-loop"></i><span translate>REFRESH</span>
            </button>
          </div>
        </div> -->