
    <div class="row col-padding-top20 pad">
      <div class="col-xs-2 col-xs-2-custom">
        <label class="label-custom">
          <span translate>TU_NGAY</span>
        </label>
      </div>
      <div class="col-xs-2 col-xs-2-custom">
        <input date-range-picker class="form-control-report date-picker searchDateSingleDatePicker text-center " type="text" ng-model="datePicker.date.startDate"
          options="datePicker.options" />
      </div>
      <div class="col-xs-2 text-center col-xs-2-custom">
        <label class="label-custom">
          <span translate>DEN_NGAY</span>
        </label>
      </div>
      <div class="col-xs-2 col-xs-2-custom">
        <input date-range-picker class="form-control-report date-picker searchDateSingleDatePicker text-center " type="text" ng-model="datePicker.date.endDate"
          options="datePicker.options" />
      </div>
    </div>
    <div>
    </div>

<dashboard-pie-chart date-picker="datePicker"></dashboard-pie-chart>



   <div class="col-lg-6" ba-panel ba-panel-title="Doanh số theo kênh bán">
      <traffic-chart date-picker="datePicker"></traffic-chart>
    </div> 

<!-- <div class="col-md-6" ba-panel ba-panel-title="Doanh số theo kênh bán">
<div ng-controller="PieChartCtrl" id="pieChart" date-picker="datePicker" class="admin-chart"></div>
</div> -->

    <div class="col-lg-6" ng-controller="chartJs1DCtrl" date-picker="datePicker" ba-panel-class="medium-panel traffic-panel">
      <div ba-panel ba-panel-title="Doanh thu theo ngân hàng">
        <div class="chartjs-canvas-holder-first-row">
          <canvas id="pie" chart-options="options" class="chart chart-pie" chart-data="data" chart-labels="labels">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-xlg-12 col-md-12 col-sm-8 uc-without-padding-left-right">
      <section ng-controller="morrisCtrl" date-picker="datePicker">
        <div class="col-md-12">
          <div ba-panel ba-panel-title="Biểu đồ đường" ba-panel-class="with-scroll">
            <div line-chart line-data='lineData' line-xkey='y' line-xlabels='["day"]' xLabelAngle='45' line-ykeys='["a", "b"]' line-labels='["Số lượng đơn hàng", "Tổng giao dịch"]'
              line-colors='colors'>
            </div>
          </div>
        </div>
      </section>
    </div>