<div ba-panel ba-panel-class="" ng-init="userGroup.init()">
  <form name="userForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" 
          permission="Users.GetAll" ng-click="userGroup.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-info btn-with-icon" 
          permission="Users.Update" ng-click="userGroup.showEdit()" ng-if="userGroup.isEdit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <span translate>EDIT</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" ng-click="userGroup.reload()" ng-if="!userGroup.isCreateMode&&userGroup.isSave">
          <i class="fa fa-undo" aria-hidden="true"></i>
          <span translate>CANCEL</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" 
          ng-click="userForm.$valid && userGroup.save()" ng-if="userGroup.isSave">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>SAVE</span>
        </button>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="form-group" ng-class="{'has-error': userForm.name.$invalid 
            && (userForm.name.$dirty || userForm.name.$touched || userForm.$submitted)}">
            <label for="name" translate>NAME</label> <span>(*)</span>
            <p ng-if="!userGroup.isSave">
              <b>{{userGroup.form.name}}</b>
            </p>
            <input type="text" class="form-control" name="name" id="name" 
              ng-if="userGroup.isSave" ng-model="userGroup.form.name" 
              placeholder="{{'NAME' | translate}}" required>
            <span class="help-block error-block basic-block" 
              ng-show="userForm.name.$error.required" translate>REQUIRED</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group" ng-class="{'has-error': userForm.description.$invalid 
            && (userForm.description.$dirty || userForm.description.$touched || userForm.$submitted)}">
            <label for="description" translate>DESCRIPTION</label> <span>(*)</span>
            <p ng-if="!userGroup.isSave">
              <b>{{userGroup.form.description}}</b>
            </p>
            <input type="text" class="form-control" name="description" id="description"
             ng-if="userGroup.isSave" ng-model="userGroup.form.description" 
             placeholder="{{'DESCRIPTION' | translate}}" required>
            <span class="help-block error-block basic-block" 
              ng-show="userForm.description.$error.required" translate>REQUIRED</span>
          </div>
        </div>
        <div class="col-md-12" ng-if="!userGroup.isCreateMode">
          <div class="form-group">
            <label translate>CREATED_AT</label>
            <p>
              <b>{{userGroup.form.createdAt | appDatetime}}</b>
            </p>
          </div>
        </div>
        <div class="col-md-12" ng-if="!userGroup.isCreateMode">
          <div class="form-group">
            <label translate>UPDATED_AT</label>
            <p>
              <b>{{userGroup.form.updatedAt | appDatetime}}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="roles" translate>ROLE</label>
          <table class="table" st-table="displayedRoutes" st-safe-src="userGroup.routes">
            <thead>
              <tr class="sortable">
                <th class="table-id" st-sort="name" st-sort-default="true" translate>NAME_ROLE</th>
              </tr>
              <tr>
                <th>
                  <input st-search="name" translate-attr="{ placeholder: 'SEARCH_NAME_ROLE' }" class="input-sm form-control search-input" type="search"
                  />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in displayedRoutes track by $index">
                <td class="table-id">
                  <div class="checkbox">
                    <label class="custom-checkbox">
                      <input type="checkbox" ng-checked="userGroup.selection.indexOf(item.id) > -1" ng-click="userGroup.toggleSelection(item.id)" ng-disabled="!userGroup.isSave">
                      <span>{{item.name}}</span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-center">
                  <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>