<div ba-panel ba-panel-class="with-scroll">
  <div>
    <div class="row">

      <div class="col-xs-2">
        <search-common label="SEARCH_EVERYTHING" table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" columns="['bank','bankAccountNo','contentSms','sentReason','transactionStatus','balance']"></search-common>

      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" column="transactionStatus"
          data="[{value:'',label:'Tất cả'},{value:'S1',label:'S1'},{value:'S2',label:'S2'},{value:'S3',label:'S3'},{value:'S4',label:'S4'},{value:'S8',label:'S8'}]"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-1">
        <search-date table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" column="sentTime" label="TU_NGAY"
          type="greater" default="paymentGateways.default.search.startDate"></search-date>
      </div>
      <div class="col-xs-1">
        <search-date table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" column="sentTime" label="DEN_NGAY"
          type="lesser" default="paymentGateways.default.search.endDate"></search-date>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" column="orderCode" data="paymentGateways.myTransaction"
          label="MY_TRANSACTION" default="paymentGateways.default.search.orderCode">
        </search-checkbox>
      </div>
      <div class="col-xs-2 text-right pull-right">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="paymentGateways.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-xs-2 text-right pull-righ btnPadding">


        <button type="button" class="btn btn-default btn-with-icon pull-left" permission="Smss.GetUnextractedSMSTypePhieuThuDiaPhuong"
          ng-click="paymentGateways.refresh()" ladda="paymentGateways.isLoading" data-spinner-color="#000" data-size="xs">


          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>

      </div>
      <br/>
    </div>
    <table class="table table-striped table-bordered table-hover" st-pipe="paymentGateways.init" st-table="paymentGateways.tableData">
      <br/>
      <thead>
        <tr class="sortable">
          <th>STT</th>
          <th st-sort="sentTime" translate>SENT_TIME</th>

          <th st-sort="bank" translate>BANK</th>
          <th st-sort="bankAccountNo" translate>BANK_ACCOUNT_NO</th>
          <th st-sort="contentSms" translate>CONTENT_SMS</th>
          <!-- <th st-sort="sentReason" translate>SENT_REASON</th> -->
          <th class="text-right" st-sort="sentMoney" translate>SENT_MONEY</th>
          <th class="text-right" st-sort="balance" translate>OVER_BALANCE</th>
          <!-- <th class="text-right" st-sort="moneyMustReceived" translate>MONEY_RECEIVED</th> -->
          <th st-sort="transactionStatus" translate>STATUS</th>
          <!-- <th st-sort="typeOfTransaction" translate>TYPE</th> -->
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="sentTime" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_SENT_TIME' }"
            />
          </th>
          <th>
            <input st-search="bank" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANK' }"
            />
          </th>
          <th>
            <input st-search="bankAccountNo" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANKACCOUNTNO' }"
            />
          </th>
          <th>
            <input st-search="sentReason" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'CONTENT_SMS' }"
            />
          </th>
          <th>
            <input st-search="sentMoney" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_AMOUNT_MONEY' }"
            />
          </th>
          <th>
            <input st-search="balance" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BALANCE' }"
            />
          </th>
          <th>
            <input st-search="transactionStatus" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'TRANSACTION_STATUS' }"
            />
          </th>
          <th></th>
        </tr>

      </thead>
      <tbody ng-show="!paymentGateways.isLoading">
        <tr ng-repeat="item in paymentGateways.tableData track by $index">
          <td >{{paymentGateways.tableState.pagination.start + $index+1}}</td>

          <td>{{item.sentTime | date : "dd/MM/yyyy HH:mm"}}</td>
          <td>{{paymentGateways.bankLabel[item.bank]}}</td>
          <td>{{item.bankAccountNo}}</td>
          <td>{{item.sentReason}}</td>
          <!-- <td>{{item.sentReason | truncateString}}</td> -->
          <td class="text-right">{{item.sentMoney |number:0}}</td>
          <td class="text-right">{{item.balance |number:0}}</td>
          <!-- <td class="text-right">{{item.moneyMustReceived |number:0}}</td> -->
          <td  translate>{{item.transactionStatus }}</td>
          <!-- <td>{{item.typeOfTransaction}}</td> -->
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="Smss.GetById" ui-sref="confirmMoney.paymentGatewayDetail({paymentGatewayId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>

          </td>
        </tr>
      </tbody>
      <tbody ng-show="paymentGateways.isLoading">
        <tr>
          <td colspan="8" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">

            <div st-pagination="" st-items-by-page="paymentGateways.tablePageSize" st-displayed-pages="5"></div>

          </td>
          <td class="text-right padding5 ">
            <b>
              <i> {{sumSentMoney |number:0}} ₫ </i>
            </b>
          </td>
          <td class="text-right padding">
            <b>
              <i>{{sumBalance |number:0}} ₫ </i>
            </b>
          </td>
          <td> </td>
          <td></td>

        </tr>
      </tfoot>
    </table>


    <br/>


  </div>
</div>

<!-- <div ba-panel ba-panel-class="with-scroll">
  <div class="horizontal-scroll">
    <div class="row">
      <div class="col-xs-2">
          <search-common  label="SEARCH_EVERYTHING" table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" 
          columns="['bank','bankAccountNo','contentSms','sentReason','sentMoney','balance']"></search-common>
      </div>
      <div class="col-xs-2">
        <search-checkbox table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" column="transactionStatus" data="paymentGateways.transStatus" label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-xs-2">
        <search-date table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" column="sentTime" label="TU_NGAY" type="greater"></search-date>
      </div>
      <div class="col-xs-2">
        <search-date table-state="paymentGateways.tableState" refresh="paymentGateways.refresh()" column="sentTime" label="DEN_NGAY" type="lesser"></search-date>
      </div>
      <div class="col-xs-2 text-right pull-right">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="paymentGateways.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-xs-2 text-right pull-righ btnPadding">
        <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetUnextractedSMSTypePaymentGateway" ng-click="paymentGateways.refresh()"
          ladda="paymentGateways.isLoading" data-spinner-color="#000" data-size="xs">
          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
    </div>
    <table class="table table-hover" st-pipe="paymentGateways.init" st-table="paymentGateways.tableData">
      <thead>
        <tr class="sortable ">
          <th>#</th>
          <th st-sort="bank" translate>BANK</th>
          <th st-sort="bankAccountNo" translate>BANK_ACCOUNT_NO</th>
          <th st-sort="contentSms" translate>CONTENT_SMS</th>
          <th st-sort="sentReason" translate>SENT_REASON</th>
          <th st-sort="sentTime" translate>SENT_TIME</th>
          <th st-sort="sentMoney" translate>SENT_MONEY</th>
          <th st-sort="balance" translate>OVER_BALANCE</th>
          <th st-sort="moneyMustReceived" translate>MONEY_RECEIVED</th>
          <th st-sort="transactionStatus" translate>STATUS</th>
          <th st-sort="typeOfTransaction" translate>TYPE</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>
            <input st-search="bank" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANK' }"
            />
          </th>
          <th>
            <input st-search="bankAccountNo" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_BANKACCOUNTNO' }"
            />
          </th>
          <th>
            <input st-search="contentSms" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_CONTENTSMS' }"
            />
          </th>
          <th>
            <input st-search="sentReason" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_SENTREASON' }"
            />
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-show="!paymentGateways.isLoading">
        <tr ng-repeat="item in paymentGateways.tableData track by $index">
          <td>{{paymentGateways.tableState.pagination.start + $index+1}}</td>
          <td>{{item.bank}}</td>
          <td>{{item.bankAccountNo}}</td>
          <td>{{item.contentSms | truncateString}}</td>
          <td>{{item.sentReason | truncateString}}</td>
          <td>{{item.sentTime | appDatetime}}</td>
          <td>{{item.sentMoney |number:0}}</td>
          <td>{{item.balance |number:0}}</td>
          <td>{{item.moneyMustReceived |number:0}}</td>
          <td translate>{{item.transactionStatus}}</td>
          <td  translate>{{item.typeOfTransaction}}</td>
          <td class="text-center">
            <div class="buttons">
              <button class="btn btn-info btn-xs" permission="Smss.GetById" ui-sref="confirmMoney.paymentGatewayDetail({paymentGatewayId: item.id})">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span translate>VIEW</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="paymentGateways.isLoading">
        <tr>
          <td colspan="12" class="text-center" translate>LOADING</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="12" class="text-center">
            <div st-pagination="" st-items-by-page="paymentGateways.tablePageSize" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div> -->