<div ng-init="TMSN.init()">
  <div class="col-md-9 col-md-9-padding">

    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate>THONG_TIN_CHUNG</H4>
      </div>
      <div class="panel-body">

        <div class="">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_THU_TIEN</label>
          </div>
          <div class="col-md-4">

            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.ngayThuTien == null}">{{TMSN.form.ngayThuTien | appDate}}
            </div>

          </div>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGUOI_NOP_TIEN</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.nguoiNopTien == null}">{{TMSN.form.nguoiNopTien}}
            </div>
          </div>

          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SO_DIEN_THOAI</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.phoneNumber == null}">{{TMSN.form.phoneNumber}}
            </div>
          </div>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>EMAIL</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.email == null}">{{TMSN.form.email}}
            </div>


          </div>
          <br/>
          <br/>
          <br/>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SO_TIEN_NOP</label>
          </div>

          <div class="col-md-4">

            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.soTienNop == null}">{{TMSN.form.soTienNop |number:0}}
              <span ng-if="TMSN.form.soTienNop">đ</span>
            </div>


          </div>

          <div class="col-md-4"></div>
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SO_TIEN_BANG_CHU</label>
          </div>
          <div class="col-md-10">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.soTienBangChu == null}">{{TMSN.form.soTienBangChu}}
            </div>

          </div>
          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NOI_DUNG</label>
          </div>
          <div class="col-md-10">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.noiDung == null}">{{TMSN.form.noiDung}}
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate> THONG_TIN_DON_HANG</H4>

      </div>
      <div class="panel-body">
        <div class="">

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
          </div>
          <div class="col-md-2">

            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.orderCode == null}">{{TMSN.form.orderCode}}</div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TONG_SO_TIEN_PHAI_THU</label>
          </div>
          <div class="col-md-2">

            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.tongTienPhaiThu == null}">{{TMSN.form.tongTienPhaiThu |number:0}}
              <span ng-if="TMSN.form.tongTienPhaiThu">đ</span>
            </div>

          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI_DON_HANG</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.order.orderStatus == null}"
              translate>
              {{TMSN.form.order.orderStatus}}
            </div>

          </div>

          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TVTS</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.tvts == null}">{{TMSN.form.tvts}}
            </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>DA_THANH_TOAN</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.order.tongTienDaThanhToan == null}">
              {{TMSN.form.order.tongTienDaThanhToan |number:0}}
            </div>

          </div>
        </div>
        <div class="col-md-2">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>CREATED_AT</label>
        </div>
        <div class="col-md-2">
          <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.order.createdAt == null}">{{TMSN.form.order.createdAt | appDate}}

          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panelCustom panelCustomMinHeight">
    <div class="panel-heading">
      <h4 translate>CHUNG_TU</h4>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SO_PHIEU</label>
      </div>
      <div class="col-md-8">
        <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.soPhieu == null}">{{TMSN.form.soPhieu}}
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_BIEN_LAI</label>
      </div>
      <div class="col-md-8">
        <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.ngayBienLai == null}">{{TMSN.form.ngayBienLai | appDate}}
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
      </div>
      <div class="col-md-8">
        <!-- <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': TMSN.form.typeOfTransaction == null}">{{TMSN.form.typeOfTransaction}}
        </div> -->
        <p>
          <b ng-if="TMSN.form.typeOfTransaction == null" translate>NOT_INFORMATION</b>
          <b ng-if="TMSN.form.typeOfTransaction != null" translate>{{TMSN.form.typeOfTransaction}}</b>
        </p>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
      </div>
      <div class="col-md-8">
        <div>
          <p>
            <b ng-if="TMSN.form.transactionStatus == null" translate>NOT_INFORMATION</b>
            <b ng-if="TMSN.form.transactionStatus != null" translate style="color:dodgerblue">{{TMSN.form.transactionStatus}}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-4 padding5">
        <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>FAST_ID</label>
      </div>
      <div class="col-md-8">
        <div>
          <p>
            <b ng-if="TMSN.form.fastId == null" translate>NOT_INFORMATION</b>
            <b ng-if="TMSN.form.fastId != null" translate style="color:dodgerblue">{{TMSN.form.fastId}}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>GROUP_CODE</label>
        </div>
        <div class="col-md-8">
          <div>
            <p>
              <b translate>{{TMSN.form.groupCode ? TMSN.form.groupCode.toUpperCase() : "" }}</b>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>


<div class="col-md-12   col-md-12-padding">
  <div class="panelCustom">
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-hover table-bordered" id="step_two">
        <thead>
          <tr>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>STT</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>MA_HOC_VIEN</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>HO_TEN_HOC_VIEN</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>SO_DIEN_THOAI</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>EMAIL</label>
            </td>
            <td class="text-left">
              <label data-toggle="tooltip" data-placement="top" translate>GOI_HOC_KHOA_HOC</label>
            </td>
            <td class="text-right">
              <label data-toggle="tooltip" data-placement="top" translate>GIA_BAN</label>
            </td>

            <td class="text-right">
              <label data-toggle="tooltip" data-placement="top" translate>TONG_TIEN_DA_THANH_TOAN</label>

            </td>
            <td class="text-right">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_DA_NOP</label>
            </td>
            <td class="text-right">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_CON_PHAI_NOP</label>
            </td>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in TMSN.form.order.orderDetails track by $index">
            <td>
              {{ $index + 1 }}
            </td>
            <td>
              <p>
                {{item.topicaUser.topicaUserId}}
              </p>
            </td>
            <td>
              <p>
                {{item.topicaUser.fullName}}
              </p>
            </td>

            <td>
              <p>
                {{item.topicaUser.phoneNumber1}}
              </p>
            </td>
            <td class="form-group">
              <p>
                {{item.topicaUser.email}}
              </p>
            </td>
            <td class="form-group">
              <p>
                {{item.package.maGoi}}
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{ item.giaBanSauKhuyenMai |number:0}} ₫
              </p>
            </td>

            <td class="form-group text-right">
              <p>
                {{item.soTienDaNop - item.soTienNopHienTai|number:0}} ₫
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{item.soTienNopHienTai |number:0}} ₫
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{item.giaBanSauKhuyenMai - item.soTienDaNop |number:0}} ₫
              </p>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="col-xs-12 text-right pull-right padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="TMSN.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div> -->

  <div class="col-xs-2 text-left padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="TMSN.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div>
  <div class="col-xs-10 text-right pull-right padding5">
    <button type="button" ng-click="TMSN.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',TMSN.correctSingleData , 0)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateCorrectSingleCashOfTransManage"
      ng-show="(TMSN.form.transactionStatus == TMSN.transactionStatus.S4 || TMSN.form.transactionStatus == TMSN.transactionStatus.S3) && !TMSN.checkPermission">
      <i class="fa fa-check"></i>
      <span translate>UNCORRECT_DATA</span>
    </button>
    <button type="button" ng-click="TMSN.confirmDialog('',TMSN.correctSingleData , 1)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateCorrectSingleCashOfTransManage"
      ng-show="(TMSN.form.transactionStatus == TMSN.transactionStatus.S1 || TMSN.form.transactionStatus == TMSN.transactionStatus.S2) && !TMSN.checkPermission">
      <i class="fa fa-check"></i>
      <span translate>CORRECT_DATA</span>
    </button>
    <button type="button" ng-click="TMSN.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',TMSN.confirm , 0)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateConfirmSingleCashOfTransManage"
      ng-show="TMSN.form.transactionStatus == TMSN.transactionStatus.S2 || TMSN.form.transactionStatus == TMSN.transactionStatus.S4">
      <i class="fa fa-anchor"></i>
      <span translate>UNCONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="TMSN.confirmDialog('',TMSN.confirm , 1)" class="btn btn-primary btn-with-icon" permission="Cashs.UpdateConfirmSingleCashOfTransManage"
      ng-show="TMSN.form.transactionStatus == TMSN.transactionStatus.S1 || TMSN.form.transactionStatus == TMSN.transactionStatus.S3">
      <i class="fa fa-anchor"></i>
      <span translate>CONFIRM_MAPPING</span>
    </button>
  </div>
</div>

</div>
</div>