<div ba-panel>
    <div>
<div class="row col-padding-top20">
            <div class="col-xs-2 col-xs-2-custom">
<label class="label-custom">
                    <span translate>TU_NGAY</span>
                </label>
            </div>
<div class="col-xs-2 col-xs-2-custom">
<input date-range-picker class="form-control-report date-picker searchDateSingleDatePicker text-center " type="text" ng-model="datePicker.date.startDate"
                    options="datePicker.options" />
            </div>
            <div class="col-xs-2 text-center col-xs-2-custom">
<label class="label-custom">
                    <span translate>DEN_NGAY</span>
                </label>
            </div>
<div class="col-xs-2 col-xs-2-custom">
<input date-range-picker class="form-control-report date-picker searchDateSingleDatePicker text-center " type="text" ng-model="datePicker.date.endDate"
                    options="datePicker.options" />
            </div>
        </div>
        <div>
        </div>

        <div>

            <div class="row col-padding-top20">
                <div class="col-xs-2  text-center col-xs-2-custom">
                    <label class="label-custom">
                        <span translate>HE_SO_LUONG </span>
                    </label>
                </div>
<div class="col-xs-2 col-xs-2-custom">
                    <select class="form-control-PBI  text-center" ng-model="heSoLuong" ng-change="changedValueHSL(heSoLuong)" data-ng-options="heSoLuongData as heSoLuongData.value for heSoLuongData in heSoLuongDatas">
                        <option value="">Chọn hệ số lương</option>
                    </select>
                </div>

                <div class="col-xs-2  text-center col-xs-2-custom">
                    <label class="label-custom">
                        <span translate>HE_SO_THOI_GIAN </span>
                    </label>
                </div>
<div class="col-xs-2 col-xs-2-custom">
                    <select class="form-control-PBI text-center " ng-model="heSoThoiGian" ng-change="changedValueHSTG(heSoThoiGian)" data-ng-options="heSoThoiGianData as heSoThoiGianData.value for heSoThoiGianData in heSoThoiGianDatas">
                        <option value="">Chọn hệ số thời gian</option>
                    </select>
                </div>


                <div class="col-xs-2  text-center col-xs-2-custom">
                    <label class="label-custom">
                        <span translate>HE_SO_CHAT_LUONG </span>
                    </label>
                </div>
<div class="col-xs-2 col-xs-2-custom">
                    <select class="form-control-PBI" ng-model="heSoChatLuong" ng-change="changedValueHSCL(heSoChatLuong)" data-ng-options="heSoChatLuongData as heSoChatLuongData.value for heSoChatLuongData in heSoChatLuongDatas">
                        <option value="">Chọn hệ số chất lượng</option>
                    </select>
                </div>

                
                <div class="col-xs-2  text-center col-xs-2-custom">
                    <label class="label-custom">
<span translate>PHAN_TRAM_COM </span>
                    </label>
                </div>
<div class="col-xs-2 col-xs-2-custom">
    <select class="form-control-PBI" ng-model="phanTramCOM" ng-change="changedValuePTCOM(phanTramCOM)" data-ng-options="phanTramCOMData as phanTramCOMData.value for  phanTramCOMData in phanTramCOMDatas">
        <option value="">Chọn % COM</option>
    </select>
</div>
                </div>

                
                    <!-- <label class="label-custom">
                        <span translate>PHAN_TRAM_COM </span>
                    </label>
                </div>

                <div class="col-xs-2">
                    <select class="form-control-PBI" ng-model="phanTramCOM" ng-change="changedValuePTCOM(phanTramCOM)" data-ng-options="phanTramCOMData as phanTramCOMData.value for  phanTramCOMData in phanTramCOMDatas">
                        <option value="">Chọn % COM</option>
                    </select>
                </div>
            </div> -->
</div>
            <!-- 
<select class="form-control-PBI" ng-model="heSoThoiGian" ng-change="changedValueHSTG(heSoThoiGian)" data-ng-options="heSoThoiGianData as heSoThoiGianData.value for heSoThoiGianData in heSoThoiGianDatas">
    <option value="">Chọn hệ số thời gian</option>
</select>
<select class="form-control-PBI" ng-model="heSoChatLuong" ng-change="changedValueHSCL(heSoChatLuong)" data-ng-options="heSoChatLuongData as heSoChatLuongData.value for heSoChatLuongData in heSoChatLuongDatas">
    <option value="">Chọn hệ số chất lượng</option>
</select>
<select class="form-control-PBI" ng-model="phanTramCOM" ng-change="changedValuePTCOM(phanTramCOM)" data-ng-options="phanTramCOMData as phanTramCOMData.value for  phanTramCOMData in phanTramCOMDatas">
    <option value="">Chọn % COM</option>
</select> -->


            <!-- <div>{{email}} </div> -->

        </div>

        <div class="row col-padding-top50">
<div class="col-md-3 title-color-blue">
                <div class="panel panel-primary">
<div class="panel-heading-custom panel-heading" translate> THUC_THU
                       
                    </div>
                    <div class="panel-body-custom color-blue">
<div class="custom-value title-color-blue">{{sumActualReceivedMoney | number : 0}} VNĐ</div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-2 -->
            <div class="col-md-3">
                <div class="panel panel-success">
<div class="panel-heading-custom panel-heading">
                        L8
                    </div>
                    <div class="panel-body-custom ">
<div class="custom-value"> {{count}} </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-warning">
<div class="panel-heading-custom panel-heading" translate>
                        DOANH_THU_QUY_DOI
                    </div>
                    <div class="panel-body-custom">
<div class="custom-value">{{sumActualReceivedMoney / (heSoLuong.value * heSoThoiGian.value * heSoChatLuong.value) | number : 0}} VNĐ</div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-danger">
<div class="panel-heading-custom panel-heading">COM
                    </div>
                    <div class="panel-body-custom">
<div class="custom-value">{{sumActualReceivedMoney * phanTramCOM.value / 100 | number}} VNĐ</div>
                    </div>

                </div>
            </div>
 

        </div>

<div class="col-xlg-12 col-md-12 col-sm-8 uc-without-padding-left-right">
            <div ba-panel ba-panel-title="Thực thu theo ngày" ba-panel-class="with-scroll">
<div bar-chart bar-data='barData' bar-x='y' bar-y='["a"]' bar-labels='["Tổng tiền thực thu"]' bar-colors=["#01B8AA"]>
                </div>
            </div>
        </div>
    </div>