<div ng-init="codDetail.init()">
  <form name="codDetailForm" novalidate>
    <!-- <div class="col-xs-2">
  <search-common label="SEARCH_EVERYTHING" table-state="codDetail.tableState" refresh="codDetail.refresh()" columns="['nguoiNopTien']"></search-common>
</div>
<div class="col-xs-2">
  <search-checkbox table-state="codDetail.tableState" refresh="codDetail.reload()" column="transactionStatus" data="[{value:'S1',label:'S1'},{value:'S2',label:'S2'},{value:'S3',label:'S3'},{value:'S4',label:'S4'},{value:'S8',label:'S8'}]"
    label="STATUS">
  </search-checkbox>
</div>
<div class="col-xs-2">
  <search-date table-state="codDetail.tableState" refresh="codDetail.refresh()" column="ngayThuTien" label="TU_NGAY" type="greater"></search-date>
</div>
<div class="col-xs-2">
  <search-date table-state="codDetail.tableState" refresh="codDetail.refresh()" column="ngayThuTien" label="DEN_NGAY" type="lesser"></search-date>
</div>
<div class="col-xs-2 text-right pull-right">
  <span translate>ROWS_ON_PAGE</span>
  <label>
    <select class="form-control" ng-model="codDetail.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
    </select>
  </label>
</div> -->
    <div class="col-md-12 col-md-12-padding padding-bottom-5 text-right">
      <button type="submit" class="btn btn-primary btn-with-icon" ng-click="codDetail.save()"
      ng-show="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S1 || codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S3"
      permission = "Smss.SaveConfirmMoney">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <span translate>SAVE</span>
      </button>
    </div>
    <div class="col-md-9     col-md-9-padding">

      <div class="panelCustom">
        <div class="panel-heading">
          <H4 translate>THONG_TIN_CHUNG</H4>
        </div>
        <div class="panel-body">


          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_CHUYEN_KHOAN</label>
          </div>
          <div class="col-md-4 ">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.sentTime == null}">{{codDetail.form.unextractedSMS.sentTime|appDate}}</div>

          </div>
        </div>


        <div class="panel-body">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>OVER_BALANCE</label>
          </div>
          <div class="col-md-4 ">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.balance == null}">{{codDetail.form.unextractedSMS.balance}}</div>
          </div>
        </div>


        <div class="panel-body">
          <div class="col-md-2 ">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_MONEY</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.sentMoney == null}">{{codDetail.form.unextractedSMS.sentMoney|number:0}}
              <span ng-if="phieuThuDiaPhuong.form.unextractedSMS.balance">đ</span>
              <span ng-if="codDetail.form.unextractedSMS.sentMoney">đ</span>
            </div>

          </div>

          <div class="col-md-6">
          </div>
        </div>
        <!-- <div class="col-md-4">


          </div> -->
        <div class="panel-body">

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SENT_REASON</label>
          </div>

          <div class="col-md-10">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.sentReason == null}">{{codDetail.form.unextractedSMS.sentReason}}</div>
          </div>

          <div class="col-md-4"></div>
        </div>


      </div>


      <div class="panelCustom">
        <div class="panel-heading">
          <H4 translate> THONG_TIN_DON_HANG</H4>

        </div>
        <div class="panel-body">
          <div class="">

            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.orderCode == null}">{{codDetail.form.unextractedSMS.orderCode}}</div>
            </div>
            <!-- <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.bankingTransactionStatus == null}">{{codDetail.form.unextractedSMS.bankingTransactionStatus}}</div>
            </div> -->
            <div class="col-md-2">
              <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGAY_TAO_DON_HANG</label>
            </div>
            <div class="col-md-2">
              <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.createdAt == null}">{{codDetail.form.unextractedSMS.createdAt | appDate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <div class="panelCustom panelCustomMinHeight345">
        <div class="panel-heading">
          <h4 translate>CHUNG_TU</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.bank == null}">{{codDetail.form.unextractedSMS.bank}}</div>

          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>BANK_ACCOUNT_NO</label>
          </div>
          <div class="col-md-8">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.bankAccountNo == null}">{{codDetail.form.unextractedSMS.bankAccountNo}}</div>

          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" id="typeOfTransaction" name="typeOfTransaction" ng-model="codDetail.form.unextractedSMS.typeOfTransaction"
              ng-change="codDetail.showHideDetail(codDetail.form.typeOfTransaction)" ng-disabled="!codDetail.isS1">
              <option ng-repeat="item in codDetail.listTypeOfTransaction" ng-value="{{item.id}}" translate>{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-4 padding5">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
          </div>
          <div class="col-md-8">
            <!-- <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': codDetail.form.unextractedSMS.transactionStatus == null}">{{codDetail.form.unextractedSMS.transactionStatus}}</div> -->
            <div>
              <p>
                <b ng-if="codDetail.form.unextractedSMS.transactionStatus == null" translate>NOT_INFORMATION</b>
                <b ng-if="codDetail.form.unextractedSMS.transactionStatus != null" translate style="color:dodgerblue">{{codDetail.form.unextractedSMS.transactionStatus}}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div class="col-md-12 col-md-12-padding">
  <div class="panelCustom">
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

<table class="table table-striped table-bordered table-hover" st-table="displayedCods" st-safe-src="codDetail.form.codDetails">
        <thead>
          <tr>
            <tr class="sortable">
              <th st-sort="checked" st-sort-default="reverse">
                <i class="fa fa-check" aria-hidden="true"></i>
              </th>
              <th st-sort="timeOfPayment" translate>TIME_OF_PAYMENT</th>
              <th st-sort="kaitoBillOfLading" translate>KAITO_BILL_OF_LADING</th>
              <th st-sort="orderCode" translate>ORDER_CODE</th>
              <th st-sort="nameOfCod" translate>NAME_OF_COD</th>
              <th st-sort="nameOfPayer" translate>MA_HOC_VIEN</th>
              <th st-sort="nameOfPayer" translate>HO_TEN</th>
              <th st-sort="phoneNumber" translate>PHONE_NUMBER</th>
              <th st-sort="goiHoc" translate>GOI_HOC</th>
              <th st-sort="transactionStatus" translate>TRANG_THAI</th>
              <th st-sort="soTienNop" translate>SO_TIEN_NOP</th>
            </tr>
            <tr>
              <th></th>
              <th>

              </th>
              <th>
                <input st-search="kaitoBillOfLading" translate-attr="{ placeholder: 'SEARCH_MA_VAN_DON' }" class="input-sm form-control search-input"
                  type="search" /> </th>

              <th>
                <input st-search="orderCode" translate-attr="{ placeholder: 'SEARCH_MA_DON_HANG' }" class="input-sm form-control search-input"
                  type="search" />
              </th>
              <th>
                <input st-search="nameOfCod" translate-attr="{ placeholder: 'SEARCH_DOI_TAC' }" class="input-sm form-control search-input"
                  type="search" />
              </th>

              <th>
                <input st-search="" translate-attr="{ placeholder: 'SEARCH_EVERYTHING' }" class="input-sm form-control search-input" type="search"
                />
              </th>
              <th>
                <input st-search="phoneNumber" translate-attr="{ placeholder: 'SEARCH_EVERYTHING' }" class="input-sm form-control search-input"
                  type="search" />
              </th>
              <th>
                <input st-search="noiDung" translate-attr="{ placeholder: 'SEARCH_PAYMENT_CONTENT' }" class="input-sm form-control search-input"
                  type="search" />
              </th>
              <th>

              </th>
              </th>
        </thead>
        <tbody>
          <tr ng-repeat="item in displayedCods  track by $index" ng-class="{info : item.checked}">
            <td>
              <div class="checkbox" ng-show="codDetail.form.unextractedSMS.transactionStatus != codDetail.transactionStatus.S4 && codDetail.form.unextractedSMS.transactionStatus != codDetail.transactionStatus.S8">
                <label class="custom-checkbox">
                  <input type="checkbox" ng-checked="codDetail.selection.indexOf(item.id) > -1" ng-click="codDetail.toggleSelection(item.id)">
                  <span>
                    <span>&nbsp;</span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <p>
                {{item.timeOfPayment}}
              </p>
            </td>
            <td>
              <p>
                {{item.kaitoBillOfLading}}
              </p>
            </td>

            <td class="form-group">
              <p>
                {{item.orderCode}}
              </p>
            </td>


            <td class="form-group text-left">
              <p>
                {{item.nameOfCod}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.maHocVien}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.hoTen}}
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{item.phoneNumber}}
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{item.package}}
              </p>
            </td>
            <td class="form-group text-left">
              <p>
                {{item.transactionStatus}}
              </p>
            </td>
            <td class="form-group text-right">
              <p>
                {{item.actualReceivedMoney |number:0}} ₫
              </p>
            </td>
          </tr>
          <tr>

            <td class="text-right" colspan="7"></td>
            <td colspan="2" class="text-right"> Tiền ngân hàng</td>
            <td colspan="3">

              <b>{{codDetail.form.unextractedSMS.sentMoney |number:0}} ₫</b>
            </td>
          </tr>
          <tr>
            <td class="text-right" colspan="7"></td>
            <td colspan="2" class="text-right"> Tiền COD</td>
            <td colspan="3">
              <b>{{codDetail.form.sumAmountMoney |number:0}} ₫</b>
            </td>
          </tr>
          <!-- <tr>
            <td class="text-right" colspan="7"></td>
            <td colspan="2" class="text-right"> Số tiền điều chỉnh</td>
            <td colspan="3">
              <b>{{codDetail.form.unextractedSMS.adjustedMoney |number:0}} ₫</b>
            </td>
          </tr>
          <tr>
            <td class="text-right" colspan="7"></td>
            <td colspan="2" class="text-right"> Chênh lệch</td>
            <td colspan="3">
              <b>{{ codDetail.form.unextractedSMS.sentMoney - codDetail.form.sumAmountMoney - codDetail.form.unextractedSMS.adjustedMoney
                |number:0 }} ₫
              </b>
              <b>{{codDetail.form.sumAmountMoney - codDetail.form.sumAmountMoney }}</b>
            </td>
          </tr> -->
          <tr>
            <td colspan="7"></td>
            <td class="text-right" colspan=" 2 " class="text-right " translate> ADJUST_MONEY</td>
            <td colspan="3" class="text-right">
              <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="text-right" id="adjustMoney" placeholder="{{'ADJUST_MONEY'|translate }}"
                ng-model="codDetail.form.unextractedSMS.adjustedMoney" style="border: 1px solid #cbcbcb; border-radius: 5px; width: 91%">
              <strong>đ</strong>
            </td>
          </tr>
          <!-- <tr>
              <td colspan="6"></td>
              <td class="text-right" colspan=" 2 " class="text-right " translate>Chênh lệch</td>
              <td colspan="3" class="text-right">
                <b>{{ codDetail.form.chechlech
                  |number:0 }} ₫
                </b>
              </td>
            </tr> -->
          <tr>
            <td colspan="6"></td>
            <td class="text-right" colspan=" 2 " class="text-right " translate>ADJUST_MONEY_REASON</td>
            <td colspan="3" class="text-right">
              <textarea class="form-control" name="" id="adjustMoneyReason" cols="23" rows="5"  placeholder="{{'ADJUST_MONEY_REASON'|translate }}"
                ng-model="codDetail.form.unextractedSMS.reasonAjustMoney">
                      </textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="col-xs-12 text-right pull-right padding5">
    <button type="button" class="btn btn-default btn-with-icon" ng-click="codDetail.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div> -->
  <div class="col-xs-2 text-left padding5">
    <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetListSmsTypeCod" ng-click="codDetail.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>



  </div>
  <div class="col-xs-10 text-right padding5">
    <button type="button" ng-click="codDetail.confirmDialog('XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',codDetail.correctSingleData,0)" class="btn btn-primary btn-with-icon"
      permission="Smss.UpdateCorrectSingleSmsOfIncomingMoney" ng-show="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S4 || codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S3">
      <i class="fa fa-check"></i>
      <span translate>UNCORRECT_DATA</span>
    </button>
    <button type="button" ng-click="codDetail.confirmDialog('XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',codDetail.correctSingleData,1)" class="btn btn-primary btn-with-icon"
      permission="Smss.UpdateCorrectSingleSmsOfIncomingMoney" ng-show="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S1 || codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S2">
      <i class="fa fa-check"></i>
      <span translate>CORRECT_DATA</span>
    </button>
    <button type="button" ng-click="codDetail.confirmDialog('XÁC NHẬN MAP GIAO DỊCH', codDetail.confirmSingleData, 0)" class="btn btn-primary btn-with-icon"
      permission="Smss.UpdateConfirmMappingSingleSmsCodOfIncomingMoney" ng-show="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S4 || codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S2">
      <i class="fa fa-anchor"></i>
      <span translate>UNCONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="codDetail.confirmDialog('XÁC NHẬN MAP GIAO DỊCH', codDetail.confirmSingleData, 1)" class="btn btn-primary btn-with-icon"
      permission="Smss.UpdateConfirmMappingSingleSmsCodOfIncomingMoney" ng-show="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S1 || codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S3">
      <i class="fa fa-anchor"></i>
      <span translate>CONFIRM_MAPPING</span>
    </button>
    <button type="submit" class="btn btn-primary btn-with-icon"
      ng-click="codDetail.confirmDialog('KHÓA GIAO DỊCH',codDetail.lock)" ng-show="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S4" permission = "Smss.UpdateLockCodIncomingMoney">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <span translate>LOCK_TRANSACTION</span>
    </button>
    <button type="submit" class="btn btn-primary btn-with-icon" ng-click="codDetail.save()"
    ng-show="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S1 || codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S3" permission = "Smss.SaveConfirmMoney">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      <span translate>SAVE</span>
    </button>
    <button type="button" class="btn btn-default btn-with-icon" ng-click="codDetail.reload()">
      <i class="fa fa-undo" aria-hidden="true"></i>
      <span translate>REFRESH</span>
    </button>
  </div>
</div>
</div>
</div>
</form>





<!-- 

<div ba-panel ba-panel-class="" ng-init="codDetail.init()">
  <form name="codDetailForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" permission="Smss.GetListSmsTypeCod" ng-click="codDetail.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" ng-click="codDetail.correctSingleData()" class="btn btn-primary btn-with-icon" permission="Smss.UpdateConfirmMappingSingleSmsOfIncomingMoney">
          <i class="fa fa-check"></i>
          <span translate>CORRECT_DATA</span>
        </button>
        <button type="button" ng-click="codDetail.confirm()" class="btn btn-primary btn-with-icon" permission="Smss.UpdateCorrectSingleSmsOfIncomingMoney">
          <i class="fa fa-anchor"></i>
          <span translate>CONFIRM_MAPPING</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" ng-if="codDetail.form.unextractedSMS.transactionStatus != codDetail.transactionStatus.S8"
          ng-click="codDetailForm.$valid && codDetail.lock()">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span translate>LOCK_TRANSACTION</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" ng-click="codDetail.reload()">
          <i class="fa fa-undo" aria-hidden="true"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="col-md-12">
          <label for="bank" translate>BANK</label>
          <p translate> {{codDetail.form.unextractedSMS.bank}}</p>
        </div>
        <div class="col-md-12">
          <label for="sentTime" translate>SENT_TIME</label>
          <p translate> {{codDetail.form.unextractedSMS.sentTime}}</p>
        </div>
        <div class="col-md-12">
          <label for="bankAccountNo" translate>BANK_ACCOUNT_NO</label>
          <p translate> {{codDetail.form.unextractedSMS.bankAccountNo}}</p>
        </div>
        <div class="col-md-12">
          <label for="sentMoney" translate>SENT_MONEY</label>
          <p translate> {{codDetail.form.unextractedSMS.sentMoney |number:0}}</p>
        </div>
        <div class="col-md-12">
          <label for="balance" translate>OVER_BALANCE</label>
          <p translate> {{codDetail.form.unextractedSMS.balance |number:0}}</p>
        </div>
        <div class="col-md-12">
          <label for="transactionStatus" translate>STATUS</label>
          <p ng-if="codDetail.form.unextractedSMS.transactionStatus != codDetail.transactionStatus.S503" translate>{{codDetail.form.unextractedSMS.transactionStatus}}</p>
          <p>
            <b ng-if="codDetail.form.unextractedSMS.transactionStatus == codDetail.transactionStatus.S8" translate style="color: darkgreen">S8</b>
          </p>
        </div>
        <div class="col-md-12">
          <label for="sentReason" translate>SENT_REASON</label>
          <p translate> {{codDetail.form.unextractedSMS.sentReason}}</p>
        </div>
      </div>
      <div class="col-md-10">
        <div ba-panel ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <div class="row">
              <div class="col-md-12">
                <table class="table" st-table="displayedCods" st-safe-src="codDetail.form.codDetails">
                  <thead>
                    <tr class="sortable">
                      <th st-sort="checked" st-sort-default="reverse">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </th>
                      <th st-sort="kaitoBillOfLading" translate>KAITO_BILL_OF_LADING</th>
                      <th st-sort="partnerBillOfLading" translate>PARTNER_BILL_OF_LADING</th>
                      <th st-sort="nameOfCod" translate>NAME_OF_COD</th>
                      <th st-sort="timeOfPayment" translate>TIME_OF_PAYMENT</th>
                      <th st-sort="orderCode" translate>ORDER_CODE</th>
                      <th st-sort="transactionStatus" translate>TRANSACTION_STATUS</th>
                      <th st-sort="actualReceivedMoney" translate>SO_TIEN_NOP</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input st-search="partnerBillOfLading" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_PARTNER_BILL_OF_LADING' }"
                        />
                      </th>
                      <th>
                        <input st-search="nameOfCod" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_NAME_OF_COD' }"
                        />
                      </th>
                      <th>
                      </th>
                      <th>
                      </th>
                      <th>
                        <input st-search="orderCode" class="input-sm form-control search-input" type="search" translate-attr="{ placeholder: 'SEARCH_ORDER_CODE' }"
                        />
                      </th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in displayedCods track by $index" ng-class="{info : item.checked}">
                      <td>
                        <div class="checkbox">
                          <label class="custom-checkbox">
                            <input type="checkbox" ng-checked="codDetail.selection.indexOf(item.id) > -1" ng-click="codDetail.toggleSelection(item.id)">
                            <span>
                              <span>&nbsp;</span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        {{item.kaitoBillOfLading}}
                      </td>
                      <td>
                        {{item.partnerBillOfLading}}
                      </td>
                      <td>{{item.nameOfCod}}</td>
                      <td>{{item.timeOfPayment | appDatetime}}</td>
                      <td>{{item.orderCode}}</td>
                      <td>{{item.transactionStatus}}</td>
                      <td>{{item.actualReceivedMoney |number:0}}</td>

                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <b>{{codDetail.form.sumAmountMoney |number:0}}</b>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="adjustMoney">
                <b translate>ADJUST_MONEY</b>
              </label>
              <input type="text" class="form-control" id="adjustMoney" format-money placeholder="{{'ADJUST_MONEY'|translate}}" ng-model="codDetail.form.adjustedMoney">
            </div>
            <div class="form-group">
              <label for="adjustMoneyReason">
                <b translate>ADJUST_MONEY_REASON</b>
              </label>
              <input type="text" class="form-control" id="adjustMoneyReason" placeholder="{{'ADJUST_MONEY_REASON'|translate}}" ng-model="codDetail.form.reasonAjustMoney">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->