<section ng-controller="morrisCtrl">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Line Chart" ba-panel-class="with-scroll">
        <div
            line-chart
            line-data='lineData'
            line-xkey='y'
            line-xlabels = '["day"]'
            line-ykeys='["a"]'
            line-labels='[""]'
            line-colors='colors'>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div ba-panel ba-panel-title="Donut" ba-panel-class="with-scroll">
        <div
            donut-chart
            donut-data='donutData'
            donut-colors='colors'

            donut-formatter='"currency"'>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div ba-panel ba-panel-title="Bar Chart" ba-panel-class="with-scroll ">
        <div
            bar-chart
            bar-data='barData'
            bar-x='y'
            bar-y='["a", "b"]'
            bar-labels='["Series A", "Series B"]'
            bar-colors='colors'>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Area Chart" ba-panel-class="with-scroll">
        <div
            area-chart
            area-data='areaData'
            area-xkey='y'
            area-ykeys='["a", "b"]' %
            area-labels='["Serie A", "Serie B"]'
            line-colors='colors'>
        </div>
      </div>
    </div>
  </div>
</section>