<div ng-init="paymentGateway.init()">
  <div class="col-md-9 col-md-9-padding">

    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate>THONG_TIN_CHUNG</H4>
      </div>
      <div class="panel-body">

        <div class="">
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TIME_OF_PAYMENT</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{paymentGateway.form.timeOfPayment | appDate}} </div>
          </div>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>NGUOI_THANH_TOAN</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{paymentGateway.form.firstName + ' ' + paymentGateway.form.lastName}} </div>
          </div>

          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>SO_DIEN_THOAI</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{paymentGateway.form.phoneNumber}} </div>
          </div>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>EMAIL</label>
          </div>
          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{paymentGateway.form.email}} </div>

          </div>
          <br/>
          <br/>
          <br/>

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>AMOUNT_MONEY</label>
          </div>

          <div class="col-md-4">
            <div class="bottom-border ng-binding">{{paymentGateway.form.amountMoney |number:0}} ₫ </div>
          </div>

          <div class="col-md-4"></div>

          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>PAYMENT_CONTENT</label>
          </div>
          <div class="col-md-10">
            <div class="bottom-border ng-binding">{{paymentGateway.form.paymentContent}} </div>
          </div>

        </div>
      </div>
    </div>
    <div class="panelCustom">
      <div class="panel-heading">
        <H4 translate> THONG_TIN_DON_HANG</H4>

      </div>
      <div class="panel-body">
        <div class="">

          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>ORDER_CODE</label>
          </div>
          <div class="col-md-2 ui-select-padding" ng-show="paymentGateway.isShowEditOrderCode && (paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S1
          || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S3)" >
            <ui-select ng-model="paymentGateway.form.donHang" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true"
              search-enabled="true" ng-change="paymentGateway.loadDetail(paymentGateway.form.donHang)">
              <ui-select-match placeholder="{{paymentGateway.form.orderCode || 'chon Order Code...'}}">
                {{$select.selected.orderCode}}
              </ui-select-match>
              <ui-select-choices repeat="orderItem in paymentGateway.listOrder | filter: $select.search" style="width: 320px !important">
                <div ng-bind-html="orderItem.orderId | highlight: $select.search"></div>
                <small>{{orderItem.orderCode}} | {{orderItem.tvts}}</small>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-2" ng-show="!paymentGateway.isShowEditOrderCode || (paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S2
          || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S4 || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S8)">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.orderCode == null}">
                  {{paymentGateway.form.orderCode}}
            </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TONG_SO_TIEN_PHAI_THU</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.order.tongTienPhaiThu == null}">{{paymentGateway.form.order.tongTienPhaiThu |number:0}}
              <span ng-if="paymentGateway.form.order.tongTienPhaiThu">đ</span>
            </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.order.orderStatusObject.name == null}">{{paymentGateway.form.order.orderStatusObject.name}} </div>
          </div>

          <br/>
          <br/>
          <br/>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TVTS</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.order.tvts == null}">{{paymentGateway.form.order.tvts}} </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>DA_THANH_TOAN</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.order.tongTienDaThanhToan == null}">{{paymentGateway.form.order.tongTienDaThanhToan |number:0}}
              <span ng-if="paymentGateway.form.order.tongTienDaThanhToan">đ</span>
            </div>
          </div>
          <div class="col-md-2">
            <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>CREATED_AT</label>
          </div>
          <div class="col-md-2">
            <div class="bottom-border ng-binding" data-ng-class="{'padding-null-content': paymentGateway.form.order.createdAt == null}">{{paymentGateway.form.order.createdAt | appDate}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panelCustom paymentGatewayMinHeight">
      <div class="panel-heading">
        <h4 translate>CHUNG_TU</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>MERCHANT_ID</label>
        </div>
        <div class="col-md-8">
          <div class="bottom-border ng-binding">{{paymentGateway.form.merchantId}} </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>CARD_NUMBER</label>
        </div>
        <div class="col-md-8">
          <div class="bottom-border ng-binding">{{paymentGateway.form.cardNumber}} </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>LOAI_GIAO_DICH</label>
        </div>
        <div class="col-md-8">
          <!-- <select class="form-control" id="loaiGiaoDich" name="loaiGiaoDich" ng-model="paymentGateway.form.typeOfTransaction">
            <option ng-repeat="item in paymentGateway.listTypeOfTransaction" value="{{item.id}}" translate>{{item.name}}</option>
          </select> -->
          <p>
            <b ng-if="paymentGateway.form.typeOfTransaction == null" translate>NOT_INFORMATION</b>
            <b ng-if="paymentGateway.form.typeOfTransaction != null" translate>{{paymentGateway.form.typeOfTransaction}}</b>
          </p>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
        </div>
        <div class="col-md-8">
          <div>
            <p>
              <b ng-if="paymentGateway.form.ssrsTransactionStatus == null" translate></b>
              <b ng-if="paymentGateway.form.ssrsTransactionStatus != null" translate style="color:dodgerblue">{{paymentGateway.form.ssrsTransactionStatus}}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-4 padding5">
          <label for="donViHuong" data-toggle="tooltip" data-placement="top" translate>FAST_ID</label>
        </div>
        <div class="col-md-8">
          <div>
            <p>
              <b ng-if="paymentGateway.form.fastId == null" translate>NOT_INFORMATION</b>
              <b ng-if="paymentGateway.form.fastId != null" translate style="color:dodgerblue">{{paymentGateway.form.fastId}}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-md-12 col-md-12-padding">
  <div class="panelCustom">
    <div class="panel-heading">
      <h4 translate>CHI_TIET_DON_HANG</h4>
    </div>
    <div class="panel-body">

      <table class="table table-striped table-bordered" id="step_two">
        <thead>
          <tr>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>STT</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>USER_CODE</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>HO_TEN_HOC_VIEN</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SDT</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>EMAIL</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>GOI_HOC_KHOA_HOC</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>GIA_BAN</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_DA_NOP</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>SO_TIEN_NOP</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>TRANG_THAI</label>
            </td>
            <td class="text-center">
              <label data-toggle="tooltip" data-placement="top" translate>TONG_TIEN_CHUA_THANH_TOAN</label>
            </td>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in paymentGateway.form.orderDetails track by $index">
            <td class="text-center">{{ $index + 1 }}</td>
            <td class="text-left">
              <p>
                {{item.topicaUser.topicaUserId}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.topicaUser.fullName}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.topicaUser.phoneNumber1}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.topicaUser.email}}
              </p>
            </td>
            <td class="text-left">
              <p>
                {{item.package.maGoi}}
              </p>
            </td>
            <td class="text-right">
              <p>
                {{item.giaBanSauKhuyenMai |number:0}}
                <span>đ</span>
              </p>
            </td>
            <td class="text-right">
              <p>
                {{item.soTienDaNop - item.soTienNopHienTaiCu  |number:0}}
                <span ng-if="item.soTienDaNop"> đ</span>
              </p>
            </td>            
            <td class="text-left">
                {{item.soTienNopHienTai |number:0}}
                <span ng-if="item.soTienNopHienTai"> đ</span>
              <!-- <input type="text" pattern="[0-9]+([\.,][0-9]+)*" format-money class="form-control input-sm" id="soTienNopHienTai" name="soTienNopHienTai"
                ng-model="item.soTienNopHienTai"> -->
            </td>
            <td class="text-left">
              <p>
                {{paymentGateway.form.order.orderStatus}}
              </p>
            </td>
            <td class="text-right">
              <p>
                {{item.soTienPhaiNop - item.soTienDaNop - item.soTru|number:0}} đ
              </p>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 text-right pull-right padding5">
    <button type="button" ng-click="paymentGateway.confirmDialog('HỦY XÁC NHẬN ĐÚNG DỮ LIỆU GIAO DỊCH',paymentGateway.correctSingleData , 0)" class="btn btn-primary btn-with-icon"
      permission="PaymentGateways.UpdateCorrectSingleDataOfTransManage" ng-show="paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S4
      || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S3">
      <i class="fa fa-check"></i>
      <span translate>UNCORRECT_DATA</span>
    </button>
    <button type="button" ng-click="paymentGateway.confirmDialog('',paymentGateway.correctSingleData , 1)" class="btn btn-primary btn-with-icon"
      permission="PaymentGateways.UpdateCorrectSingleDataOfTransManage" ng-show="paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S1
      || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S2">
      <i class="fa fa-check"></i>
      <span translate>CORRECT_DATA</span>
    </button>
    <button type="button" ng-click="paymentGateway.confirmDialog('HỦY MAPPING DỮ LIỆU GIAO DỊCH',paymentGateway.confirm , 0)" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateConfirmSinglePaymentGatewayOfTransManage" 
      ng-show="paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S2
      || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S4">
      <i class="fa fa-anchor"></i>
      <span translate>UNCONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="paymentGateway.confirmDialog('',paymentGateway.confirm , 1)" class="btn btn-primary btn-with-icon" permission="PaymentGateways.UpdateConfirmSinglePaymentGatewayOfTransManage"
      ng-show="paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S1
      || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S3">
      <i class="fa fa-anchor"></i>
      <span translate>CONFIRM_MAPPING</span>
    </button>
    <button type="button" ng-click="paymentGateway.save()" class="btn btn-primary btn-with-icon" ng-show="paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S1
    || paymentGateway.form.ssrsTransactionStatus == paymentGateway.transactionStatus.S3" permission = "PaymentGateways.Update">
      <i class="fa fa-floppy-o"></i>
      <span translate>SAVE</span>
    </button>
    <button type="button" class="btn btn-default btn-with-icon pull-left" ng-click="paymentGateway.back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span translate>BACK</span>
    </button>
  </div>
</div>

</div>
</div>